/** popOver.less */

// block
// =====

.js .popOver {
    .mixin-shadow-3;
    background-clip: padding-box;
    border: fade(@color-main-20, 30%) 1px solid;
    position: absolute;
    z-index: 601;
}

.popOver {
    background: @color-main-25;
    border-radius: (@defaultBorderRadius * 1px);
    border: @color-main-23 1px solid;
}

// elements
// ========

.popOver__wrapper {
    display: inline-block;
    position: relative;
}
