/** popover.less */

// block
// =====

.popOver {
    background: @color-base-25;
    border-radius: (@defaultBorderRadius * 1px);
    border: @color-base-23 1px solid;
    display: none;
}

.js .popOver {
    .mixin-shadow-3;
    background-clip: padding-box;
    border: fade(@color-base-20, 30%) 1px solid;
    display: block;
    position: absolute;
    z-index: 601;
}

// elements
// ========

.popOver__wrapper {
    display: inline-block;
    position: relative;
}
