/** stepper.less */

// block
// =====

.stepper {

    .mixin-userSelectNone;
    .mixin-defaultBorderRadius;
    background: linear-gradient(to bottom, @color-main-12, @color-main-10);
    border: @color-main-8 1px solid;
    box-shadow: 0 1px 0 @color-main-13 inset;
    box-sizing: border-box;
    color: @color-main-25;
    display: inline-block;
    font-size: 0;
    height: 4rem;
    margin: 0;
    position: relative;
    
    &:hover {
        background: linear-gradient(to bottom, @color-main-10, @color-main-8);
        border-color: @color-main-5;
    }

}

// elements
// ========

// optional icon

.stepper .icon {

    filter: drop-shadow(0 -1px 0 @color-main-10);
    margin: .3rem .5rem;
    position: absolute;
    right: 0;
    top: 0;

    circle, ellipse, path, polygon {
        fill: @color-white;
    }

}

// minus & plus icons

.stepper__iconMinus,
.stepper__iconPlus {
    filter: drop-shadow(0 -1px 0 @color-main-10);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 100%;
}

// input

.stepper__input.stepper__input {
    border: 0;
    display: inline-block;
    font-size: 2rem;
    height: 3.2rem;
    margin: .3rem;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 6rem;
}

.js .stepper__input {
    margin-left: 3rem
}

// submit

.stepper__submit {

    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: @color-main-25;
    cursor: pointer;
    display: inline-block;
    font: bold 1.5rem/3.8rem @font-sansserif;
    outline: 0;
    padding: 0 1.5rem 0 1rem;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 0 @color-main-7;
    vertical-align: top;
    z-index: 2;

    // hidden label

    &.is--invisible {
        opacity: 0;
        overflow: hidden;
        padding: 0;
        width: 4rem;
    }

}

.icon + .stepper__submit {
    padding-right: 4rem;
}

// minus & plus button

.stepper__btnMinus,
.stepper__btnPlus {

    background: linear-gradient(to bottom, @color-main-17, @color-main-14);
    border: 0;
    box-shadow: 0 1px 0 @color-main-20 inset;
    cursor: pointer;
    height: 1.9rem;
    left: 0;
    position: absolute;
    width: 2.5rem;
    z-index: 2;

    &:hover {
        background: linear-gradient(to bottom, @color-main-16, @color-main-13);
        box-shadow: 0 1px 0 @color-main-19 inset;
    }

    &:active {
        background: linear-gradient(to bottom, @color-main-11, @color-main-14);
        box-shadow: none;
    }

    &:focus {}

}

.stepper__btnMinus {
    border-radius: 0 0 0 (@defaultBorderRadius * 1px);
    bottom: 0;
}

.stepper__iconMinus {
    .mixin-icon-bg(@id: 'icon-002-s', @fillColor: @color-main-23, @width: 24, @height: 24);
}

.stepper__btnPlus {
    border-radius: (@defaultBorderRadius * 1px) 0 0 0;
    top: 0;
}

.stepper__iconPlus {
    .mixin-icon-bg(@id: 'icon-003-s', @fillColor: @color-main-23, @width: 24, @height: 24);
}

// modifiers
// =========

.stepper--light {

    background: @color-white;
    border-color: @color-main-23;
    box-shadow: none;

    &:hover {
        background: @color-white;
        border-color: @color-main-22;
    }

    .icon {

        filter: none;

        circle, ellipse, path, polygon {
            fill: @color-main-8;
        }

    }

    .stepper__icon {
        filter: none;
    }

    .stepper__input {
        background: @color-main-24;
        box-shadow: none;
    }

    .stepper__input.stepper__input,
    .stepper__input.stepper__input:hover,
    .stepper__input.stepper__input:focus {
        box-shadow: none;
    }

    .stepper__submit {
        text-shadow: none;
        color: @color-main-8;
    }

    .stepper__btnMinus,
    .stepper__btnPlus {

        background: transparent;
        box-shadow: none;

        &:hover {
            background: @color-main-24;
        }

        &:focus {}

    }

    .stepper__iconMinus {
        .mixin-icon-bg(@id: 'icon-002-s', @fillColor: @color-main-10, @width: 24, @height: 24);
    }

    .stepper__iconPlus {
        .mixin-icon-bg(@id: 'icon-003-s', @fillColor: @color-main-10, @width: 24, @height: 24);
    }

}

.stepper--touch {

    .stepper__input.stepper__input {
        width: 4.5rem;
        height: 3.2rem;
    }

    .js & .stepper__input {
        margin-left: 8.6rem;
    }

    .stepper__btnMinus,
    .stepper__btnPlus {
        border-radius: 0;
        height: 3.8rem;
        top: 0;
        width: 4rem;
    }

    .stepper__btnMinus {
        left: 4.1rem;
    }

    .stepper__btnPlus {
        left: 0;
    }

    .stepper__iconMinus {
        .mixin-icon-bg(@id: 'icon-002-s', @fillColor: @color-main-23);
    }

    .stepper__iconPlus {
        .mixin-icon-bg(@id: 'icon-003-s', @fillColor: @color-main-23);
    }

    &.stepper--light {

        .stepper__iconMinus {
            .mixin-icon-bg(@id: 'icon-002-s', @fillColor: @color-main-10);
        }

        .stepper__iconPlus {
            .mixin-icon-bg(@id: 'icon-003-s', @fillColor: @color-main-10);
        }

    }

}
