/** stepper.less */

// block
// =====

.stepper {

    .mixin-userSelectNone;
    .mixin-defaultBorderRadius;
    background: linear-gradient(to bottom, @color-base-12, @color-base-11);
    border: @color-base-9 1px solid;
    box-shadow: 0 1px 0 @color-base-13 inset;
    box-sizing: border-box;
    color: @color-base-25;
    display: inline-block;
    font-size: 0;
    height: 2.5rem;
    margin: 0;
    position: relative;
    
    &:hover {
        background: linear-gradient(to bottom, @color-base-13, @color-base-8);
        border-color: @color-base-5;
    }

}

// elements
// ========

// up & down icons

.stepper__iconDown,
.stepper__iconUp {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 100%;
}

// input

.stepper__input.stepper__input {
    .mixin-fs-3;
    border: 0;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin: .2rem;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 3.75rem;
}

.js .stepper__input {
    margin-left: 2rem
}

// submit

.stepper__submit {

    .mixin-fs-2;
    .mixin-fw-bold;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: @color-base-25;
    cursor: pointer;
    display: inline-block;
    line-height: 2.25rem;
    outline: 0;
    padding: 0 1rem 0 .5rem;
    position: relative;
    text-align: center;
    vertical-align: top;
    z-index: 2;

    // hidden label

    &.is--invisible {
        opacity: 0;
        overflow: hidden;
        padding: 0;
        width: 1.5rem;
    }

}

.icon + .stepper__submit {
    padding-right: 2rem;
}

// minus & plus button

.stepper__buttonDown,
.stepper__buttonUp {

    border: 0;
    cursor: pointer;
    height: 1.19rem;
    left: 0;
    position: absolute;
    width: 1.75rem;
    z-index: 2;

    &:hover {
        background: @color-base-16;
    }

    &:active {
        background: @color-base-16;
    }

    &:focus {}

}

.stepper__buttonDown {
    border-radius: 0 0 0 (@defaultBorderRadius * 1px);
    bottom: 0;
}

.stepper__iconDown {
    .mixin-icon-chevron-down(@color: @color-base-23);
}

.stepper__buttonUp {
    border-radius: (@defaultBorderRadius * 1px) 0 0 0;
    top: 0;
}

.stepper__iconUp {
    .mixin-icon-chevron-up(@color: @color-base-23);
}

// modifiers
// =========

.stepper--touch {

    .js & .stepper__input {
        margin-left: 5.25rem;
    }

    .stepper__buttonDown,
    .stepper__buttonUp {
        border-radius: 0;
        height: ~'calc(2.5rem - 2px)';
        top: 0;
        width: 2.5rem;
    }

    .stepper__buttonDown {
        left: 2.5rem;
    }

    .stepper__buttonUp {
        left: 0;
    }

    .stepper__iconDown {
        .mixin-icon-chevron-down(@color: @color-base-23, @size: 32);
    }

    .stepper__iconUp {
        .mixin-icon-chevron-up(@color: @color-base-23, @size: 32);
    }

}
