/** stepcrumb.less */

// block
// =====

.stepCrumb {

    counter-reset: i;
    display: inline-block;
    font-size: 0;
    left: -.5rem;
    list-style: none;
    padding-bottom: -.5rem;
    position: relative;
    white-space: nowrap;

    // line

    &::after {
        background: @color-base-23;
        bottom: -.5rem;
        content: ' ';
        display: block;
        height: .2rem;
        left: 2rem;
        position: absolute;
        right: 2rem;
    }

}

// elements
// ========

// item

.stepCrumb__item {

    color: @color-base-8;
    display: inline-block;
    font-size: 1.3rem;
    height: 4rem;
    line-height: 4rem;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 4rem;

    // step number

    &::after {
        .mixin-defaultBorderRadius;
        background: @color-base-23;
        content: counter(i);
        counter-increment: i;
        display: inline-block;
        font-weight: bold;
        height: 3rem;
        left: .5rem;
        line-height: 3rem;
        position: absolute;
        top: .5rem;
        width: 3rem;
        z-index: 2;
    }

    // connecting line

    &::before {
        background: @color-base-23;
        bottom: -.5rem;
        content: ' ';
        display: block;
        height: 1.5rem;
        left: 1.9rem;
        position: absolute;
        width: .2rem;
        z-index: 1;
    }
    
    // mouseover
    
    &:hover::after {
        background: @color-base-22;
    }

}

// link

.stepCrumb__link {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

// label

.stepCrumb__label {
    color: @color-positive-8;
    display: none;
    padding: 0 0 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

// last step label

.stepCrumb__item:last-child .stepCrumb__label {
    position: absolute;
    top: -2.5rem;
}

// modifiers
// =========

// step highlighting

.stepCrumb--step1 .stepCrumb__item:nth-child(1),
.stepCrumb--step2 .stepCrumb__item:nth-child(2),
.stepCrumb--step3 .stepCrumb__item:nth-child(3),
.stepCrumb--step4 .stepCrumb__item:nth-child(4),
.stepCrumb--step5 .stepCrumb__item:nth-child(5),
.stepCrumb--step6 .stepCrumb__item:nth-child(6),
.stepCrumb--step7 .stepCrumb__item:nth-child(7),
.stepCrumb--step8 .stepCrumb__item:nth-child(8),
.stepCrumb--step9 .stepCrumb__item:nth-child(9),
.stepCrumb--step10 .stepCrumb__item:nth-child(10) {

    color: @color-positive-8;
    padding: 0 .5rem 0 3.5rem;
    width: auto;

    // step number

    &::after {
        background: @color-positive-10;
        color: @color-positive-24;
    }
    
    &:hover::after {
        background: @color-positive-8;
    }
    
    // show the label, only on current step
    
    .stepCrumb__label {
        display: inline;
    }
    
    // adjust positioning
    
    .stepCrumb__link {
        display: inline-block;
        height: auto;
        left: -3rem;
        margin-right: -4rem;
        padding-left: 3rem;
        padding-right: 1rem;
        position: relative;
        text-decoration: none;
        width: auto;
    }

}
