/** note.less */

// block
// =====

.note {
    .mixin-clearfix;
    .noteConstructor;
    .mixin-defaultBorderRadius;
    display: block;
    font-family: @font-sansserif;
    padding: 1rem;
    position: relative;
}

// elements
// ========

// dismiss/close button

.note .buttonDismiss {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// headline

.note__headline {
    .mixin-fs-2;
    .mixin-lh-3;
    margin: 0 0 .5rem 0;
}

// body

.note__body {

    // typography

    p:first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    ul {

        padding-left: 2rem;

        li {
            margin-bottom: 1rem;
        }

    }

    // visually seperate multiple bodies

    & + & {
        border-top-style: solid;
        border-top-width: 1px;
        margin-top: 1rem;
        padding-top: 1rem;
    }

}

// modifiers
// =========

// colors

.note--attention {
    .noteConstructor(
        @txtColor: @color-attention-10,
        @bgColor: @color-attention-22
    );
}

.note--dark {
    .noteConstructor(
        @txtColor: @color-base-25,
        @bgColor: @color-base-10
    );
}

.note--negative {
    .noteConstructor(
        @txtColor: @color-negative-10,
        @bgColor: @color-negative-24
    );
}

.note--light {
    .noteConstructor(
        @bgColor: @color-white
    );
}

.note--positive {
    .noteConstructor(
        @txtColor: @color-positive-10,
        @bgColor: @color-positive-24
    );
}

// grouped notes

.notes {

    .note:first-child {
        border-radius: (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0 0;
    }

    .note + .note {
        border-radius: 0;
    }

    .note:last-child {
        border-radius: 0 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px);
    }

    .note:only-child {
        .mixin-defaultBorderRadius;
    }

}

// dismissable notes (see notifications.js)

.note[yoi-dismissable] {
    padding-right: 4rem;
}

// constructor
// ===========

.noteConstructor(@txtColor: @color-base-10, @bgColor: @color-base-25) {

    background: @bgColor;
    color: @txtColor;

    .note__headline {
        color: @txtColor;
    }

}
