/** iconmenu.less */

// block
// =====

.iconMenu {
    
    border-top: @color-main-23 1px solid;
    margin: 0 2rem 2rem 0;
    
    ul& {
        list-style: none;
    }
    
}

// elements
// ========

.iconMenu__item {
    border-bottom: @color-main-23 1px solid;
    position: relative;
    line-height: 2rem;
}

.iconMenu__link {
    
    display: block;
    font-size: 2rem;
    padding: 2rem 1.5rem 2rem 5rem;
    text-decoration: none;
    
    &:link, &:visited {
        color: @color-main-10;
        text-decoration: none;
    }
    
    &:hover {
        background: @color-main-25;
    }
    
}

.iconMenu .icon {
    
    left: 1rem;
    position: absolute;
    top: 1.25rem;
    
    circle, ellipse, path, polygon {
        fill: @color-main-17;
    }
    
}

.iconMenu .badge {
    position: absolute;
    right: 1rem;
}

// modifiers
// =========

.iconMenu__item.is--active {
    
   background: @color-main-24;
   color: @color-main-8;
   
   circle, ellipse, path, polygon {
       fill: @color-main-8;
   }

}