/** textinputs.less */

// blocks
// ======

// all text inputs

.input {
    .mixin-clearAppearance;
    .mixin-defaultBorderRadius;
    background: @color-white;
    border: @color-base-20 1px solid;
    box-shadow: 0 1px 0 @color-base-24 inset;
    box-sizing: border-box;
    color: @color-base-8;
    display: inline-block;
    font: normal 1rem @font-sansserif;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    transition: all 100ms ease-in-out;
    width: 100%;
}


// textarea

textarea.input {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 10rem;
    resize: vertical;
}

// modifiers
// =========

// size

.input.input--small {
    font-size: .88rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .25rem;
}

.input.input--large {
    font-size: 1.13rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .75rem;
}

// style

.input.input--rounded {
    border-radius: 1rem;
}

.input.input--large.input--rounded {
    border-radius: 1.25rem;
}

// validation

.input,
.textarea {

    // negative

    &.is--negative,
    .is--negative & {
        border-color: @color-negative-15;
        color: @color-negative-8;
    }

    // positive

    &.is--positive,
    .is--positive & {
        border-color: @color-positive-15;
        color: @color-positive-8;
    }

}

// interactive states

.input,
.textarea {

    &.is--focus,
    &:focus {
        .mixin-defaultFocus;
        background-color: @color-white;
        color: @color-base-8;
    }

    &.is--disabled,
    &[disabled] {
        background-color: @color-white;
        border: @color-base-20 1px solid;
        color: @color-base-8;
        cursor: default;
        opacity: .5;
    }

    &.is--disabled {
        color: @color-base-17;
    }

    &.is--readonly,
    &[readonly] {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        cursor: default;
    }

    &[required] {}

}

// placeholders

::-webkit-input-placeholder                 { color: @color-base-8; }
.is--negative::-webkit-input-placeholder    { color: @color-negative-8; }
.is--positive::-webkit-input-placeholder    { color: @color-positive-8; }

:-moz-placeholder                           { color: @color-base-8; }
.is--negative::-moz-input-placeholder       { color: @color-negative-8; }
.is--positive::-moz-input-placeholder       { color: @color-positive-8; }
