/** pagedots.less */

// block
// =====

.pageDots {
    .mixin-userSelectNone;
    background: @color-white;
    border-radius: .75rem;
    display: inline-block;
    font-size: 0;
    height: 1.5rem;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
}

// elements
// ========

.pageDots__dot,
.pageDots__buttonPrev,
.pageDots__buttonNext {

    color: @color-base-21;
    cursor: pointer;
    display: inline-block;

    // icons

    &::after {
        content: ' ';
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
    }

}

.pageDots__dot {
    height: 1.5rem;
    width: 1.5rem;
}

.pageDots__buttonPrev,
.pageDots__buttonNext {
    height: 1.5rem;
    width: 2rem;
}

// dot icon

.pageDots__dot::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-22);
}

.pageDots__dot:hover::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-17);
}

.pageDots__dot.is--active::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-primary-15);
}

// arrow-left icon

.pageDots__buttonPrev::after {
    .mixin-icon-chevron-left(@color: @color-base-15);
}

.pageDots__buttonPrev:hover::after {
    .mixin-icon-chevron-left(@color: @color-base-8);
}

// arrow-right icon

.pageDots__buttonNext::after {
    .mixin-icon-chevron-right(@color: @color-base-15);
}

.pageDots__buttonNext:hover::after {
    .mixin-icon-chevron-right(@color: @color-base-8);
}

// disabled

.pageDots__buttonPrev.is--disabled::after ,
.pageDots__buttonNext.is--disabled::after {
    cursor: default;
    opacity: .3;
}

.pageDots__buttonPrev.is--disabled:hover::after {
    .mixin-icon-chevron-left(@color: @color-base-15);
}

.pageDots__buttonNext.is--disabled:hover::after {
    .mixin-icon-chevron-right(@color: @color-base-15);
}

// modifiers
// =========

.pageDots--dark {

    background: @color-base-8;

    // dot icon

    .pageDots__dot::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-12);
    }

    .pageDots__dot:hover::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-18);
    }

    .pageDots__dot.is--active::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-primary-23);
    }

    // arrow-left icon

    .pageDots__buttonPrev::after {
        .mixin-icon-chevron-left(@color: @color-base-17);
    }

    .pageDots__buttonPrev:hover::after {
        .mixin-icon-chevron-left(@color: @color-base-23);
    }

    // arrow-right icon

    .pageDots__buttonNext::after {
        .mixin-icon-chevron-right(@color: @color-base-17);
    }

    .pageDots__buttonNext:hover::after {
        .mixin-icon-chevron-right(@color: @color-base-23);
    }

    // disabled

    .pageDots__buttonPrev.is--disabled:hover::after {
        .mixin-icon-chevron-left(@color: @color-base-17);
    }

    .pageDots__buttonNext.is--disabled:hover::after {
        .mixin-icon-chevron-right(@color: @color-base-17);
    }

}

.pageDots--subtle {
    background: transparent;
}
