/** pagedots.less */

// block
// =====

.pageDots {
    .mixin-userSelectNone;
    background: @color-white;
    border-radius: 1.2rem;
    display: inline-block;
    font-size: 0;
    height: 2.5rem;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
}

// elements
// ========

.pageDots__dot,
.pageDots__btnPrev,
.pageDots__btnNext {

    color: @color-base-21;
    cursor: pointer;
    display: inline-block;

    // icons

    &::after {
        content: ' ';
        display: inline-block;
        height: 2.5rem;
        width: 2rem;
    }

}

.pageDots__dot {
    height: 2.5rem;
    width: 2rem;
}

.pageDots__btnPrev,
.pageDots__btnNext {
    height: 2.5rem;
    width: 3rem;
}

// dot icon

.pageDots__dot::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-22);
}

.pageDots__dot:hover::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-17);
}

.pageDots__dot.is--active::after {
    .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-8);
}

// arrow-left icon

.pageDots__btnPrev::after {
    .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-15);
}

.pageDots__btnPrev:hover::after {
    .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-8);
}

// arrow-right icon

.pageDots__btnNext::after {
    .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-15);
}

.pageDots__btnNext:hover::after {
    .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-8);
}

// disabled

.pageDots__btnPrev.is--disabled::after ,
.pageDots__btnNext.is--disabled::after {
    cursor: default;
    opacity: .3;
}

.pageDots__btnPrev.is--disabled:hover::after {
    .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-15);
}

.pageDots__btnNext.is--disabled:hover::after {
    .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-15);
}

// modifiers
// =========

.pageDots--dark {

    background: @color-base-8;

    // dot icon

    .pageDots__dot::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-12);
    }

    .pageDots__dot:hover::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-base-18);
    }

    .pageDots__dot.is--active::after {
        .mixin-icon-bg(@id: 'icon-079-s', @width: 24, @height: 24, @fillColor: @color-white);
    }

    // arrow-left icon

    .pageDots__btnPrev::after {
        .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-17);
    }

    .pageDots__btnPrev:hover::after {
        .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-23);
    }

    // arrow-right icon

    .pageDots__btnNext::after {
        .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-17);
    }

    .pageDots__btnNext:hover::after {
        .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-23);
    }

    // disabled

    .pageDots__btnPrev.is--disabled:hover::after {
        .mixin-icon-bg(@id: 'icon-008-s', @width: 24, @height: 24, @fillColor: @color-base-17);
    }

    .pageDots__btnNext.is--disabled:hover::after {
        .mixin-icon-bg(@id: 'icon-007-s', @width: 24, @height: 24, @fillColor: @color-base-17);
    }

}

.pageDots--subtle {
    background: transparent;
}
