{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Visual Debugging
Use the [option variables](docs/pages/theme/options.html) of your [theme](docs/pages/theme/_introduction.html) to include styles that are only applied if certain _debug flags_ were set. You can highlight BEM-style elements (__elements, --modifiers), certain utility classes or even display the currently active media query.

|                |                                              |
| -              | -                                            |
| Less-File      | [debug.less](assets/less/core/debug.less)    |
| Less-File      | [debug.less](assets/less/theme/options.less) |
{% endmarkdown %}

{% endblock %}
