/** options.less */

@broadCastActiveMediaqueryToJs: true;
@debugMediaquery:               false;
@debugGrid:                     false;
@debugBemElements:              false;
@debugBemModifiers:             false;
@debugImages:                   false;
@debugFloats:                   false;
@dynamicSvgDomain:              'http://cdn.yoshino.digital/svg.php';
