/** badge.less */

// block
// =====

.badge {

    .mixin-defaultBorderRadius;
    display: inline-block;
    font: bold 1.3rem/2rem @font-sansserif;
    padding: 0 1rem;
    text-align: center;
    text-shadow: none;

    // badge as link

    a& {
        text-decoration: none;
    }

}

// modifiers
// =========

.badge--small {
    font: bold 1.1rem/1.5rem @font-sansserif;
    padding: 0 .5rem;
}

.badge--medium {
    font: bold 1.5rem/2.5rem @font-sansserif;
}

.badge--large {
    font: bold 2rem/3rem @font-sansserif;
    padding: 0 15px;
}

.badge {
    .constr-badge(
        @txtColor: @color-base-10,
        @bgColor: @color-base-23,
        @txtColorHover: @color-base-9,
        @bgColorHover: @color-base-22
    )
}

.badge--dark {
    .constr-badge(
        @txtColor: @color-base-25,
        @bgColor: @color-base-10,
        @txtColorHover: @color-base-24,
        @bgColorHover: @color-base-9
    )
}

.badge--light {
    .constr-badge(
        @txtColor: @color-base-10,
        @bgColor: @color-base-25,
        @txtColorHover: @color-base-9,
        @bgColorHover: @color-base-24
    )
}

.badge--attention {
    .constr-badge(
        @txtColor: @color-attention-5,
        @bgColor: @color-attention-20,
        @txtColorHover: @color-attention-4,
        @bgColorHover: @color-attention-19
    )
}

.badge--error,
.badge--negative {
    .constr-badge(
        @txtColor: @color-negative-8,
        @bgColor: @color-negative-21,
        @txtColorHover: @color-negative-7,
        @bgColorHover: @color-negative-20
    )
}

.badge--success,
.badge--positive {
    .constr-badge(
        @txtColor: @color-positive-10,
        @bgColor: @color-positive-22,
        @txtColorHover: @color-positive-9,
        @bgColorHover: @color-positive-21
    )
}

.badge--rounded {
    border-radius: 1.1rem;
}

.badge--small.badge--rounded {
    border-radius: .7rem;
}

.badge--medium.badge--rounded {
    border-radius: 1.2rem;
}

.badge--large.badge--rounded {
    border-radius: 1.5rem;
}

// constructor
// ===========

.constr-badge(@txtColor, @bgColor, @txtColorHover, @bgColorHover) {

    background: @bgColor;
    color: @txtColor;

    a&:hover {
        background: @bgColorHover;
        color: @txtColorHover;
    }

}
