/** badge.less */

// block
// =====

.badge {

    .mixin-defaultBorderRadius;
    display: inline-block;
    font: bold 1rem @font-sansserif;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .75rem;
    text-align: center;
    text-shadow: none;

    // badge as link

    a& {
        text-decoration: none;
    }

}

// modifiers
// =========

.badge--small {
    font: bold .88rem @font-sansserif;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .5rem;
}

.badge--large {
    font: bold 1.13rem @font-sansserif;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
}

.badge--xlarge {
    font: bold 1.25rem @font-sansserif;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
}

.badge {
    .constr-badge(
        @txtColor: @color-base-10,
        @bgColor: @color-base-23,
        @txtColorHover: @color-base-9,
        @bgColorHover: @color-base-22
    )
}

.badge--dark {
    .constr-badge(
        @txtColor: @color-base-25,
        @bgColor: @color-base-10,
        @txtColorHover: @color-base-24,
        @bgColorHover: @color-base-9
    )
}

.badge--light {
    .constr-badge(
        @txtColor: @color-base-10,
        @bgColor: @color-base-25,
        @txtColorHover: @color-base-9,
        @bgColorHover: @color-base-24
    )
}

.badge--attention {
    .constr-badge(
        @txtColor: @color-attention-5,
        @bgColor: @color-attention-20,
        @txtColorHover: @color-attention-4,
        @bgColorHover: @color-attention-19
    )
}

.badge--negative {
    .constr-badge(
        @txtColor: @color-negative-8,
        @bgColor: @color-negative-21,
        @txtColorHover: @color-negative-7,
        @bgColorHover: @color-negative-20
    )
}

.badge--positive {
    .constr-badge(
        @txtColor: @color-positive-10,
        @bgColor: @color-positive-22,
        @txtColorHover: @color-positive-9,
        @bgColorHover: @color-positive-21
    )
}

.badge--rounded {
    border-radius: .95rem;
}

.badge--small.badge--rounded {
    border-radius: .7rem;
}

.badge--large.badge--rounded {
    border-radius: 1.2rem;
}

.badge--xlarge.badge--rounded {
    border-radius: 1.7rem;
}

// badge groups

.badges {
    
    font-size: 0;
    
    .badge {
        
        border-radius: 0;

        &:first-child {
            border-bottom-left-radius: @defaultBorderRadius * 1px;
            border-top-left-radius: @defaultBorderRadius * 1px;
        }

        &:last-child {
            border-bottom-right-radius: @defaultBorderRadius * 1px;
            border-top-right-radius: @defaultBorderRadius * 1px;
        }
        
    }
    
    .badge--rounded {
        
        border-radius: 0;

        &:first-child {
            border-bottom-left-radius: @defaultBorderRadius * 1.1rem;
            border-top-left-radius: @defaultBorderRadius * 1.1rem;
        }

        &:last-child {
            border-bottom-right-radius: @defaultBorderRadius * 1.1rem;
            border-top-right-radius: @defaultBorderRadius * 1.1rem;
        }
        
    }

}

// constructor
// ===========

.constr-badge(@txtColor, @bgColor, @txtColorHover, @bgColorHover) {

    background: @bgColor;
    color: @txtColor;

    a&:hover {
        background: @bgColorHover;
        color: @txtColorHover;
    }

}
