.DS_Store
bower_components
docs/.jekyll-metadata
docs/.sass-cache
docs/_site/
docs/Gemfile.lock
node_modules
.vscode/launch.json
.vscode/settings.json
dist/css/yoi.css
docs/assets/css/yoi.css
docs/assets/css/yoi.css
