/** linklist.less */

// block
// =====

.linkList {
    .mixin-defaultBorderRadius;
    .mixin-fs-2;
    border: @color-base-23 1px solid;
}

// elements
// ========

.linkList__item {

    border-bottom: @color-base-24 1px solid;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;

    &:last-child {
        border-bottom: 0;
    }

}

.linkList__link {

    color: @color-base-8;
    display: block;
    font-family: @font-sansserif;
    padding: .5rem 1rem;
    position: relative;

    &:active,
    &:link,
    &:visited {
        color: @color-base-8;
        text-decoration: none;
    }

    // hover

    &:hover {
        background: @color-base-25;
    }

}

// active

.is--active .linkList__link::before {
    background: @color-primary-15;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
