{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## How to Use This Documentation
This documentation was thoughtfully written and structured to make it easy to read and understand. It’s written in English – like all inline comments inside the code files.

### Navigation
The documentation feature two menus. First, there is a large scrollable menu on the very right edge of the screen. It slides into view on mouse over. This is the main menu: it let’s you navigate all the pages of the documentation. A second menu can be found in the header. There are two prominent buttons that lead to the templates for the desktop and mobile version of the site.

### Examples
Examples can be found on most pages. They can display both the rendered element and it’s markup. The code featues syntax-hightlighting for better readability.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <span class="elementClassname">element</span>
    </div>
</div>

{% markdown %}
Some examples have options to **toggle the code block** and to **toggle the example background** between light (default) and dark.
{% endmarkdown %}

<div class="documentation__block" yoi-docblock="addControls:true;">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <span class="elementClassname">element</span>
    </div>
</div>

{% if basePath == '/' %}
    {% markdown %}
    ### Links to Source Files
    Most element pages start with a tabular overview (e.g. [Pie Chart](/pages/elements/pieChart.html)). These tables contain basic information about the very element and links to it’s associated JavaScript and Less files. On click, the file content is displayed in a full-size pop over with syntax highlighting.
    {% endmarkdown %}
    <p>
        <a href="/assets/js/elements/pieChart.js" class="btn btn--large">Open Example Code</a>
    </p>
    {% markdown %}
    Use the button above to open the source code of the pie chart script as an example.
    {% endmarkdown %}
{% endif %}

{% markdown %}
### Notes
Notes display important information – restrictions, possible browser quirks, best practices, etc.
{% endmarkdown %}

<div class="note note--error note--large b-0">
    <h3 class="note__headline">Warning!</h3>
    <div class="note__body">
        <p>This information is extremely important! Don’t miss it.</p>
    </div>
</div>

<div class="note note--subtle note--large">
    <h3 class="note__headline">Attention!</h3>
    <div class="note__body">
        <p>This information provides better understanding or offers a hint.</p>
    </div>
</div>

{% endblock %}
