/** button.less */

// specs / constants
// =================

@button-borderwidth    : 1px;

@button-s-fontsize     : .88rem;
@button-s-height       : 1.5rem;
@button-s-paddingBase  : .5rem;
@button-s-lineheight   : ~'calc(@{button-s-height} - @{button-borderwidth} * 2)';
@button-s-xpadding     : ~'calc(@{button-s-paddingBase} - @{button-borderwidth})';
@button-s-xpull        : ~'calc((@{button-s-paddingBase} - @{button-borderwidth}) * -1)';

@button-fontsize       : 1rem;
@button-height         : 2rem;
@button-paddingBase    : .75rem;
@button-lineheight     : ~'calc(@{button-height} - @{button-borderwidth} * 2)';
@button-xpadding       : ~'calc(@{button-paddingBase} - @{button-borderwidth})';
@button-xpull          : ~'calc((@{button-paddingBase} - @{button-borderwidth}) * -1)';

@button-l-fontsize     : 1.13rem;
@button-l-height       : 2.5rem;
@button-l-paddingBase  : 1rem;
@button-l-lineheight   : ~'calc(@{button-l-height} - @{button-borderwidth} * 2)';
@button-l-xpadding     : ~'calc(@{button-l-paddingBase} - @{button-borderwidth})';
@button-l-xpull        : ~'calc((@{button-l-paddingBase} - @{button-borderwidth}) * -1)';

@button-xl-fontsize    : 1.25rem;
@button-xl-height      : 3rem;
@button-xl-paddingBase : 1.5rem;
@button-xl-lineheight  : ~'calc(@{button-xl-height} - @{button-borderwidth} * 2)';
@button-xl-xpadding    : ~'calc(@{button-xl-paddingBase} - @{button-borderwidth})';
@button-xl-xpull       : ~'calc((@{button-xl-paddingBase} - @{button-borderwidth}) * -1)';

// block (base styles for all buttons)
// ===================================

.btn {

    .mixin-clearAppearance;
    .mixin-defaultBorderRadius;
    .mixin-userSelectNone;
    background-clip: padding-box;
    border-width: @button-borderwidth;
    border-style: solid;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font-family: @font-sansserif;
    font-size: @button-fontsize;
    font-weight: bold;
    height: @button-height;
    line-height: @button-lineheight;
    padding: 0 @button-xpadding;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    // submit element inside button

    input[type="submit"] {
        border: 0;
        bottom: 0;
        color: inherit;
        font-family: inherit;
        font-weight: bold;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    // <a> as button

    a&,
    a:link&,
    a:visited& {
        text-decoration: none;
        cursor: pointer;
    }

    // interactive states

    &:hover {
        text-decoration: none;
    }

    &:active,
    &.is--active {
        box-shadow: none;
    }

    &:focus,
    &.is--focus,
    &.is--focus:hover {
        .mixin-defaultFocus;
    }

    &.is--disabled,
    &.is--disabled:hover,
    &.is--disabled:active {
        cursor: default;
        opacity: .3;
    }

    // standard button

    .constr-btn(
        @bgGradientTopColor: @color-base-24,
        @bgGradientBottomColor: @color-base-23,
        @borderColor: @color-base-21,
        @txtColor: @color-base-8,
        @highlightColor: @color-base-25,
        @bgGradientTopColorHover: @color-base-23,
        @bgGradientBottomColorHover: @color-base-22,
        @borderColorHover: @color-base-20,
        @txtColorHover: @color-base-8,
        @highlightColorHover: @color-base-24,
        @bgGradientTopColorActive: @color-base-21,
        @bgGradientBottomColorActive: @color-base-22,
        @borderColorActive: @color-base-20,
        @txtColorActive: @color-base-8,
        @highlightColorActive: @color-transparent
    );

}

// elements
// ========

.btn {

    // & > input[type="submit"] {
    //     cursor: pointer;
    // }

    .icon {
        background: rgba(255,0,0,.1);

        height: @button-height;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: @button-height;
        top: @button-borderwidth * -1;
    }

    &.btn--small .icon {
        height: @button-s-height;
        width: @button-s-height;
    }

    &.btn--large .icon {
        height: @button-l-height;
        width: @button-l-height;
    }

    &.btn--xlarge .icon {
        height: @button-xl-height;
        width: @button-xl-height;
    }

    // icon right, label left

    &.btn--small .icon:last-child {
        margin-right: @button-s-xpull;
    }

    .icon:last-child {
        margin-right: @button-xpull;
    }

    &.btn--large .icon:last-child {
        margin-right: @button-l-xpull;
    }

    &.btn--xlarge .icon:last-child {
        margin-right: @button-xl-xpull;
    }

    // icon left, label right

    &.btn--small .icon:first-child {
        margin-left: @button-s-xpull;
    }

    .icon:first-child {
        margin-left: @button-xpull;
    }

    &.btn--large .icon:first-child {
        margin-left: @button-l-xpull;
    }

    &.btn--xlarge .icon:first-child {
        margin-left: @button-xl-xpull;
    }

    // only icons, hidden or no label

    &.btn--small .hidden + .icon,
    &.btn--small .icon:only-child {
        margin-left: @button-s-xpull;
        margin-right: -9px; // 4 + 5
        left: @button-borderwidth * -1;
    }

    .hidden + .icon,
    .icon:only-child {
        margin-left: @button-xpull;
        margin-right: -13px; // 8 + 5
        left: @button-borderwidth * -1;
    }

    &.btn--large .hidden + .icon,
    &.btn--large .icon:only-child {
        left: @button-borderwidth * -1;
        margin-left: @button-l-xpull;
        margin-right: -17px; // 12 + 5
    }

    &.btn--xlarge .hidden + .icon,
    &.btn--xlarge .icon:only-child {
        left: @button-borderwidth * -1;
        margin-left: @button-xl-xpull;
        margin-right: -25px; // 20 + 5
    }

}

// modifiers
// =========

// size

.btn--small {
    font-size: @button-s-fontsize;
    height: @button-s-height;
    line-height: @button-s-lineheight;
    padding: 0 @button-s-xpadding;
}

.btn--large {
    font-size: @button-l-fontsize;
    height: @button-l-height;
    line-height: @button-l-lineheight;
    padding: 0 @button-l-xpadding;
}

.btn--xlarge {
    font-size: @button-xl-fontsize;
    height: @button-xl-height;
    line-height: @button-xl-lineheight;
    padding: 0 @button-xl-xpadding;
}

// colors

.btn--primary {
    .constr-btn(
        @bgGradientTopColor: @color-primary-13,
        @bgGradientBottomColor: @color-primary-11,
        @borderColor: @color-primary-10,
        @txtColor: @color-white,
        @highlightColor: @color-primary-14,
        @bgGradientTopColorHover: @color-primary-11,
        @bgGradientBottomColorHover: @color-primary-9,
        @borderColorHover: @color-primary-6,
        @txtColorHover: @color-white,
        @highlightColorHover: @color-primary-13,
        @bgGradientTopColorActive: @color-primary-6,
        @bgGradientBottomColorActive: @color-primary-9,
        @borderColorActive: @color-primary-6,
        @txtColorActive: @color-primary-25,
        @highlightColorActive: @color-transparent
    );
}

.btn--light {
    .constr-btn(
        @bgGradientTopColor: @color-base-25,
        @bgGradientBottomColor: @color-base-24,
        @borderColor: @color-base-22,
        @txtColor: @color-base-12,
        @highlightColor: @color-white,
        @bgGradientTopColorHover: @color-base-24,
        @bgGradientBottomColorHover: @color-base-23,
        @borderColorHover: @color-base-21,
        @txtColorHover: @color-base-9,
        @highlightColorHover: @color-white,
        @bgGradientTopColorActive: @color-base-23,
        @bgGradientBottomColorActive: @color-base-24,
        @borderColorActive: @color-base-22,
        @txtColorActive: @color-base-10,
        @highlightColorActive: @color-transparent
    );
}

.btn--dark {
    .constr-btn(
        @bgGradientTopColor: @color-base-12,
        @bgGradientBottomColor: @color-base-11,
        @borderColor: @color-base-9,
        @txtColor: @color-white,
        @highlightColor: @color-base-13,
        @bgGradientTopColorHover: @color-base-13,
        @bgGradientBottomColorHover: @color-base-8,
        @borderColorHover: @color-base-5,
        @txtColorHover: @color-white,
        @highlightColorHover: @color-base-12,
        @bgGradientTopColorActive: @color-base-5,
        @bgGradientBottomColorActive: @color-base-8,
        @borderColorActive: @color-base-5,
        @txtColorActive: @color-base-25,
        @highlightColorActive: @color-transparent
    );
}

.btn--attention {
    .constr-btn(
        @bgGradientTopColor: @color-attention-21,
        @bgGradientBottomColor: @color-attention-19,
        @borderColor: @color-attention-18,
        @txtColor: @color-attention-6,
        @highlightColor: @color-attention-22,
        @bgGradientTopColorHover: @color-attention-20,
        @bgGradientBottomColorHover: @color-attention-19,
        @borderColorHover: @color-attention-16,
        @txtColorHover: @color-attention-6,
        @highlightColorHover: @color-attention-22,
        @bgGradientTopColorActive: @color-attention-18,
        @bgGradientBottomColorActive: @color-attention-21,
        @borderColorActive: @color-attention-16,
        @txtColorActive: @color-attention-8,
        @highlightColorActive: @color-transparent
    );
}

.btn--negative {
    .constr-btn(
        @bgGradientTopColor: @color-negative-21,
        @bgGradientBottomColor: @color-negative-19,
        @borderColor: @color-negative-18,
        @txtColor: @color-negative-6,
        @highlightColor: @color-negative-22,
        @bgGradientTopColorHover: @color-negative-20,
        @bgGradientBottomColorHover: @color-negative-18,
        @borderColorHover: @color-negative-17,
        @txtColorHover: @color-negative-6,
        @highlightColorHover: @color-negative-21,
        @bgGradientTopColorActive: @color-negative-17,
        @bgGradientBottomColorActive: @color-negative-19,
        @borderColorActive: @color-negative-15,
        @txtColorActive: @color-negative-6,
        @highlightColorActive: @color-transparent
    );
}

.btn--positive {
    .constr-btn(
        @bgGradientTopColor: @color-positive-21,
        @bgGradientBottomColor: @color-positive-19,
        @borderColor: @color-positive-18,
        @txtColor: @color-positive-7,
        @highlightColor: @color-positive-22,
        @bgGradientTopColorHover: @color-positive-20,
        @bgGradientBottomColorHover: @color-positive-18,
        @borderColorHover: @color-positive-17,
        @txtColorHover: @color-positive-7,
        @highlightColorHover: @color-positive-21,
        @bgGradientTopColorActive: @color-positive-18,
        @bgGradientBottomColorActive: @color-positive-21,
        @borderColorActive: @color-positive-16,
        @txtColorActive: @color-positive-8,
        @highlightColorActive: @color-transparent
    );
}

// style

.btn--rounded {

    border-radius: 1rem;

    &.btn--small {
        border-radius: .75rem;
    }

    &.btn--large {
        border-radius: 1.25rem;
    }

    &.btn--xlarge {
        border-radius: 1.5rem;
    }

}

.btn--clip {
    overflow: hidden;
    text-overflow: ellipsis;
}

// grouped buttons
// ===============

.btns {

    font-size: 0;
    position: relative;

    .btn {
        border-radius: 0;
        margin-left: -1px;
    }

    .btn:first-child {
        border-radius: (1px * @defaultBorderRadius) 0 0 (1px * @defaultBorderRadius);
    }

    .btn:last-child {
        border-radius: 0 (1px * @defaultBorderRadius) (1px * @defaultBorderRadius) 0;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: (6px * @defaultBorderRadius) 0 0 (6px * @defaultBorderRadius);
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 (6px * @defaultBorderRadius) (6px * @defaultBorderRadius) 0;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: (5px * @defaultBorderRadius) 0 0 (5px * @defaultBorderRadius);
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 (5px * @defaultBorderRadius) (5px * @defaultBorderRadius) 0;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: (7.5px * @defaultBorderRadius) 0 0 (7.5px * @defaultBorderRadius);
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 (7.5px * @defaultBorderRadius) (7.5px * @defaultBorderRadius) 0;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: (10px * @defaultBorderRadius) 0 0 (10px * @defaultBorderRadius);
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 (10px * @defaultBorderRadius) (10px * @defaultBorderRadius) 0;
    }

}

.btns--vertical {

    .btn {
        display: block;
        width: 100%;
        border-top-width: 0;
        margin: 0;
    }

    .btn:first-child {
        border-top-width: 1px;
        border-radius: 2px 2px 0 0;
    }

    .btn.btn--outline:first-child {
        border-top-width: 2px;
    }

    .btn:last-child {
        border-radius: 0 0 2px 2px;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: 1.2rem 1.2rem 0 0;
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 0 1.2rem 1.2rem;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: 1rem 1rem 0 0;
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 0 1rem 1rem;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    // xlarge, rounded

    .btn.btn--xlarge.btn--rounded:first-child {
        border-radius: 2rem 2rem 0 0;
    }

    .btn.btn--xlarge.btn--rounded:last-child {
        border-radius: 0 0 2rem 2rem;
    }

}

// constructor
// ===========

.constr-btn (
    @bgGradientTopColor,
    @bgGradientBottomColor,
    @borderColor,
    @txtColor,
    @highlightColor,
    @bgGradientTopColorHover,
    @bgGradientBottomColorHover,
    @borderColorHover,
    @txtColorHover,
    @highlightColorHover,
    @bgGradientTopColorActive,
    @bgGradientBottomColorActive,
    @borderColorActive,
    @txtColorActive,
    @highlightColorActive) {

    background: linear-gradient(to bottom, @bgGradientTopColor, @bgGradientBottomColor);
    border-color: @borderColor;
    box-shadow: 0 1px 0 @highlightColor inset;
    color: @txtColor;

    .icon {
        svg circle, svg ellipse, svg path, svg polygon { fill: @txtColor; }
    }

    a&,
    a:link&,
    a:visited& {
        color: @txtColorHover;
    }

    &:hover {
        background: linear-gradient(to bottom, @bgGradientTopColorHover, @bgGradientBottomColorHover);
        border-color: @borderColorHover;
        box-shadow: 0 1px 0 @highlightColorHover inset;
        color: @txtColorHover;
    }

    &:active,
    &.is--active {
        background: linear-gradient(to bottom, @bgGradientTopColorActive, @bgGradientBottomColorActive);
        border-color: @borderColorActive;
        box-shadow: 0 1px 0 @highlightColorActive inset;
        color: @txtColorActive;
    }

}
