/** button-flat.less */

// base
// ====

.btn.btn--flat {
    
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    
    .icon {
        filter: none;
    }
    
    // interactive states

    &:hover {
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

    &:active,
    &.is--active {
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

}

// modifiers
// =========

.btn.btn--flat {
    .constr-btnFlat(
        @txtColor: @color-base-8,
        @bgColor: @color-base-22,
        @bgColorHover: @color-base-21,
        @bgColorActive: @color-base-20
    )
}

.btn--flat.btn--primary {
    .constr-btnFlat(
        @txtColor: @color-primary-25,
        @bgColor: @color-primary-10,
        @bgColorHover: @color-primary-9,
        @bgColorActive: @color-primary-8
    )
}

.btn--flat.btn--light {
    .constr-btnFlat(
        @txtColor: @color-base-10,
        @bgColor: @color-base-24,
        @bgColorHover: @color-base-23,
        @bgColorActive: @color-base-22
    )
}

.btn--flat.btn--dark {
    .constr-btnFlat(
        @txtColor: @color-base-25,
        @bgColor: @color-base-10,
        @bgColorHover: @color-base-9,
        @bgColorActive: @color-base-8
    )
}

.btn--flat.btn--attention {
    .constr-btnFlat(
        @txtColor: @color-attention-8,
        @bgColor: @color-attention-20,
        @bgColorHover: @color-attention-19,
        @bgColorActive: @color-attention-18
    )
}

.btn--flat.btn--error,
.btn--flat.btn--negative {
    .constr-btnFlat(
        @txtColor: @color-negative-5,
        @bgColor: @color-negative-17,
        @bgColorHover: @color-negative-16,
        @bgColorActive: @color-negative-15
    )
}

.btn--flat.btn--success,
.btn--flat.btn--positive {
    .constr-btnFlat(
        @txtColor: @color-positive-5,
        @bgColor: @color-positive-18,
        @bgColorHover: @color-positive-17,
        @bgColorActive: @color-positive-16
    )
}

// constructor
// ===========

.constr-btnFlat(@txtColor, @bgColor, @bgColorHover, @bgColorActive) {
    
    background: @bgColor;
    color: @txtColor;
    
    a&,
    a:link&,
    a:visited& {
        color: @txtColor;
    }

    &:hover {
        background: @bgColorHover;
    }

    &:active,
    &.is--active {
        background: @bgColorActive;
    }
    
    .icon circle, ellipse, path, polygon {
        fill: @txtColor;
    }
    
}