/** button-flat.less */

// flat button
// ===========

.btn.btn--flat {

    background: @color-main-22;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;

    .icon {
        filter: none;
    }

    // interactive states

    &:hover {
        background: @color-main-24;
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

    &:active,
    &.btn--active {
        background: @color-main-20;
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

    // style modifiers

    &.btn--light {

        background: @color-main-24;
        color: @color-main-10;
        text-shadow: none;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-main-10;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-main-10;
        }

        &:hover {
            background: @color-main-23;
        }

        &:active,
        &.btn--active {
            background: @color-main-22;
        }

    }

    &.btn--dark {

        background: @color-main-10;
        color: @color-main-25;
        text-shadow: none;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-main-25;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-main-25;
        }

        &:hover {
            background: @color-main-12;
        }

        &:active,
        &.btn--active {
            background: @color-main-8;
        }

    }

    &.btn--attention {

        background: @color-attention-20;
        color: @color-attention-8;
        text-shadow: none;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-attention-8;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-attention-8;
        }

        &:hover {
            background: @color-attention-19;
        }

        &:active,
        &.btn--active {
            background: @color-attention-16;
        }

    }

    &.btn--error,
    &.btn--negative {

        background: @color-negative-17;
        color: @color-negative-5;
        text-shadow: none;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-negative-5;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-negative-5;
        }

        &:hover {
            background: @color-negative-19;
        }

        &:active,
        &.btn--active {
            background: @color-negative-15;
        }

    }

    &.btn--success,
    &.btn--positive {

        background: @color-positive-18;
        color: @color-positive-5;
        text-shadow: none;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-positive-5;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-positive-5;
        }

        &:hover {
            background: @color-positive-19;
        }

        &:active,
        &.btn--active {
            background: @color-positive-15;
        }

    }

}