/** button.less */

// block
// =====

.btn {

    .mixin-clearAppearance;
    .mixin-defaultBorderRadius;
    .mixin-userSelectNone;
    background-clip: padding-box;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font-family: @font-sansserif;
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    line-height: ~'calc(2rem - 2px)';
    padding: 0 ~'calc(.75rem - 2px)';
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    // submit element inside button

    input[type="submit"] {
        border: 0;
        bottom: 0;
        color: inherit;
        font-family: inherit;
        font-weight: bold;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    // <a> as button

    a&,
    a:link&,
    a:visited& {
        text-decoration: none;
        cursor: pointer;
    }

    // & > input[type="submit"] {
    //     cursor: pointer;
    // }

    // interactive states

    &:hover {
        text-decoration: none;
    }

    &:active,
    &.is--active {
        box-shadow: none;
    }

    &:focus,
    &.is--focus,
    &.is--focus:hover {
        .mixin-defaultFocus;
    }

    &.is--disabled,
    &.is--disabled:hover,
    &.is--disabled:active {
        cursor: default;
        opacity: .3;
    }

    // icons

    .icon {

        height: 100%;
        overflow: hidden;
        position: relative;
        vertical-align: top;

        svg {
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    // icon right, label left

    .icon:last-child {
        margin-right: -1rem;
    }

    &.btn--small .icon:last-child {
        margin-right: -0.4rem;
    }

    &.btn--large .icon:last-child {
        margin-right: -1.5rem;
    }

    // icon left, label right

    .icon:first-child {
        margin-left: -1rem;
    }

    &.btn--small .icon:first-child {
        margin-left: -0.75rem;
    }

    &.btn--large .icon:first-child {
        margin-left: -1.5rem;
    }

    // only icons, hidden or no label

    .hidden + .icon,
    .icon:only-child {
        margin-left: -1rem;
        width: 2.75rem;
    }

    &.btn--small .hidden + .icon,
    &.btn--small .icon:only-child {
        margin-left: -.4rem;
        width: 2rem;
    }

    &.btn--medium .hidden + .icon,
    &.btn--medium .icon:only-child {
        margin-left: -1.2rem;
        width: 3rem;
    }

    &.btn--large .hidden + .icon,
    &.btn--large .icon:only-child {
        margin-right: -2rem;
        margin-left: -2rem;
        width: 4rem;
    }

    // standard button

    .constr-btn(
        @bgGradientTopColor: @color-base-24,
        @bgGradientBottomColor: @color-base-23,
        @borderColor: @color-base-21,
        @txtColor: @color-base-8,
        @highlightColor: @color-base-25,
        @bgGradientTopColorHover: @color-base-23,
        @bgGradientBottomColorHover: @color-base-22,
        @borderColorHover: @color-base-20,
        @txtColorHover: @color-base-8,
        @highlightColorHover: @color-base-24,
        @bgGradientTopColorActive: @color-base-21,
        @bgGradientBottomColorActive: @color-base-22,
        @borderColorActive: @color-base-20,
        @txtColorActive: @color-base-8,
        @highlightColorActive: @color-transparent
    );

}

// modifiers
// =========

// size

.btn--small {
    font-size: .88rem;
    line-height: ~'calc(1.5rem - 2px)';
    padding: 0 ~'calc(.5rem - 2px)';
    height: 1.5rem;
}

.btn--medium {
    font-size: 1.13rem;
    line-height: ~'calc(2.5rem - 2px)';
    height: 2.5rem;
    padding: 0 ~'calc(1rem - 2px)';
}

.btn--large {
    font-size: 1.25rem;
    height: 3rem;
    line-height: ~'calc(3rem - 2px)';
    padding: 0 ~'calc(1.5rem - 2px)';
}

// colors

.btn--primary {
    .constr-btn(
        @bgGradientTopColor: @color-primary-13,
        @bgGradientBottomColor: @color-primary-11,
        @borderColor: @color-primary-10,
        @txtColor: @color-white,
        @highlightColor: @color-primary-14,
        @bgGradientTopColorHover: @color-primary-11,
        @bgGradientBottomColorHover: @color-primary-9,
        @borderColorHover: @color-primary-6,
        @txtColorHover: @color-white,
        @highlightColorHover: @color-primary-13,
        @bgGradientTopColorActive: @color-primary-6,
        @bgGradientBottomColorActive: @color-primary-9,
        @borderColorActive: @color-primary-6,
        @txtColorActive: @color-primary-25,
        @highlightColorActive: @color-transparent
    );
}

.btn--light {
    .constr-btn(
        @bgGradientTopColor: @color-base-25,
        @bgGradientBottomColor: @color-base-24,
        @borderColor: @color-base-22,
        @txtColor: @color-base-12,
        @highlightColor: @color-white,
        @bgGradientTopColorHover: @color-base-24,
        @bgGradientBottomColorHover: @color-base-23,
        @borderColorHover: @color-base-21,
        @txtColorHover: @color-base-9,
        @highlightColorHover: @color-white,
        @bgGradientTopColorActive: @color-base-23,
        @bgGradientBottomColorActive: @color-base-24,
        @borderColorActive: @color-base-22,
        @txtColorActive: @color-base-10,
        @highlightColorActive: @color-transparent
    );
}

.btn--dark {
    .constr-btn(
        @bgGradientTopColor: @color-base-12,
        @bgGradientBottomColor: @color-base-11,
        @borderColor: @color-base-9,
        @txtColor: @color-white,
        @highlightColor: @color-base-13,
        @bgGradientTopColorHover: @color-base-13,
        @bgGradientBottomColorHover: @color-base-8,
        @borderColorHover: @color-base-5,
        @txtColorHover: @color-white,
        @highlightColorHover: @color-base-12,
        @bgGradientTopColorActive: @color-base-5,
        @bgGradientBottomColorActive: @color-base-8,
        @borderColorActive: @color-base-5,
        @txtColorActive: @color-base-25,
        @highlightColorActive: @color-transparent
    );
}

.btn--attention {
    .constr-btn(
        @bgGradientTopColor: @color-attention-21,
        @bgGradientBottomColor: @color-attention-19,
        @borderColor: @color-attention-18,
        @txtColor: @color-attention-6,
        @highlightColor: @color-attention-22,
        @bgGradientTopColorHover: @color-attention-20,
        @bgGradientBottomColorHover: @color-attention-19,
        @borderColorHover: @color-attention-16,
        @txtColorHover: @color-attention-6,
        @highlightColorHover: @color-attention-22,
        @bgGradientTopColorActive: @color-attention-18,
        @bgGradientBottomColorActive: @color-attention-21,
        @borderColorActive: @color-attention-16,
        @txtColorActive: @color-attention-8,
        @highlightColorActive: @color-transparent
    );
}

.btn--negative {
    .constr-btn(
        @bgGradientTopColor: @color-negative-21,
        @bgGradientBottomColor: @color-negative-19,
        @borderColor: @color-negative-18,
        @txtColor: @color-negative-6,
        @highlightColor: @color-negative-22,
        @bgGradientTopColorHover: @color-negative-20,
        @bgGradientBottomColorHover: @color-negative-18,
        @borderColorHover: @color-negative-17,
        @txtColorHover: @color-negative-6,
        @highlightColorHover: @color-negative-21,
        @bgGradientTopColorActive: @color-negative-17,
        @bgGradientBottomColorActive: @color-negative-19,
        @borderColorActive: @color-negative-15,
        @txtColorActive: @color-negative-6,
        @highlightColorActive: @color-transparent
    );
}

.btn--positive {
    .constr-btn(
        @bgGradientTopColor: @color-positive-21,
        @bgGradientBottomColor: @color-positive-19,
        @borderColor: @color-positive-18,
        @txtColor: @color-positive-7,
        @highlightColor: @color-positive-22,
        @bgGradientTopColorHover: @color-positive-20,
        @bgGradientBottomColorHover: @color-positive-18,
        @borderColorHover: @color-positive-17,
        @txtColorHover: @color-positive-7,
        @highlightColorHover: @color-positive-21,
        @bgGradientTopColorActive: @color-positive-18,
        @bgGradientBottomColorActive: @color-positive-21,
        @borderColorActive: @color-positive-16,
        @txtColorActive: @color-positive-8,
        @highlightColorActive: @color-transparent
    );
}

// style

.btn--rounded {

    border-radius: 1rem;

    &.btn--small {
        border-radius: .75rem;
    }

    &.btn--medium {
        border-radius: 1.25rem;
    }

    &.btn--large {
        border-radius: 1.5rem;
    }

}

.btn--clip {
    overflow: hidden;
    text-overflow: ellipsis;
}

// grouped buttons
// ===============

.btns {

    font-size: 0;
    position: relative;

    .btn {
        border-radius: 0;
        margin-left: -1px;
    }

    .btn:first-child {
        border-radius: (1px * @defaultBorderRadius) 0 0 (1px * @defaultBorderRadius);
    }

    .btn:last-child {
        border-radius: 0 (1px * @defaultBorderRadius) (1px * @defaultBorderRadius) 0;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: (6px * @defaultBorderRadius) 0 0 (6px * @defaultBorderRadius);
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 (6px * @defaultBorderRadius) (6px * @defaultBorderRadius) 0;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: (5px * @defaultBorderRadius) 0 0 (5px * @defaultBorderRadius);
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 (5px * @defaultBorderRadius) (5px * @defaultBorderRadius) 0;
    }

    // medium, rounded

    .btn.btn--medium.btn--rounded:first-child {
        border-radius: (7.5px * @defaultBorderRadius) 0 0 (7.5px * @defaultBorderRadius);
    }

    .btn.btn--medium.btn--rounded:last-child {
        border-radius: 0 (7.5px * @defaultBorderRadius) (7.5px * @defaultBorderRadius) 0;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: (10px * @defaultBorderRadius) 0 0 (10px * @defaultBorderRadius);
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 (10px * @defaultBorderRadius) (10px * @defaultBorderRadius) 0;
    }

}

.btns--vertical {

    .btn {
        display: block;
        width: 100%;
        border-top-width: 0;
        margin: 0;
    }

    .btn:first-child {
        border-top-width: 1px;
        border-radius: 2px 2px 0 0;
    }

    .btn.btn--outline:first-child {
        border-top-width: 2px;
    }

    .btn:last-child {
        border-radius: 0 0 2px 2px;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: 1.2rem 1.2rem 0 0;
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 0 1.2rem 1.2rem;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: 1rem 1rem 0 0;
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 0 1rem 1rem;
    }

    // medium, rounded

    .btn.btn--medium.btn--rounded:first-child {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .btn.btn--medium.btn--rounded:last-child {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: 2rem 2rem 0 0;
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 0 2rem 2rem;
    }

}

// constructor
// ===========

.constr-btn (
    @bgGradientTopColor,
    @bgGradientBottomColor,
    @borderColor,
    @txtColor,
    @highlightColor,
    @bgGradientTopColorHover,
    @bgGradientBottomColorHover,
    @borderColorHover,
    @txtColorHover,
    @highlightColorHover,
    @bgGradientTopColorActive,
    @bgGradientBottomColorActive,
    @borderColorActive,
    @txtColorActive,
    @highlightColorActive) {

    background: linear-gradient(to bottom, @bgGradientTopColor, @bgGradientBottomColor);
    border-color: @borderColor;
    box-shadow: 0 1px 0 @highlightColor inset;
    color: @txtColor;

    .icon {
        svg circle, svg ellipse, svg path, svg polygon { fill: @txtColor; }
    }

    a&,
    a:link&,
    a:visited& {
        color: @txtColorHover;
    }

    &:hover {
        background: linear-gradient(to bottom, @bgGradientTopColorHover, @bgGradientBottomColorHover);
        border-color: @borderColorHover;
        box-shadow: 0 1px 0 @highlightColorHover inset;
        color: @txtColorHover;
    }

    &:active,
    &.is--active {
        background: linear-gradient(to bottom, @bgGradientTopColorActive, @bgGradientBottomColorActive);
        border-color: @borderColorActive;
        box-shadow: 0 1px 0 @highlightColorActive inset;
        color: @txtColorActive;
    }

}
