/** button-outline.less */

// outline button
// ==============

.btn.btn--outline {

    background: transparent;
    border-width: 2px;
    box-shadow: none;
    color: @color-main-12;
    line-height: 2.1rem;
    padding: 0 0.9rem;
    text-shadow: none;

    // icon

    .icon {

        filter: none;

        circle, ellipse, path, polygon {
            fill: @color-main-20;
        }

    }

    // <a> as button

    a&,
    a:link&,
    a:visited& {
        color: @color-main-20;
    }

    // interactive states

    &:hover {
        border-color: @color-main-20;
        box-shadow: none;
        text-shadow: none;
    }

    // size modifiers

    &.btn--small {
        line-height: 1.7rem;
        padding: 0 0.4rem;
    }

    &.btn--medium {
        line-height: 2.6rem;
    }

    &.btn--large {
        line-height: 3.6rem;
        padding: 0 1.8rem;
    }

    // style modifiers

    &.btn--light {

        background: transparent;
        border-color: fade(@color-white,70%);
        color: @color-white;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-white;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-white;
        }

        &:hover {
            border-color: fade(@color-white,90%);
        }

    }

    &.btn--dark {

        background: transparent;
        border-color: @color-main-11;
        color: @color-main-9;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-main-9;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-main-9;
        }

        &:hover {
            border-color: @color-main-5;
        }

    }

    &.btn--attention {

        background: transparent;
        border-color: @color-attention-15;
        color: @color-attention-12;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-attention-15;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-attention-15;
        }

        &:hover {
            border-color: @color-attention-12;
        }

    }

    &.btn--error,
    &.btn--negative {

        background: transparent;
        border-color: @color-negative-18;
        color: @color-negative-15;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-negative-18;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-negative-18;
        }

        &:hover {
            border-color: @color-negative-15;
        }

    }

    &.btn--success,
    &.btn--positive {

        background: transparent;
        border-color: @color-positive-15;
        color: @color-positive-12;

        .icon {
            circle, ellipse, path, polygon {
                fill: @color-positive-15;
            }
        }

        a&,
        a:link&,
        a:visited& {
            color: @color-positive-15;
        }

        &:hover {
            border-color: @color-positive-12;
        }

    }

}