/** buttonflat.less */

// base
// ====

.button.button--flat {
    
    border-color: transparent;
    box-shadow: none;
    
    // interactive states

    &:hover {
        border-color: transparent;
        box-shadow: none;
    }

    &:active,
    &.is--active {
        border-color: transparent;
        box-shadow: none;
    }

}

// modifiers
// =========

.button.button--flat {
    .constr-buttonFlat(
        @txtColor: @color-base-8,
        @bgColor: @color-base-22,
        @bgColorHover: @color-base-21,
        @bgColorActive: @color-base-20
    )
}

.button--flat.button--primary {
    .constr-buttonFlat(
        @txtColor: @color-white,
        @bgColor: @color-primary-10,
        @bgColorHover: @color-primary-9,
        @bgColorActive: @color-primary-8
    )
}

.button--flat.button--light {
    .constr-buttonFlat(
        @txtColor: @color-base-10,
        @bgColor: @color-base-24,
        @bgColorHover: @color-base-23,
        @bgColorActive: @color-base-22
    )
}

.button--flat.button--dark {
    .constr-buttonFlat(
        @txtColor: @color-white,
        @bgColor: @color-base-10,
        @bgColorHover: @color-base-9,
        @bgColorActive: @color-base-8
    )
}

.button--flat.button--attention {
    .constr-buttonFlat(
        @txtColor: @color-attention-6,
        @bgColor: @color-attention-20,
        @bgColorHover: @color-attention-19,
        @bgColorActive: @color-attention-18
    )
}

.button--flat.button--negative {
    .constr-buttonFlat(
        @txtColor: @color-negative-6,
        @bgColor: @color-negative-17,
        @bgColorHover: @color-negative-16,
        @bgColorActive: @color-negative-15
    )
}

.button--flat.button--positive {
    .constr-buttonFlat(
        @txtColor: @color-positive-6,
        @bgColor: @color-positive-18,
        @bgColorHover: @color-positive-17,
        @bgColorActive: @color-positive-16
    )
}

// constructor
// ===========

.constr-buttonFlat(
    @txtColor,
    @bgColor,
    @bgColorHover,
    @bgColorActive) {
    
    background: @bgColor;
    color: @txtColor;
    
    a&,
    a:link&,
    a:visited& {
        color: @txtColor;
    }

    &:hover {
        background: @bgColorHover;
    }

    &:active,
    &.is--active {
        background: @bgColorActive;
    }
    
    .icon circle, ellipse, path, polygon {
        fill: @txtColor;
    }
    
}