/** button-subtle.less */

.btn.btn--subtle {

    box-sizing: border-box;
    background: transparent;
    border-color: @color-transparent;
    box-shadow: none;
    text-shadow: none;

    .icon {
        filter: none;
    }

    &:hover {
        background: @color-base-24;
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

    &:active,
    &.is--active {
        background: @color-base-22;
        border-color: transparent;
        box-shadow: none;
        text-shadow: none;
    }

}