/** buttonsubtle.less */

// base
// ====

.btn.btn--subtle {

    background: transparent;
    border-color: @color-transparent;
    box-shadow: none;

    // interactive states

    &:hover {
        box-shadow: none;
        border-color: transparent;
    }

    &:active,
    &.is--active {
        border-color: transparent;
    }

    .constr-btnSubtle(
        @txtColor: @color-base-8,
        @bgColorHover: @color-base-25,
        @bgColorActive: @color-base-23
    )

}

// modifiers
// =========

.btn--subtle.btn--primary {
    .constr-btnSubtle(
        @txtColor: @color-primary-8,
        @bgColorHover: @color-primary-25,
        @bgColorActive: @color-primary-24
    )
}

.btn--subtle.btn--light {
    .constr-btnSubtle(
        @txtColor: @color-white,
        @bgColorHover: fade(@color-white, 10%),
        @bgColorActive: fade(@color-white, 15%)
    )
}

.btn--subtle.btn--dark {
    .constr-btnSubtle(
        @txtColor: @color-base-3,
        @bgColorHover: @color-base-22,
        @bgColorActive: @color-base-19
    )
}

.btn--subtle.btn--attention {
    .constr-btnSubtle(
        @txtColor: @color-attention-6,
        @bgColorHover: @color-attention-22,
        @bgColorActive: @color-attention-20
    )
}

.btn--subtle.btn--negative {
    .constr-btnSubtle(
        @txtColor: @color-negative-6,
        @bgColorHover: @color-negative-25,
        @bgColorActive: @color-negative-23
    )
}

.btn--subtle.btn--positive {
    .constr-btnSubtle(
        @txtColor: @color-positive-6,
        @bgColorHover: @color-positive-23,
        @bgColorActive: @color-positive-21
    )
}

// constructor
// ===========

.constr-btnSubtle(
    @txtColor,
    @bgColorHover,
    @bgColorActive) {

    color: @txtColor; 

    a&,
    a:link&,
    a:visited& {
        color: @txtColor;
    }

    &:hover {
        background: @bgColorHover;
        color: @txtColor;
    }

    &:active,
    &.is--active {
        background: @bgColorActive;
        color: @txtColor;
    }

    .icon circle, ellipse, path, polygon {
        fill: @txtColor;
    }

}