/** button.less */

// block
// =====

.btn {

    .mixin-clearAppearance;
    .mixin-defaultBorderRadius;
    .mixin-userSelectNone;
    background-clip: padding-box;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: @font-sansserif;
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.3rem;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    // submit element inside button

    input[type="submit"] {
        border: 0;
        bottom: 0;
        color: inherit;
        font-family: inherit;
        font-weight: bold;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    // <a> as button

    a&,
    a:link&,
    a:visited& {
        text-decoration: none;
    }
        
    & > input[type="submit"] {
        cursor: pointer;
    }

    // interactive states

    &:hover {
        text-decoration: none;
    }

    &:active,
    &.btn--active {
        box-shadow: none;
        text-shadow: none;
    }
    
    &:focus,
    &.btn--focus {
        .mixin-defaultFocus;
    }

    &.btn--disabled,
    &.btn--disabled:hover,
    &.btn--disabled:active {
        cursor: default;
        opacity: .3;
    }
    
    // icons

    .icon {

        height: 100%;
        overflow: hidden;
        position: relative;
        vertical-align: top;

        svg {
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }

    // icon right, label left

    .icon:last-child {
        margin-right: -1rem;
    }

    &.btn--small .icon:last-child {
        margin-right: -0.4rem;
    }

    &.btn--large .icon:last-child {
        margin-right: -1.5rem;
    }

    // icon left, label right

    .icon:first-child {
        margin-left: -1rem;
    }

    &.btn--small .icon:first-child {
        margin-left: -0.75rem;
    }

    &.btn--large .icon:first-child {
        margin-left: -1.5rem;
    }

    // only icons, hidden or no label

    .hidden + .icon,
    .icon:only-child {
        margin-left: -1rem;
        width: 2.3rem;
    }

    &.btn--small .hidden + .icon,
    &.btn--small .icon:only-child {
        margin-left: -.4rem;
        width: 1.6rem;
    }

    &.btn--medium .hidden + .icon,
    &.btn--medium .icon:only-child {
        margin-left: -1.2rem;
        width: 3rem;
    }

    &.btn--large .hidden + .icon,
    &.btn--large .icon:only-child {
        margin-right: -2rem;
        margin-left: -2rem;
        width: 4rem;
    }
    
    // standard button theme
    
    .btnTheme(
        @bgGradientTopColor: @color-main-24,
        @bgGradientBottomColor: @color-main-23,
        @borderColor: @color-main-21,
        @txtColor: @color-main-8,
        @highlightColor: @color-main-25,
        @bgGradientTopColorHover: @color-main-23,
        @bgGradientBottomColorHover: @color-main-22,
        @borderColorHover: @color-main-20,
        @txtColorHover: @color-main-8,
        @highlightColorHover: @color-main-24,
        @bgGradientTopColorActive: @color-main-21,
        @bgGradientBottomColorActive: @color-main-22,
        @borderColorActive: @color-main-20,
        @txtColorActive: @color-main-8,
        @highlightColorActive: @color-transparent
    );

}

// modifiers
// =========

// size

.btn--small {
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 0 0.5rem;
    height: 2rem;
}

.btn--medium {
    font-size: 1.2rem;
    line-height: 2.9rem;
    height: 3rem;
}

.btn--large {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 3.8rem;
    padding: 0 1.9rem;
}

// colors

.btn--light {
    .btnTheme(
        @bgGradientTopColor: @color-main-25,
        @bgGradientBottomColor: @color-main-24,
        @borderColor: @color-main-22,
        @txtColor: @color-main-10,
        @highlightColor: @color-white,
        
        @bgGradientTopColorHover: @color-white,
        @bgGradientBottomColorHover: @color-main-25,
        @borderColorHover: @color-main-23,
        @txtColorHover: @color-main-10,
        @highlightColorHover: @color-white,
        
        @bgGradientTopColorActive: @color-main-23,
        @bgGradientBottomColorActive: @color-main-24,
        @borderColorActive: @color-main-22,
        @txtColorActive: @color-main-10,
        @highlightColorActive: @color-transparent
    );
}

.btn--dark {
    .btnTheme(
        @bgGradientTopColor: @color-main-12,
        @bgGradientBottomColor: @color-main-10,
        @borderColor: @color-main-9,
        @txtColor: @color-main-25,
        @highlightColor: @color-main-13,
        
        @bgGradientTopColorHover: @color-main-10,
        @bgGradientBottomColorHover: @color-main-8,
        @borderColorHover: @color-main-5,
        @txtColorHover: @color-main-25,
        @highlightColorHover: @color-main-12,
        
        @bgGradientTopColorActive: @color-main-5,
        @bgGradientBottomColorActive: @color-main-8,
        @borderColorActive: @color-main-5,
        @txtColorActive: @color-main-25,
        @highlightColorActive: @color-transparent
    );
}

.btn--attention {
    .btnTheme(
        @bgGradientTopColor: @color-attention-21,
        @bgGradientBottomColor: @color-attention-19,
        @borderColor: @color-attention-18,
        @txtColor: @color-attention-8,
        @highlightColor: @color-attention-22,
        
        @bgGradientTopColorHover: @color-attention-20,
        @bgGradientBottomColorHover: @color-attention-19,
        @borderColorHover: @color-attention-16,
        @txtColorHover: @color-attention-8,
        @highlightColorHover: @color-attention-22,
        
        @bgGradientTopColorActive: @color-attention-18,
        @bgGradientBottomColorActive: @color-attention-21,
        @borderColorActive: @color-attention-16,
        @txtColorActive: @color-attention-8,
        @highlightColorActive: @color-transparent
    );
}

.btn--error,
.btn--negative {
    .btnTheme(
        @bgGradientTopColor: @color-negative-21,
        @bgGradientBottomColor: @color-negative-19,
        @borderColor: @color-negative-18,
        @txtColor: @color-negative-6,
        @highlightColor: @color-negative-22,
        
        @bgGradientTopColorHover: @color-negative-19,
        @bgGradientBottomColorHover: @color-negative-17,
        @borderColorHover: @color-negative-15,
        @txtColorHover: @color-negative-6,
        @highlightColorHover: @color-negative-21,
        
        @bgGradientTopColorActive: @color-negative-17,
        @bgGradientBottomColorActive: @color-negative-19,
        @borderColorActive: @color-negative-15,
        @txtColorActive: @color-negative-6,
        @highlightColorActive: @color-transparent
    );
}

.btn--success,
.btn--positive {
    .btnTheme(
        @bgGradientTopColor: @color-positive-21,
        @bgGradientBottomColor: @color-positive-19,
        @borderColor: @color-positive-18,
        @txtColor: @color-positive-8,
        @highlightColor: @color-positive-22,
        
        @bgGradientTopColorHover: @color-positive-21,
        @bgGradientBottomColorHover: @color-positive-20,
        @borderColorHover: @color-positive-17,
        @txtColorHover: @color-positive-8,
        @highlightColorHover: @color-positive-22,
        
        @bgGradientTopColorActive: @color-positive-18,
        @bgGradientBottomColorActive: @color-positive-21,
        @borderColorActive: @color-positive-16,
        @txtColorActive: @color-positive-8,
        @highlightColorActive: @color-transparent
    );
}

// style

.btn--rounded {

    border-radius: 1.2rem;

    &.btn--small {
        border-radius: 1rem;
    }

    &.btn--medium {
        border-radius: 1.5rem;
    }

    &.btn--large {
        border-radius: 2rem;
    }

}

.btn--clip {
    overflow: hidden;
    text-overflow: ellipsis;
}

// grouped buttons
// ===============

.btns {

    font-size: 0;
    position: relative;

    .btn {
        border-radius: 0;
        margin-left: -0.1rem;
    }

    .btn:first-child {
        border-radius: (1px * @defaultBorderRadius) 0 0 (1px * @defaultBorderRadius);
    }

    .btn:last-child {
        border-radius: 0 (1px * @defaultBorderRadius) (1px * @defaultBorderRadius) 0;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: (6px * @defaultBorderRadius) 0 0 (6px * @defaultBorderRadius);
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 (6px * @defaultBorderRadius) (6px * @defaultBorderRadius) 0;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: (5px * @defaultBorderRadius) 0 0 (5px * @defaultBorderRadius);
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 (5px * @defaultBorderRadius) (5px * @defaultBorderRadius) 0;
    }

    // medium, rounded

    .btn.btn--medium.btn--rounded:first-child {
        border-radius: (7.5px * @defaultBorderRadius) 0 0 (7.5px * @defaultBorderRadius);
    }

    .btn.btn--medium.btn--rounded:last-child {
        border-radius: 0 (7.5px * @defaultBorderRadius) (7.5px * @defaultBorderRadius) 0;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: (10px * @defaultBorderRadius) 0 0 (10px * @defaultBorderRadius);
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 (10px * @defaultBorderRadius) (10px * @defaultBorderRadius) 0;
    }

}

.btns--vertical {

    .btn {
        display: block;
        width: 100%;
        border-top-width: 0;
        margin: 0;
    }

    .btn:first-child {
        border-top-width: 1px;
        border-radius: 2px 2px 0 0;
    }

    .btn.btn--outline:first-child {
        border-top-width: 2px;
    }

    .btn:last-child {
        border-radius: 0 0 2px 2px;
    }

    // standard, rounded

    .btn.btn--rounded:first-child {
        border-radius: 1.2rem 1.2rem 0 0;
    }

    .btn.btn--rounded:last-child {
        border-radius: 0 0 1.2rem 1.2rem;
    }

    // small, rounded

    .btn.btn--small.btn--rounded:first-child {
        border-radius: 1rem 1rem 0 0;
    }

    .btn.btn--small.btn--rounded:last-child {
        border-radius: 0 0 1rem 1rem;
    }

    // medium, rounded

    .btn.btn--medium.btn--rounded:first-child {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .btn.btn--medium.btn--rounded:last-child {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    // large, rounded

    .btn.btn--large.btn--rounded:first-child {
        border-radius: 2rem 2rem 0 0;
    }

    .btn.btn--large.btn--rounded:last-child {
        border-radius: 0 0 2rem 2rem;
    }

}

// "constructor" for different color themes
// ========================================

.btnTheme (
    @bgGradientTopColor: @color-main-10,
    @bgGradientBottomColor: @color-main-10,
    @borderColor: @color-main-10,
    @txtColor: @color-main-10,
    @highlightColor: @color-main-10,
    @bgGradientTopColorHover: @color-main-10,
    @bgGradientBottomColorHover: @color-main-10,
    @borderColorHover: @color-main-10,
    @txtColorHover: @color-main-10,
    @highlightColorHover: @color-main-10,
    @bgGradientTopColorActive: @color-main-10,
    @bgGradientBottomColorActive: @color-main-10,
    @borderColorActive: @color-main-10,
    @txtColorActive: @color-main-10,
    @highlightColorActive: @color-main-10) {

    background: linear-gradient(to bottom, @bgGradientTopColor, @bgGradientBottomColor);
    border-color: @borderColor;
    box-shadow: 0 1px 0 @highlightColor inset;
    color: @txtColor;
    text-shadow: 0 1px 0 @highlightColor;

    .icon {
        filter: drop-shadow(0 1px 0 @highlightColor);
        svg circle, svg ellipse, svg path, svg polygon { fill: @txtColor; }
    }

    input[type="submit"] {
        text-shadow: 0 1px 0 @color-main-10;
    }

    a&,
    a:link&,
    a:visited& {
        color: @txtColorHover;
    }

    &:hover {
        
        background: linear-gradient(to bottom, @bgGradientTopColorHover, @bgGradientBottomColorHover);
        border-color: @borderColorHover;
        box-shadow: 0 1px 0 @highlightColorHover inset;
        color: @txtColorHover;
        text-shadow: 0 1px 0 @highlightColorHover;
        
        .icon {
            filter: drop-shadow(0 1px 0 @highlightColorHover);
        }
        
    }

    &:active,
    &.btn--active {
        
        background: linear-gradient(to bottom, @bgGradientTopColorActive, @bgGradientBottomColorActive);
        border-color: @borderColorActive;
        box-shadow: 0 1px 0 @highlightColorActive inset;
        color: @txtColorActive;
        text-shadow: 0 1px 0 @highlightColorActive;
        
        .icon {
            filter: drop-shadow(0 1px 0 @highlightColorActive);
        }
        
    }

}