/** responsive-typography.less */

// small

@media @bp-from-s {

    // font weight

    .small-fw-normal { font-weight: normal !important; }
    .small-fw-bold   { font-weight: bold !important; }

    // text transform

    .small-tt-uc { text-transform: uppercase !important; }
    .small-tt-lc { text-transform: lowercase !important; }

    // text alignment

    .small-al-r  { text-align: right !important; }
    .small-al-l  { text-align: left !important; }
    .small-al-c  { text-align: center !important; }

    // line-break

    .small-lbr-none { white-space: nowrap !important; }

    // text decoration

    .small-tdcr-none { text-decoration: none !important; }
    .small-tdcr-undl { text-decoration: underline !important; }

    // list styles

    .small-lst-none   { list-style: none !important; }
    .small-lst-square { list-style: square !important; }
    .small-lst-circle { list-style: circle !important; }
    .small-lst-disc   { list-style: disc !important; }

}

// medium

@media @bp-from-m {

    // font weight

    .medium-fw-normal { font-weight: normal !important; }
    .medium-fw-bold   { font-weight: bold !important; }

    // text transform

    .medium-tt-uc { text-transform: uppercase !important; }
    .medium-tt-lc { text-transform: lowercase !important; }

    // text alignment

    .medium-al-r  { text-align: right !important; }
    .medium-al-l  { text-align: left !important; }
    .medium-al-c  { text-align: center !important; }

    // line-break

    .medium-lbr-none { white-space: nowrap !important; }

    // text decoration

    .medium-tdcr-none { text-decoration: none !important; }
    .medium-tdcr-undl { text-decoration: underline !important; }

    // list styles

    .medium-lst-none   { list-style: none !important; }
    .medium-lst-square { list-style: square !important; }
    .medium-lst-circle { list-style: circle !important; }
    .medium-lst-disc   { list-style: disc !important; }

}

// large

@media @bp-from-l {

    // font weight

    .large-fw-normal { font-weight: normal !important; }
    .large-fw-bold   { font-weight: bold !important; }

    // text transform

    .large-tt-uc { text-transform: uppercase !important; }
    .large-tt-lc { text-transform: lowercase !important; }

    // text alignment

    .large-al-r  { text-align: right !important; }
    .large-al-l  { text-align: left !important; }
    .large-al-c  { text-align: center !important; }

    // line-break

    .large-lbr-none { white-space: nowrap !important; }

    // text decoration

    .large-tdcr-none { text-decoration: none !important; }
    .large-tdcr-undl { text-decoration: underline !important; }

    // list styles

    .large-lst-none   { list-style: none !important; }
    .large-lst-square { list-style: square !important; }
    .large-lst-circle { list-style: circle !important; }
    .large-lst-disc   { list-style: disc !important; }

}

// x-large

@media @bp-from-xl {

    // font weight

    .xlarge-fw-normal { font-weight: normal !important; }
    .xlarge-fw-bold   { font-weight: bold !important; }

    // text transform

    .xlarge-tt-uc { text-transform: uppercase !important; }
    .xlarge-tt-lc { text-transform: lowercase !important; }

    // text alignment

    .xlarge-al-r  { text-align: right !important; }
    .xlarge-al-l  { text-align: left !important; }
    .xlarge-al-c  { text-align: center !important; }

    // line-break

    .xlarge-lbr-none { white-space: nowrap !important; }

    // text decoration

    .xlarge-tdcr-none { text-decoration: none !important; }
    .xlarge-tdcr-undl { text-decoration: underline !important; }

    // list styles

    .xlarge-lst-none   { list-style: none !important; }
    .xlarge-lst-square { list-style: square !important; }
    .xlarge-lst-circle { list-style: circle !important; }
    .xlarge-lst-disc   { list-style: disc !important; }

}
