/** typography.less */

// headings

.h1 { @h1(); }
.h2 { @h2(); }
.h3 { @h3(); }
.h4 { @h4(); }
.h5 { @h5(); }
.h6 { @h6(); }

// font-size

.fs-0  { font-size: 0 !important;  }
.fs-15 { font-size: 1.5rem !important; }
.fs-20 { font-size: 2rem !important; }
.fs-25 { font-size: 2.5rem !important; }
.fs-30 { font-size: 3rem !important; }
.fs-35 { font-size: 3.5rem !important; }
.fs-40 { font-size: 4rem !important; }
.fs-45 { font-size: 4.5rem !important; }
.fs-50 { font-size: 5rem !important; }

// line-height

.lh-0  { line-height: 0 !important; }
.lh-15 { line-height: 1.5rem !important; }
.lh-20 { line-height: 2rem !important; }
.lh-25 { line-height: 2.5rem !important; }
.lh-30 { line-height: 3rem !important; }
.lh-35 { line-height: 3.5rem !important; }
.lh-40 { line-height: 4rem !important; }
.lh-45 { line-height: 4.5rem !important; }
.lh-50 { line-height: 5rem !important; }
.lh-55 { line-height: 5.5rem !important; }

// font family

.ff-sr { font-family: @font-serif !important; }
.ff-ss { font-family: @font-sansserif !important; }

// font weight

.fw-normal { font-weight: normal !important; }
.fw-bold   { font-weight: bold !important; }

// text transform

.tt-uc { text-transform: uppercase !important; }
.tt-lc { text-transform: lowercase !important; }

// text alignment

.al-r  { text-align: right !important; }
.al-l  { text-align: left !important; }
.al-c  { text-align: center !important; }

// line-break

.lbr-none { white-space: nowrap !important; }

// text decoration

.tdcr-none { text-decoration: none !important; }
.tdcr-undl { text-decoration: underline !important; }

// list styles

.lst-none   { list-style: none !important; }
.lst-square { list-style: square !important; }
.lst-circle { list-style: circle !important; }
.lst-disc   { list-style: disc !important; }
