/** checklist.less */

// block
// =====

.checkList {

    padding: 0;
    list-style: none;

    li {
        font-size: 1.5rem;
        list-style-type: none;
        margin-bottom: 1rem;
        padding-left: 2rem;
        position: relative;
    }

    li::before {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-base-8);
        content: ' ';
        height: 1.5rem;
        left: -1rem;
        position: absolute;
        top: .5rem;
        width: 3.2rem;
    }

}
