/** log.less */

// block
// =====

.log {
    
    .mixin-defaultBorderRadius;
    background-color: @gray-2;
    color: @gray-20;
    height: 20rem;
    overflow: hidden;
    position: relative;
    
    // "cursor" (just for fun)
    
    p:first-child::after {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: yoi-logCursor;
        animation-timing-function: ease-out;
        background: @purple-12;
        content: ' ';
        display: inline-block;
        height: 1.75rem;
        margin-left: .5rem;
        position: relative;
        top: .1rem;
        width: .8rem;
    }
    
}

// elements
// ========

.log__body {
    bottom: 1.5rem;
    font-family: @font-mono;
    font-size: 1.4rem;
    left: 1.5rem;
    line-height: 1.75;
    overflow-y: scroll;
    padding-right: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.log__label {
    color: @gray-10;
    margin-right: 1rem;
}

.log .buttonDismiss {
    
    position: absolute;
    top: 1rem;
    right: 1rem;
    
    &:hover {
        background-color: @gray-5;
    }
    
}

// modifiers
// =========

.log--light {
    
    background: @gray-24;
    color: @gray-10;
    
    .log__label {
        color: @gray-18;
    }
    
    // "cursor"
    
    p:first-child::after {
        background: @color-primary-17;
    }
    
    .buttonDismiss:hover {
        background-color: @gray-22;
    }
    
}

.log--tl,
.log--tr,
.log--br,
.log--bl {
    
    height: 5rem;
    min-width: 30rem;
    position: fixed;
    transition: height 200ms ease-out;
    width: 33.3%;
    z-index: 999;
    
    &:hover {
        height: 30rem;
    }
    
}

.log--tl {
    left: 2rem;
    top: 2rem;
}

.log--tr {
    right: 2rem;
    top: 2rem;
}

.log--br {
    bottom: 2rem;
    right: 2rem;
}

.log--bl {
    bottom: 2rem;
    left: 2rem;
}

// keyframes

@keyframes yoi-logCursor {
    0%   { animation-timing-function: ease-in; opacity: 1; }
    20%  { opacity: 1; }
    30%  { opacity: 0; }
    90%  { opacity: 0; }
    100% { opacity: 1; }
}