/** countdown.less */

// block
// =====

.countdown {

    background: @color-base-8;
    border-radius: 6px;
    box-shadow: @color-base-6 0 1px 0 inset;
    display: inline-block;
    position: relative;
    padding: 2px;

    .jsFallback {
        text-shadow: @color-base-5 0 -1px 0;
        padding: 1rem;
        color: @color-base-25;
    }

}

// elements
// ========

.countdown__clock {
    overflow: hidden;
}

.countdown__days,
.countdown__hours,
.countdown__minutes,
.countdown__seconds {
    background: @color-base-6;
    border-radius: 4px;
    box-shadow: @color-base-6 0 1px 0, @color-base-11 0 1px 0 inset;
    float: left;
    padding: 2px;
    position: relative;
    text-align: center;
}

.countdown__hours,
.countdown__minutes,
.countdown__seconds {
    margin-left: 2px;
}

.countdown__days {}
.countdown__hours {}
.countdown__minutes {}
.countdown__seconds {}

.countdown__label {
    .mixin-fs-2;
    .mixin-fw-bold;
    color: @color-base-20;
    display: block;
    position: relative;
    text-shadow: @color-base-5 0 -1px 0;
}

.js .countdown__hiddenLabel {
    display: none;
}

.countdown__character {

    margin: 1px;

    path,
    polygon {
        fill: @color-base-7;
        transition: all 100ms ease-out;
    }

}

// modifiers
// =========

// "lcd" character

.countdown--0 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-bl { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--1 {
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--2 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-bl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--3 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--4 {
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--5 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--6 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-bl { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--7 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--8 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-bl { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--9 {
    .countdown__character__segment-t  { fill: @color-base-24; }
    .countdown__character__segment-tr { fill: @color-base-24; }
    .countdown__character__segment-br { fill: @color-base-24; }
    .countdown__character__segment-b  { fill: @color-base-24; }
    .countdown__character__segment-tl { fill: @color-base-24; }
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

.countdown--dots {
    .countdown__character__segment-t  { fill: transparent; }
    .countdown__character__segment-tr { fill: transparent; }
    .countdown__character__segment-br { fill: transparent; }
    .countdown__character__segment-b  { fill: transparent; }
    .countdown__character__segment-bl { fill: transparent; }
    .countdown__character__segment-tl { fill: transparent; }
    .countdown__character__segment-m  { fill: transparent; }
    .countdown__character__dots       { fill: @color-base-24; }
}

.countdown--empty {
    .countdown__character__segment-m  { fill: @color-base-24; }
    .countdown__character__dots       { fill: transparent; }
}

// to boost legibility, make leading zeros in "00" invisible

.countdown--0:first-child {
    .countdown__character__segment-t  { fill: @color-base-7; }
    .countdown__character__segment-tr { fill: @color-base-7; }
    .countdown__character__segment-br { fill: @color-base-7; }
    .countdown__character__segment-b  { fill: @color-base-7; }
    .countdown__character__segment-bl { fill: @color-base-7; }
    .countdown__character__segment-tl { fill: @color-base-7; }
    .countdown__character__dots       { fill: transparent; }
}
