/** menu.less */

// block
// =====

.menu {
    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;
    list-style: none;
}

// elements
// ========

.menu__item {

    border-top: @color-main-23 1px solid;
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;

    &:first-child {
        border: 0;
    }

}

.menu__link {

    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    position: relative;
    text-decoration: none;

    &:active,
    &:link,
    &:visited {
        color: @textColor;
        text-decoration: none;
    }

    &:hover {
        background: @color-main-25;
    }

}

// nested elements
// ===============

// menu-nesting is limited to four levels.
// while this is quite ugly, there is no better solution.

// nesting-level 2

.menu .menu {
    border: 0;
    border-radius: 0;
}

.menu .menu .menu__item {
    border: 0;
    font-weight: normal;
}

// nesting-level 3

.menu .menu .menu {
    padding-left: 2rem;
}

.menu .menu .menu .menu__link {
    margin-left: -2rem;
    padding-left: 3rem;
}

// nesting-level 4

.menu .menu .menu .menu .menu__link {
    margin-left: -4rem;
    padding-left: 6rem;
}

// modifiers
// =========

// active menu items
// (can be either a .menu__item or .menu__link)

.menu .is--active {

    position: relative;

    &,
    .menu__link:link,
    .menu__link:visited,
    .menu__link:hover {
        background: @color-main-8;
        color: @color-white;
        font-weight: bold;
    }

}

// an active menu item can display a pointer
// to the left or right

.menu--pointLeft .is--active::after,
.menu--pointRight .is--active::after {
    background: @color-main-8;
    content: ' ';
    display: block;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform-origin: center;
    width: 1rem;
}

.menu--pointLeft .is--active::after {
    left: 0;
    transform: translate(-50% ,-50%) rotate(45deg);
}

.menu--pointRight .is--active::after {
    right: 0;
    transform: translate(50% ,-50%) rotate(45deg);
}

.menu--pointLeft .menu__link,
.menu--pointRight .menu__link {

    &,
    &:active,
    &:link,
    &:visited {
        color: @textColor;
    }
    
    &.is--active {
        color: @color-white;
    }

}
