/** pagerewind.less */

// block
// =====

.pageRewind {

    .mixin-shadow-4;
    .mixin-userSelectNone;
    background: @color-white;
    border: @color-base-23 1px solid;
    border-bottom: 0;
    border-radius: (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0 0;
    bottom: -.5rem;
    box-sizing: border-box;
    color: @color-base-15;
    display: block;
    height: 3.5rem;
    left: 50%;
    margin-left: -3rem;
    position: fixed;
    text-align: right;
    transition: bottom 500ms ease-out;
    width: 6rem;
    z-index: 101;

    &:hover {
        background-color: @color-base-25;
        transition-duration: 150ms;
        bottom: 0;
    }

    // icon

    &::after {
        .mixin-icon-chevron-up(@size: 32, @color: @color-base-8);
        content: ' ';
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
    }

}

// modifiers
// =========

.pageRewind.is--hidden {
    bottom: -8rem;
}
