/** customradiobutton.less */

// block
// =====

.radio {
    
    background: @color-white;
    border-radius: 50%;
    border: @color-base-20 1px solid;
    box-shadow: 0 1px 0 @color-base-24 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 1.6rem;
    margin: 0 .5rem 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    position: relative;
    top: -.1rem;
    vertical-align: top;
    width: 1.6rem;
    
    // inner input element

    input {
        left: -50rem;
        opacity: 0;
        position: absolute;
    }

}

// modifiers
// =========

// size

.radio.input--large {
    height: 3rem;
    width: 3rem;
}

// validation

.radio.input--error {
    border-color: @color-negative-15;
    color: @color-negative-8;
}

.radio.input--success {
    border-color: @color-positive-15;
    color: @color-positive-8;
}

// interactive states

.radio.input--checked {
    background: @color-positive-22;
    border: @color-base-10 .5rem solid;
    box-shadow: none;
}

.radio.input--large.input--checked {
    border-width: .9rem;
}

.radio.input--focus {
    border-color: @blue-18;
    box-shadow: @blue-22 0 0 10px;
}
