/** filterbuttons.less */

// block
// =====

.filterButtons {
    display: block;
    font-size: 0;
}

// elements
// ========

.filterButtons__button {

    .mixin-fs-2;
    .mixin-fw-bold;
    background: @color-base-24;
    border-radius: 1rem;
    box-sizing: border-box;
    color: @color-base-8;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin: 0 .5rem .5rem 0;
    padding: 0 1.5rem 0 .75rem;

    &:hover {
        background: @color-base-23;
    }

    a,
    a:link,
    a:visited {
        color: @color-base-8;
        display: inline-block;
        text-decoration: none;
    }

}

// modifiers
// =========

// removeable buttons

.filterButtons--removeable .filterButtons__button {

    // icon

    a::after {
        .mixin-icon-x(@color: @color-base-18);
    }

    &:hover {

        background: @color-negative-10;

        a {
            color: @color-white;
        }

        // icon

        a::after {
            .mixin-icon-x(@color: @color-negative-22);
        }

    }

}

// status
// ======

// icons inside buttons

.filterButtons__button {

    a::after {
        .mixin-icon-plus(@color: @color-base-17);
        content: ' ';
        display: inline-block;
        height: 2rem;
        margin-left: -1.25rem;
        position: relative;
        right: -1.25rem;
        vertical-align: top;
        width: 2rem;
    }

    a:hover::after {
        .mixin-icon-plus(@color: @color-base-8);
    }

}

// active button

.filterButtons__button.is--active {

    background: @color-positive-10;

    a {
        color: @color-white;
    }

    a::after {
        .mixin-icon-checkmark(@color: @color-positive-22);
    }

    &:hover {
        background: @color-negative-10;
    }

    &:hover a::after {
        .mixin-icon-x(@color: @color-negative-22);
    }

}

// debouce button class

.filterButtons__button.filterButtons__button--debounce:hover {

    background: @color-positive-10;

    a::after {
        .mixin-icon-checkmark(@color: @color-positive-22);
    }

}
