{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Element Name
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

|                |                                                                                                            |
| -              | -                                                                                                          |
| Less-File      | [element.less]({{ pathToSourceFile }}assets/less/elements/element.less)                                    |
| JS-File        | [element.js]({{ pathToSourceFile }}assets/js/modules/element.js)                                           |
| Base CSS-Class | `.elementClassname`                                                                                        |
| Modifiers      | `.elementClassname--x`                                                                                     |

### Basic Example
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="elementClassname">element</span>
    </div>
</div>

{% markdown %}
### Modifiers
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="elementClassname">element</span>
    </div>
</div>

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Some Important Note</h3>
    <div class="note__body">
        <p>This is very important.</p>
    </div>
</div>

{% endblock %}