{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Breadcrumbs
`.breadcrumbs` aid navigation by displaying the »path« to web page. This is a very simple element, it’s merely a container with an unordered list of links inside. The
breadcrumbs element does not have any modifier.

|                |                                                                                                                        |
| -              | -                                                                                                                      |
| Less-File      | {% if basePath == '/' %}[breadcrumbs.less](assets/less/elements/breadcrumbs.less){% else %}breadcrumbs.less{% endif %} |
| Base CSS-Class | `.breadcrumbs`                                                                                                         |
| Modifiers      | `none`                                                                                                                 |

### Example
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <nav class="breadcrumbs">
            <ul>
                <li>
                    <a href="#">
                        <span>Home Page</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Lorem Ipsum</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Dolor Sit Amet</span>
                    </a>
                </li>
                <li>
                    <span>Current Page</span>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
