{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## CheckList
Use `.checkList` to format an unordered list and add check-icons to each list item without the need of additional markup.

|                |                                                                             |
| -              | -                                                                           |
| Less-File      | [checkList.less]({{ pathToSourceFile }}assets/less/elements/checkList.less) |
| Base CSS-Class | `.checkList`                                                                |
| Modifiers      | `-`                                                      |

{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <ul class="checkList">
            <li>Aspirin</li>
            <li>Ibuprofen</li>
            <li>Valium</li>
        </ul>
    </div>
</div>

{% endblock %}
