{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Countdown
Use this element to create a countdown to a date, less than a year ahead. The countdown is rendered as a lcd-style clock, yet fully accessible via screen readers.

|                |                                                                             |
| -              | -                                                                           |
| Less-File      | [countdown.less]({{ pathToSourceFile }}assets/less/elements/countdown.less) |
| JS-File        | [countdown.js]({{ pathToSourceFile }}assets/js/elements/countdown.js)       |
| Base CSS-Class | `.countdown`                                                                |
| Modifiers      | `-`                                                                         |

### Basic Example
Create an element with the css class name `countdown`. One parameter is needed, supplied via the custom data-attribute: the date of the deadline, [ISO 8601 formatted](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString).
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <div class="countdown" data-countdown="December 31 2020 15:50:00 GMT+0002"></div>
    </div>
</div>
<div class="note note--subtle note--large">
    <h3 class="note__headline">Limitations</h3>
    <div class="note__body">
        <p>Please notice that while the countdown can process deadline more than a year in the future, it was <i>designed to count down to an event less than 12 months in the future</i>.</p>
    </div>
</div>

{% markdown %}
### Countdown With Optional Title
Add an element with the css class name `countdown__title` to add an optional title.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <div class="countdown" data-countdown="December 31 2020 15:00:00 GMT-0005">
            <p class="countdown__title">Time Until Takeoff:</p>
        </div>
    </div>
</div>

{% markdown %}
### Expired Countdown
Once the countdown expired, the display will reset and the **custom event** `countdown:expired` **will fire**.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <div class="countdown" data-countdown="January 1 2020 18:18:00 GMT+0002"></div>
    </div>
</div>

{% markdown %}
### Progressive Enhancement, Accessibility & Fallback
Each lcd-style digit is an svg graphic. To make the countdown more accessible by default, the script inserts a visually hidden label with a well-readable string, representing the remaining time. However, it’s a good idea to always include this label to provide a meaningful noScript-fallback:
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true">
        <div class="countdown" data-countdown="December 31 2020 15:50:00 GMT+0002">
            <p class="hidden">Expires on December 31st 2020 at 15:00 GMT+0002.</p>
        </div>
    </div>
</div>

{% markdown %}
Once the script is executed, the label gets replaced and updates every second:
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; printWithDelay:true">
        <div class="countdown" data-countdown="December 31 2020 15:50:00 GMT+0002">
            <p class="hidden">Expires on January 1st, 2020 at 15:00 GMT+0002</p>
        </div>
    </div>
</div>

{% endblock %}
