{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Form
{% endmarkdown %}

<div class="note note--subtle note--large">
    <h3 class="note__headline">Documentation Incomplete</h3>
    <div class="note__body">
        <p>To be completed soon.</p>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <form class="m-b-2">
            <input type="text" value="some text" />
            <input class="input--large m-t-2" type="text" value="some text" />
        </form>
        <form class="m-b-2">
            <textarea></textarea>
        </form>
        <form class="m-b-2">
            <input type="checkbox" value="foobar" />
            <input type="checkbox" value="barfoo" />
        </form>
        <form class="m-b-2">
            <input type="radio" name="foo" value="foobar" />
            <input type="radio" name="foo" value="barfoo" />
        </form>
        <form class="m-b-2">
            <select class="select">
                <option>Dysprosium</option>
                <option>Aluminium</option>
                <option>Calcium</option>
            </select>
        </form>
        <form class="m-b-2">
            <select class="select select--large">
                <option>Dysprosium</option>
                <option>Aluminium</option>
                <option>Calcium</option>
            </select>
        </form>
    </div>
</div>

{% endblock %}
