{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Icons
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

|                |                                                                     |
| -              | -                                                                   |
| Less-File      | [icons.less]({{ pathToSourceFile }}assets/less/elements/icons.less) |
| Base CSS-Class | `.icon / .icon--*`                                                  |
| Modifiers      | `.x2, .x3, .x4, *-s`                                                |

### Modifiers
{% endmarkdown %}

<div class="box box--1 p-4">
    <span class="icon icon--xsmall">
        {% includeRemote "http://localhost/svg.php?id=icon-074-s" %}
    </span>
    <span class="icon icon--small">
        {% includeRemote "http://localhost/svg.php?id=icon-074" %}
    </span>
    <span class="icon">
        {% includeRemote "http://localhost/svg.php?id=icon-074" %}
    </span>
    <span class="icon icon--large">
        {% includeRemote "http://localhost/svg.php?id=icon-074" %}
    </span>
    <span class="icon icon--xlarge">
        {% includeRemote "http://localhost/svg.php?id=icon-074" %}
    </span>
</div>

<div>
    {% includeRemote "http://localhost/svg.php?id=icon-006-s" %}
</div>

{% markdown %}
### Adding new icons
See [worflows / adding icons](/pages/workflows/adding_icons.html).
### List of Available Icons
{% endmarkdown %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>16px</th>
            <th>32px</th>
            <th>64px</th>
            <th>96px</th>
            <th>128px</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, 86) %}
            <tr>
                <td style="vertical-align: middle;">icon-{{ i|pad(2) }}</td>
                <td style="vertical-align: middle; text-align: center;">
                    <img src="//localhost/svg.php?id=icon-{{ i|pad(2) }}-s&f=%236754a1&w=32&h=32" alt="" />
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <img src="//localhost/svg.php?id=icon-{{ i|pad(2) }}&f=%236754a1&w=32&h=32" alt="" />
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <img src="//localhost/svg.php?id=icon-{{ i|pad(2) }}&f=%236754a1&w=64&h=64" alt="" />
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <img src="//localhost/svg.php?id=icon-{{ i|pad(2) }}&f=%236754a1&w=96&h=96" alt="" />
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <img src="//localhost/svg.php?id=icon-{{ i|pad(2) }}&f=%236754a1&w=128&h=128" alt="" />
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
