{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## IconMenu
{% endmarkdown %}

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Documentation Incomplete</h3>
    <div class="note__body">
        <p>To be completed soon.</p>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <ul class="iconMenu">
            <li class="iconMenu__item">
                <a class="iconMenu__link" href="#">
                    <span class="icon">{% icon {id:'016'} %}</span>
                    <span>Documents</span>
                </a>
            </li>
            <li class="iconMenu__item is--active">
                <a class="iconMenu__link" href="#">
                    <span class="icon">{% icon {id:'029'} %}</span>
                    <span>Savings</span>
                </a>
            </li>
            <li class="iconMenu__item">
                <a class="iconMenu__link" href="#">
                    <span class="icon">{% icon {id:'034'} %}</span>
                    <span>Orders & Shipping</span>
                </a>
            </li>
            <li class="iconMenu__item">
                <a class="iconMenu__link" href="#">
                    <span class="icon">{% icon {id:'041'} %}</span>
                    <span>Messages</span>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
