{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Pagination
Straightforward pagination element with page- and browse links.

|                |                                                                               |
| -              | -                                                                             |
| Less-File      | [pagination.less]({{ pathToSourceFile }}assets/less/elements/pagination.less) |
| Base CSS-Class | `.pagination`                                                                 |
| Modifiers      | `-`                                                                           |

### Basic Example
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        {{ pagination.render(currentPage=1, totalPages=10) }}
    </div>
</div>

{% endblock %}
