{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Pop-Over
Use this element to link any trigger (eg. a button) to a _pop-over_ which appears on mouse over.

|                |                                                                                                            |
| -              | -                                                                                                          |
| Less-File      | {% if basePath == '/' %}[popOver.less](assets/less/elements/popOver.less){% else %}popOver.less{% endif %} |
| JS-File        | {% if basePath == '/' %}[popOver.js](assets/js/modules/popOver.js){% else %}popOver.js{% endif %}          |
| Base CSS-Class | `.popOver`                                                                                                 |
| Modifiers      | `-`                                                                                                        |

### Basic Example
To build a pop-over, you need two elements: a *trigger* and the *pop-over* itself. Any element can be a trigger but links with the pop-over’s id as `href` value make the most sense in most cases. **To reference a pop-over**, add the `data-popover` hook to the trigger. This attribute **must contain at least one parameter: the target pop-over id**.

This example uses the pop-over to display a small menu:
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <a class="btn btn--large" href="#examplePopOver-1" data-popover="target:#examplePopOver-1;">Show pop-over</a>
        <div class="popOver" id="examplePopOver-1">
            <p class="p-4 fs-15 lh-20">Hello.</p>
        </div>
    </div>
</div>

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Tip</h3>
    <div class="note__body">
        <p><em>Any element</em> can be a trigger for a pop-over. <em>Any element</em> can be a pop-over.</p>
    </div>
</div>

{% markdown %}
### Options
The pop-over hook accepts some parameters as options. Use **semicolon seperated key/value pairs** like `data-popover="target:#foo; pos:bl; ref:tl;"`. The **following options are available**:

| Key            | Value                                                                                                                    | Description                                                                             |
| -              | -                                                                                                                        | -                                                                                       |
| target         | *string*, css id selector                                                                                                | The target pop-over id selector.                                                        |
| pos            | *string*, `'tl','tr','br','bl'`                                                                                          | Pop-over position relative to trigger. The default is _tr_.                             |
| ref            | *string*, `'tl','tr','br','bl'`                                                                                          | Pop-over reference point. The default is _tl_.                                          |
| toggleClass    | *string*, css class name                                                                                                 | Css class name added to trigger if pop-over is currently shown.                         |
| eventShow      | *string*, `'click','dblclick','contextmenu','mouseover', 'mouseout', 'mousedown', 'mouseup', 'mouseenter', 'mouseleave'` | Defines the event to show the pop-over. The default is _mouseenter_.                    |
| eventHide      | *string*, `'click','dblclick','contextmenu','mouseover', 'mouseout', 'mousedown', 'mouseup', 'mouseenter', 'mouseleave'` | Defines the event to hide the pop-over. The default is _mouseleave_.                    |
| preventDefault | *bool*, `true/false`                                                                                                     | If true, the trigger’s default event (eg. click) gets prevented. The default is _true_. |
| wrap           | *bool*, `true/false`                                                                                                     | If true, take the pop-over and the trigger and put them inside .popOver__wrapper.       |

#### target
To link a trigger to it’s pop-over, you must **at least supply one parameter: the target’s id selector**.

#### pos
By default, any pop-over will appear at the right side of the trigger with it’s top left edge right at the top right edge of the trigger. However, different positioning can be achieved if values for either `pos` or `ref` are set. `pos` sets **the pop-over’s position, relative to it’s trigger**.

#### ref
This option defines the **pop-over’s reference point** and can be one of the four corners (tl = *top left*, tr = *top right*, br = *bottom right*, bl = *bottom left*).

#### toggleClass
Use this option if the **trigger** should get an **additional css class name while the menu is visible**, eg. to highlight it or to add a visual indication for *pressed* etc.

#### eventShow
The default event for the trigger to show the pop-over is `mouseover`. Use this option to override it with another valid event.

#### eventHide
The default event for the trigger to hide the pop-over is `mouseout`. Use this option to override it with another valid event.

#### preventDefault
By default, the trigger’s default event (eg. `click` if you use an anchor like `<a href="...">`) won’t fire (`event.preventDefault()`). Use this option with `true/false` to override this behaviour.

#### wrap
If set to `true`, the pop-over and the trigger are wrapped inside `.popOver__wrapper` to provide a new context for positioning.

### Positioning
The following examples illustrate how to position the pop-overs.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <a href="#examplePopOver-2" class="btn btn--large" data-popover="target:#examplePopOver-2;">Pop-over at default Position</a>
        <div class="popOver" id="examplePopOver-2">
            <p class="p-4 fs-15 lh-20">Hello.</p>
        </div>
    </div>
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <a href="#examplePopOver-3" class="btn btn--large" data-popover="target:#examplePopOver-3; pos:bl;">Pop-over at bottom left</a>
        <div class="popOver" id="examplePopOver-3">
            <p class="p-4 fs-15 lh-20">Hello.</p>
        </div>
    </div>
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <a href="#examplePopOver-4" class="btn btn--large" data-popover="target:#examplePopOver-4; pos:tl; ref:bl;">Pop-over at top left</a>
        <div class="popOver" id="examplePopOver-4">
            <p class="p-4 fs-15 lh-20">Hello.</p>
        </div>
    </div>
</div>

{% markdown %}
### .popOver__wrapper
{% endmarkdown %}

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Pop-Over Position in Dom</h3>
    <div class="note__body">
        <p>Pop-overs do not have to directly follow their triggers in the DOM. In fact, they can be put anywhere in the markup. However, in some cases the pop-over position may be off due to different position context. The following option was created to offer a fix to this particular problem.</p>
    </div>
</div>

{% markdown %}
To create a **new context for positioning**, set the option `wrap` to *true*. The following **example shows the markup after DOM manipulation**.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; printWithDelay:true;">
        <a href="#examplePopOver-5" class="btn btn--large" data-popover="target:#examplePopOver-5; wrap:true;">Wrap pop-over and trigger</a>
        <div class="popOver" id="examplePopOver-5">
            <p class="p-4 fs-15 lh-20">Hello.</p>
        </div>
    </div>
</div>

{% markdown %}
### Change Class Name of Trigger When Pop-Over Is Visible
Use the option `toggleClass` to **add any css class name to the trigger** when the menu is visible.
{% endmarkdown %}

<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example" data-printcode="language:markup; print:true;">
            <a href="#examplePopOver-6" class="btn btn--large" data-popover="target:#examplePopOver-6-a; toggleClass:btn--positive;">Change trigger class name</a>
            <div class="popOver" id="examplePopOver-6-a">
                <p class="p-4 fs-15 lh-20">Hello.</p>
            </div>
        </div>
    </div>
    <div class="documentation__block">
        <div class="documentation__example" data-printcode="language:markup; print:true;">
            <a href="#examplePopOver-6" class="btn btn--large" data-popover="target:#examplePopOver-6-b; toggleClass:btn--attention;">Change trigger class name</a>
            <div class="popOver" id="examplePopOver-6-b">
                <p class="p-4 fs-15 lh-20">Howdy.</p>
            </div>
        </div>
    </div>
</div>

{% markdown %}
### Changing the Default Events to Show or Hide the Pop-over
{% endmarkdown %}

<div class="note note--attention note--large note--icon085 m-t-8">
    <h3 class="note__headline">Attention</h3>
    <div class="note__body">
        <p>If you change the events to show/hide the pop-over, there is no internal test that prevents you from using illogical event-combinations. If you provide an invalid event (one not listet in the options-overview further above), the default event gets used.</p>
    </div>
</div>

{% markdown %}
### More Use Cases / Examples
#### Show a Menu on Click
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <a class="btn btn--large" href="#examplePopOver-7" data-popover="target:#examplePopOver-7; eventShow:click;">
            <i aria-hidden="true" class="icon--067-s"></i>
            <span>Menu</span>
        </a>
        <div class="popOver" id="examplePopOver-7">
            <ul class="linkList linkList--large linkList--stripped">
                <li class="linkList__item">
                    <a class="linkList__link" href="#">Oxygen</a>
                </li>
                <li class="linkList__item">
                    <a class="linkList__link" href="#">Potassium</a>
                </li>
                <li class="linkList__item">
                    <a class="linkList__link" href="#">Krypton</a>
                </li>
                <li class="linkList__item">
                    <a class="linkList__link" href="#">Molybdenum</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% markdown %}
#### Show Table-Column Modifiers (sorting/searching/filtering etc.) on Click
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table>
            <tr>
                <th class="crsr-pntr" data-popover="target:#examplePopOver-8; pos:bl; eventShow:click;">Date</th>
                <th class="crsr-pntr" data-popover="target:#examplePopOver-9; pos:bl; eventShow:click;">Name</th>
                <th class="crsr-pntr" data-popover="target:#examplePopOver-10; pos:bl; eventShow:click;">Status</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
        <div class="popOver" id="examplePopOver-8">
            <form class="p-2">
                <div class="w-1-1">
                    <div class="w-1-2 p-r-1 fl-l">
                        <input class="w-10" type="text" placeholder="From" />
                    </div>
                    <div class="w-1-2 p-l-1 fl-r">
                        <input class="w-10" type="text" placeholder="To" />
                    </div>
                </div>
                <p class="m-t-2">
                    <button class="btn btn--subtle">
                        <i class="icon--068-s" aria-hidden="true"></i>
                        <span>Update Column</span>
                    </button>
                </p>
            </form>
        </div>
        <div class="popOver" id="examplePopOver-9">
            <form class="p-2">
                <input class="w-15 val-t" type="text" placeholder="Name" />
                <button class="btn btn--subtle val-t">
                    <i class="icon--012-s" aria-hidden="true"></i>
                    <span>Filter by Name</span>
                </button>
            </form>
        </div>
        <div class="popOver" id="examplePopOver-10">
            <form class="p-2">
                <select>
                    <option>Active</option>
                    <option>Inactive</option>
                    <option>Pending</option>
                </select>
            </form>
        </div>
    </div>
</div>

{% endblock %}
