{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Rating
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="rating rating--small rating--1">
            <span class="rating__stars">4 / 5</span>
            <a href="#" class="m-l-2">23</a>
        </span>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="rating rating--medium rating--4">
            <span class="rating__stars">4 / 5</span>
            <a href="#" class="m-l-2">23</a>
        </span>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="rating rating--4">
            <span class="rating__stars">4 / 5</span>
            <a href="#" class="m-l-2">23</a>
        </span>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <span class="rating rating--large rating--4">
            <span class="rating__stars">4 / 5</span>
            <a href="#" class="m-l-2">23</a>
        </span>
    </div>
</div>

{% endblock %}
