{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## StepCrumb
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <ul id="foo" class="stepCrumb stepCrumb--step3">
            <li class="stepCrumb__item">
                <a class="stepCrumb__label">Denial</a>
            </li>
            <li class="stepCrumb__item">
                <a class="stepCrumb__label">Anger</a>
            </li>
            <li class="stepCrumb__item">
                <a class="stepCrumb__label">Bargaining</a>
            </li>
            <li class="stepCrumb__item">
                <a class="stepCrumb__label">Depression</a>
            </li>
            <li class="stepCrumb__item">
                <a class="stepCrumb__label">Acceptance</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
