{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Switch
{% endmarkdown %}

<div class="note note--subtle note--large">
    <h3 class="note__headline">Documentation Incomplete</h3>
    <div class="note__body">
        <p>To be completed soon.</p>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <div class="switch" data-switch>
            <input type="checkbox" />
        </div>
        <div class="switch" data-switch="showLabels:true;">
            <input type="checkbox" />
        </div>
        <div class="switch" data-switch="showLabels:true; labelOn:Ja; labelOff:Nein; state:on;">
            <input type="checkbox" />
        </div>
        <div class="switch switch--large" data-switch>
            <input type="checkbox" />
        </div>
        <div class="switch switch--large" data-switch="showLabels:true;">
            <input type="checkbox" />
        </div>
        <div class="switch switch--large" data-switch="showLabels:true; labelOn:Ja; labelOff:Nein;">
            <input type="checkbox" />
        </div>
    </div>
</div>

{% endblock %}
