{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Switch
{% endmarkdown %}

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Documentation Incomplete</h3>
    <div class="note__body">
        <p>To be completed soon.</p>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <p class="m-b-2">
            <input type="checkbox" data-switch />
        </p>
        <p>
            <input type="checkbox" data-switch />
        </p>
    </div>
</div>

{% endblock %}
