{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Tables
Tables come with a few handy modifiers, eg. to render zebra-striped tables, tables with fixed width, etc. Tables can also be interactive (selectable or deletable rows), using the `data-table` hook.

|                |                                                                                                                                  |
| -              | -                                                                                                                                |
| Less-File      | {% if basePath == '/' %}[tables.less](assets/less/elements/tables.less){% else %}tables.less{% endif %}                          |
| JS-File        | {% if basePath == '/' %}[tables.js](assets/js/modules/tables.js){% else %}tables.js{% endif %}                                   |
| Base CSS-Class | none (just the table-tag) or `.table`                                                                                            |
| Modifiers      | `.table--borderless, .table--colHeader, .table--compressed, .table--fixed, .table--simpleHeader, .table--stripped, .table-zebra` |

### JavaScript Interface
{% endmarkdown %}

<div class="documentation__block">
   <code class="language-markup"><pre>
data-table="
    removeable   : @param;
    selectable   : @param;
    btnModifiers : @param;
"
/**
 *  @param {bool}           removeable   - removeable table rows
 *  @param {bool || string} selectable   - if set to true – single table rows can be selected, if set to "multi" – multiple table rows can be selected
 */</pre></code>
</div>

{% markdown %}
### Simple Table
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table>
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table Without Borders
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--borderless">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table With Headers inside Rows
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--colHeader">
            <tr>
                <th scope="row">Key</th>
                <td>Value</td>
            </tr>
            <tr>
                <th scope="row">Key</th>
                <td>Value</td>
            </tr>
            <tr>
                <th scope="row">Key</th>
                <td>Value</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Compressed Table
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--compressed">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Fixed Width Table
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--fixed">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table With Simple Header
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--simpleHeader">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table Without Outer Borders
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--stripped">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Zebra-Striped Table
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table class="table--zebra">
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table With Selectable Rows
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table data-table="selectable:true;">
            <tr>
                <th class="w-20">Artikel</th>
                <th>Beschreibung</th>
            </tr>
            <tr>
                <td>Banane</td>
                <td>krumme Frucht</td>
            </tr>
            <tr>
                <td>Kirsche</td>
                <td>rote Frucht</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>runde Frucht</td>
            </tr>
            <tr>
                <td>Melone</td>
                <td>grosse Frucht</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table With Multiple Selectable Rows
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table data-table="selectable:multi;">
            <tr>
                <th class="w-20">Artikel</th>
                <th>Beschreibung</th>
            </tr>
            <tr>
                <td>Banane</td>
                <td>krumme Frucht</td>
            </tr>
            <tr>
                <td>Kirsche</td>
                <td>rote Frucht</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>runde Frucht</td>
            </tr>
            <tr>
                <td>Melone</td>
                <td>grosse Frucht</td>
            </tr>
        </table>
    </div>
</div>

{% markdown %}
### Table With Deleteable Rows
Use the option `btnModifiers`to set the modifiers for the delete buttons. In this case we re using `large subtle`. Learn more about [`.btn`](/pages/elements/buttons.html) and it’s modifiers.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" data-printcode="language:markup; print:true;">
        <table data-table="removeable:true;">
            <tr>
                <th class="w-20">Artikel</th>
                <th>Beschreibung</th>
            </tr>
            <tr data-foo="12345678">
                <td>Banane</td>
                <td>krumme Frucht</td>
            </tr>
            <tr data-foo="12345678">
                <td>Kirsche</td>
                <td>rote Frucht</td>
            </tr>
            <tr data-foo="12345678">
                <td>Orange</td>
                <td>runde Frucht</td>
            </tr>
            <tr data-foo="12345678">
                <td>Melone</td>
                <td>grosse Frucht</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
