/** tabs.less */


// block
// =====

.tabs {
    border-radius: 1px * @defaultBorderRadius;
    border: @color-base-23 1px solid;
}

// elements
// ========

// by default, all tabs (= buttons) take up the same
// width (table-layout: fixed)

.tabs__page {
    background: @color-white;
    padding: 1.5rem;
}

.tabs__menu {
    background: @color-base-25;
    border-radius: 0;
    border: 0;
    border-bottom: @color-base-23 1px solid;
    color: @color-base-8;
    position: relative;
    width: 100%;
}

.tabs__items {
    display: flex;
    width: 100%;
}

.tabs__item {
    border-right: @color-base-23 1px solid;
    position: relative;
    list-style: none;
}

.tabs__item.is--active {

    background: @color-white;

    // add a white line to cover up the
    // bottom border

    &::after {
        background: @color-white;
        bottom: -1px;
        content: ' ';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 10;
    }

}

.tabs__link {

    .mixin-fs-2;
    .mixin-fw-bold;
    box-sizing: border-box;
    display: block;
    height: 2rem;
    line-height: 1rem;
    padding: .5rem .75rem;
    text-align: center;

    &:active,
    &:link,
    &:visited {
        color: @color-base-10;
        text-decoration: none;
    }

    &:hover {
        background-color: @color-white;
    }

}

// modifiers
// =========

// fixed layout: all tabs have the same width

.tabs__menu--grow {
    .tabs__item {
        flex-grow: 1;
    }

    .tabs__item:last-child {
        border-right: 0;
    }
}

// large tabs menu

.tabs__menu--large {

    .tabs__link {
        .mixin-fs-3;
        box-sizing: border-box;
        height: 2.5rem;
        line-height: 1.5rem;
        padding: .5rem .75rem;
    }

}

// subtle tabs menu

.tabs__menu--subtle {

    background: transparent;
    border: 0;
    color: @color-base-12;

    .tabs__item {
        background-color: transparent;
        border-right: 0;
        box-shadow: 0 -1px 0 @color-base-23 inset;
    }

    .tabs__link:hover {
        color: @color-base-8;
        background-color: transparent;
    }

    .tabs__item.is--active {
        border-left: @color-base-23 1px solid;
        border-right: @color-base-23 1px solid;
        border-top-left-radius: 1px * @defaultBorderRadius;
        border-top-right-radius: 1px * @defaultBorderRadius;
        border-top: @color-base-23 1px solid;
        box-shadow: none;
        color: @color-base-8;
    }

    .is--active .tabs__link {
        padding-left: ~'calc(.75rem - 1px)';
        padding-right: ~'calc(.75rem - 1px)';
        position: relative;
        top: -1px;
    }

}

// tabs menu with small arrows and no borders

.tabs__menu--arrows {

    background: @color-white;
    border-radius: 0;
    border: 0;

    .tabs__item {

        border: 0;
        border-bottom: @color-base-24 2px solid;

        &:hover {
            border-bottom-color: @color-base-18;
        }

    }

    .tabs__link {
        color: @color-base-13;
    }

    .tabs__item.is--active,
    .tabs__item.is--active:hover {

        background: transparent;
        border-bottom-color: @color-base-10;

        .tabs__link {
            color: @color-base-8;
        }
    }

    .tabs__item.is--active::after {

        // pointer

        background: transparent;
        border-color: transparent transparent @color-base-10 transparent;
        border-style: solid;
        border-width: 0 .5rem .5rem .5rem;
        bottom: -.5rem;
        content: ' ';
        display: block;
        height: 0;
        left: 50%;
        margin-left: -.5rem;
        position: absolute;
        transform: rotate(180deg);
        width: 0;
    }

}
