/** tabs.less */

// block
// =====

.tabs {
    border-radius: 1px * @borderRadius;
    border: @color-main-23 1px solid;
}

// elements
// ========

// by default, all tabs (= buttons) take up the same
// width (table-layout: fixed)

.tabs__page {
    background: @color-white;
    padding: 2rem;
}

.tabs__menu {
    background: @color-main-25;
    border-radius: 0;
    border: 0;
    border-bottom: @color-main-23 1px solid;
    color: @color-main-8;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.tabs__items {
    list-style: none;
    display: table-row;
}


.tabs__item {

    display: table-cell;
    border-right: @color-main-23 1px solid;
    position: relative;
    vertical-align: bottom;

    &:last-child {
        border-right: 0;
    }

}

.tabs__item.is--active {

    background: @color-white;

    // add a white line to cover up the
    // bottom border

    &::after {
        background: @color-white;
        bottom: -1px;
        content: ' ';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 10;
    }

}

.tabs__link {

    display: block;
    font-family: @font-sansserif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 1rem;
    text-align: center;

    &:active,
    &:link,
    &:visited {
        color: @color-main-10;
        text-decoration: none;
    }

    &:hover {
        background-color: @color-white;
    }

    // svg images inside tabs link

    svg {

        border: transparent 2px solid;
        display: block;
        height: 56px;
        margin: 0 auto 5px auto;
        width: 56px;

        * {
            fill: @color-main-10;
        }

    }

}

// modifiers
// =========

// fixed layout: all tabs have the same width

.tabs__menu--loose {

    font-size: 0;

    .tabs__items {
        display: block;
    }

    .tabs__item {
        border-right: @color-main-23 1px solid;
        display: inline-block;
    }

}

// large tabs menu

.tabs__menu--large {

    .tabs__link {
        font-size: 1.5rem;
        padding: 1.5rem 1rem;
    }

}

// subtle tabs menu

.tabs__menu--subtle {

    background: transparent;
    border: 0;
    color: @color-main-12;

    .tabs__item {
        background-color: transparent;
        border-right: 0;
        box-shadow: 0 -1px 0 @color-main-23 inset;
    }

    .tabs__link:hover {
        color: @color-main-8;
        background-color: transparent;
    }

    .tabs__item.is--active {
        border-left: @color-main-23 1px solid;
        border-right: @color-main-23 1px solid;
        border-top-left-radius: 1px * @borderRadius;
        border-top-right-radius: 1px * @borderRadius;
        border-top: @color-main-23 1px solid;
        box-shadow: none;
        color: @color-main-8;
    }

}

// checkmark for highlighting active tabs links

.tabs__menu--checkmarks {

    .tabs__item.is--active .tabs__link:before {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-positive-15);
        content: ' ';
        display: inline-block;
        height: 3.2rem;
        margin: -1.5rem 0;
        vertical-align: middle;
        width: 3.2rem;
    }

}

// tabs menu with small arrows and no borders

.tabs__menu--arrows {

    background: @color-white;
    border-radius: 0;
    border: 0;

    .tabs__item {

        border: 0;
        border-bottom: @color-main-24 2px solid;

        &:hover {
            border-bottom-color: @color-main-18;
        }

    }

    .tabs__link {

        color: @color-main-13;

        circle, ellipse, path, polygon {
            fill: @color-main-13;
        }

    }

    .tabs__item.is--active,
    .tabs__item.is--active:hover {

        background: transparent;
        border-bottom-color: @color-main-10;

        .tabs__link {
            color: @color-main-8;
        }

        circle, ellipse, path, polygon {
            fill: @color-main-8;
        }

    }

    .tabs__item.is--active::after {
        background: transparent;
        border-color: transparent transparent @color-main-10 transparent;
        border-style: solid;
        border-width: 0 1rem 1rem 1rem;
        bottom: -1rem;
        content: ' ';
        display: block;
        height: 0;
        left: 50%;
        margin-left: -1rem;
        position: absolute;
        transform: rotate(180deg);
        width: 0;
    }

}
