/** article.less */

.article {

    // headlines

    > h1, > h2, > h3, > h4, > h5, > h6 {
        .mixin-verticalRhythm;
        margin-bottom: -1.5rem;
    }

    // other block-level elements

    > address, > article, > aside, > audio, > blockquote, > canvas, > cite,
    > dd, > details, > dl, > figcaption, > figure, > footer, > form, > header,
    > main, > menu, > nav, > ol, > output, > p, > pre, > section, > summary, > table,
    > ul, > video {
        .mixin-fs-3;
        .mixin-verticalRhythm;
    }

    // adjacent paragraphs

    > p + p {
        margin-top: 2rem;
    }

    // intro (-paragraph)

    .intro {
        .mixin-fs-5;
        .mixin-lh-9;
    }

    // lists

    > ul:not([class]),
    > ol:not([class]) {

        margin-left: 2rem;

        li + li {
            margin-top: 1rem;
        }

        ul,
        ol {
            margin-left: 4rem;
        }

    }

    > dl:not([class]) {

        border-top: @color-base-24 1px solid;
        padding-top: 1rem;

        dt {
            font-weight: bold;
            margin-bottom: 0;
        }

        dd {
            border-bottom: @color-base-24 1px solid;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

    }

    // hints

    > .hint {
        .mixin-verticalRhythm;
    }

    // block quotes

    > blockquote {
        border-left: @color-base-22 2px solid;
        font-style: italic;
        padding-left: 2.5rem;
    }

    // code

    > .code__example,
    > div[class*=highlighter] {
        .mixin-verticalRhythm();
    }

}
