/** accordion.less */

// block
// =====

.accordion {

    .mixin-clearfix;
    .mixin-defaultBorderRadius;
    border: @color-main-22 1px solid;
    box-sizing: border-box;
    overflow: hidden;

    // reset borders

    :last-child.is--closed > .accordion__header,
    :last-child > .accordion__body {
        border: 0;
    }

}

// elements
// ========

.accordion__section {
    margin: 0;
}

.accordion__header {

    .mixin-userSelectNone;
    background: @color-white;
    border-bottom: @color-main-22 1px solid;
    cursor: pointer;
    margin: 0;
    min-height: 2rem;
    padding: .5rem 3rem .5rem 1rem;
    position: relative;

    &:hover {
        background: @color-main-25;
    }
    
    &:focus {
        outline: none;
    }

    // icon

    &::after {
        margin-top: -1.6rem;
        position: absolute;
        right: 0;
        top: 50%;
    }

}

// icons (only if JS is enabled)

.js {

    .is--open .accordion__header::after,
    .is--closed .accordion__header::after {
        content: ' ';
        height: 3.2rem;
        width: 3.2rem;
    }

    .is--open .accordion__header::after {
        .mixin-icon-bg(@id: 'icon-003-s', @fillColor: @color-main-22);
    }

    .is--closed .accordion__header::after {
        .mixin-icon-bg(@id: 'icon-002-s', @fillColor: @color-main-22);
    }

}

.accordion__body {
    background: fade(@color-main-25,50%);
    border-bottom: @color-main-22 1px solid;
    margin: 0;
    overflow: hidden;
    padding: 1rem;
}
