/** article.less */

.article {

    // headlines

    > h1, > h2, > h3, > h4, > h5, > h6 {
        @verticalRhythm();
        line-height: 1;
    }
    
    // adjecent headlines and paragraphs
    
    > h3, > h4, > h5, > h6 {
        & + p {
            margin-top: 0;
        }
    }

    // other block-level elements

    > address, > article, > aside, > audio, > blockquote, > canvas, > cite,
    > dd, > details, > dl, > figcaption, > figure, > footer, > form, > header,
    > main, > menu, > nav, > ol, > output, > p, > pre, > section, > summary, > table,
    > ul, > video {
        @verticalRhythm();
        font-size: 1.5rem;
    }
    
    // adjacent paragraphs
    
    > p + p {
        margin-top: 0;
    }
    
    // intro (-paragraph)
    
    .intro {
        font-size: 2rem;
        line-height: 1.5;
    }

    // lists

    > ul:not([class]),
    > ol:not([class]) {

        margin-left: 2rem;

        li + li {
            margin-top: 1rem;
        }

        ul,
        ol {
            margin-left: 4rem;
        }

    }

    > dl:not([class]) {

        border-top: @color-main-24 1px solid;
        padding-top: 1rem;

        dt {
            font-weight: bold;
            margin-bottom: 0;
        }

        dd {
            border-bottom: @color-main-24 1px solid;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

    }
    
    // notes
    
    > .note {
        @verticalRhythm();
    }
    
    // block quotes
    
    > blockquote {
        border-left: @color-main-22 2px solid;
        font-style: italic;
        padding-left: 2.5rem;
    }

}
