/** icons.less */

// block
// =====

.icon {

    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;

    svg {
        width: 3.2rem;
        height: 3.2rem;
    }

}

// modifiers
// =========

// size

.icon--small {

    width: 2.4rem;
    height: 2.4rem;

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }

}

.icon--large {

    width: 4.8rem;
    height: 4.8rem;

    svg {
        width: 4.8rem;
        height: 4.8rem;
    }

}

.icon--xlarge {

    width: 6.4rem;
    height: 6.4rem;

    svg {
        width: 6.4rem;
        height: 6.4rem;
    }

}

// color

/*
    Any .icon inside a parent element with a certain color modifier "inherit" the colors of their parent.
    However, the color modifier class names applied directly to .btnDismiss (eg. icon icon--error)
    beat the inheritance. In order to up the specificity, we repeat the modifier class name. It's actually
    not even a hack:

    "Repeated occurrances of the same simple selector are allowed and do increase specificity."
    https://www.w3.org/TR/css3-selectors/#specificity
*/

[class*="--attention"] .icon,
.icon.icon--attention.icon--attention {
    circle, ellipse, path, polygon {
        fill: @color-attention-8;
    }
}

[class*="--success"] .icon,
[class*="--positive"] .icon,
.icon.icon--success.icon--success,
.icon.icon--positive.icon--positive {
    circle, ellipse, path, polygon {
        fill: @color-positive-8;
    }
}

[class*="--error"] .icon,
[class*="--negative"] .icon,
.icon.icon--error.icon--error,
.icon.icon--negative.icon--negative {
    circle, ellipse, path, polygon {
        fill: @color-negative-8;
    }
}

// mixin: SVG icons as background image

.mixin-icon-bg(@id; @width: 32; @height: 32; @fillColor: '000'; @strokeColor: '000') {
    @relativeWidth  : @width / 10 * @rootFontSize;
    @relativeHeight : @height / 10 * @rootFontSize;
    @fillColorHex   : replace(@fillColor, '#', '');
    @strokeColorHex : replace(@strokeColor, '#', '');
    background: transparent url(~'http://@{cdnDomain}/svg.php?id=@{id}&f=@{fillColorHex}&s=@{strokeColorHex}&w=@{relativeWidth}&h=@{relativeHeight}') center center no-repeat;
}
