/** note.less */

// block
// =====

.note {
    .mixin-clearfix;
    .noteTheme;
    .mixin-defaultBorderRadius;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-family: @font-sansserif;
    padding: 1rem;
    position: relative;
}

// elements
// ========

// dismiss/close button

.note .btnDismiss {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// icon

.note .icon {

    left: 1rem;
    position: absolute;
    top: .75rem;

    & ~ .note__headline,
    & ~ .note__body {
        padding-left: 4.5rem;
    }

}

// headline

.note__headline {
    @h4();
    margin: 0 0 .5rem 0;
}

// body

.note__body {

    // typography

    p:first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    ul {

        padding-left: 2rem;

        li {
            margin-bottom: 1rem;
        }

    }

    // visually seperate multiple bodies

    & + & {
        border-top-style: solid;
        border-top-width: 1px;
        margin-top: 1rem;
        padding-top: 1rem;
    }

}

// modifiers
// =========

// sizes

.note--large .note__body {
    font-size: 1.5rem;
}

// colors

.note--attention {
    .noteTheme(
        @borderColor: @color-attention-19,
        @txtColor: @color-attention-10,
        @backgroundColor: @color-attention-22
    );
}

.note--dark {
    .noteTheme(
        @borderColor: @color-transparent,
        @txtColor: @color-main-25,
        @backgroundColor: @color-main-10
    );
}

.note--error,
.note--negative {
    .noteTheme(
        @borderColor: @color-negative-22,
        @txtColor: @color-negative-10,
        @backgroundColor: @color-negative-24
    );
}

.note--light {
    .noteTheme(
        @backgroundColor: @color-white
    );
}

.note--success,
.note--positive {
    .noteTheme(
        @borderColor: @color-positive-22,
        @txtColor: @color-positive-10,
        @backgroundColor: @color-positive-24
    );
}

.note--subtle {
    .noteTheme(
        @borderColor: @color-transparent,
        @txtColor: @gray-6,
        @backgroundColor: @gray-23
    );
}

// "constructor" for different color themes

.noteTheme(@borderColor: @color-main-23, @txtColor: @color-main-10, @backgroundColor: @color-main-25) {

    background: @backgroundColor;
    border-color: @borderColor;
    color: @txtColor;

    .note__headline {
        color: @txtColor;
    }

    .note__body + .note__body {
        border-color: @borderColor;
    }

}

// grouped notes

.notes {

    .note:first-child {
        border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    }

    .note + .note {
        border-radius: 0;
        border-top: 0;
    }

    .note:last-child {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
    }

    .note:only-child {
        .mixin-defaultBorderRadius;
    }

}

// dismissable notes (see notifications.js)

.note[yoi-dismissable] {
    padding-right: 4rem;
}

// full-width notes

/*
    In order to correctly attach icons to full-width notes, we need an additional
    css-class to mark them. Because the icons should not be attached to the note itself
    but to it's .center element inside.
*/

.note.note--fullwidth {

    padding: 1rem;

    .center {
        min-width: @globalWidth - 20;
        max-width: @globalMaxWidth - 20;
    }

    &[class*="note--icon"] .center {
        padding-left: 5.5rem;
    }

}
