/** ratingInput.less */

// block
// =====

.noJs .ratingInput {
    display: none;
}

.ratingInput {
    .mixin-defaultBorderRadius;
    background: @color-white;
    border: @color-main-20 1px solid;
    box-shadow: 0 1px 0 @color-main-24 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 2.5rem;
}

.ratingInput__select {
    display: inline-block;
    margin: 0;
    padding: 0 .5rem;
}

.ratingInput__star {
    .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-23);
    width: 2rem;
    height: 2.3rem;
    display: inline-block;
}

// modifiers
// =========

.ratingInput--rated-1 {
    .ratingInput__star:nth-child(1) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-13); }
    &:hover .ratingInput__star:nth-child(1) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-5); }
}

.ratingInput--rated-2 {
    .ratingInput__star:nth-child(-n + 2) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-13); }
    &:hover .ratingInput__star:nth-child(-n + 2) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-5); }
}

.ratingInput--rated-3 {
    .ratingInput__star:nth-child(-n + 3) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-13); }
    &:hover .ratingInput__star:nth-child(-n + 3) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-5); }
}

.ratingInput--rated-4 {
    .ratingInput__star:nth-child(-n + 4) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-13); }
    &:hover .ratingInput__star:nth-child(-n + 4) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-5); }
}

.ratingInput--rated-5 {
    .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-13); }
    &:hover .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-5); }
}

// locked state

.ratingInput--locked {

    background: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: default;

    .ratingInput__star {
        color: transparent;
    }

    &.ratingInput--rated-1, &.ratingInput--rated-1:hover {
        .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-gold); }
        .ratingInput__star:nth-child(n + 2) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-23); }
    }

    &.ratingInput--rated-2, &.ratingInput--rated-2:hover {
        .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-gold); }
        .ratingInput__star:nth-child(n + 3) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-23); }
    }

    &.ratingInput--rated-3, &.ratingInput--rated-3:hover {
        .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-gold); }
        .ratingInput__star:nth-child(n + 4) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-23); }
    }

    &.ratingInput--rated-4, &.ratingInput--rated-4:hover {
        .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-gold); }
        .ratingInput__star:nth-child(n + 5) { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-main-23); }
    }

    &.ratingInput--rated-5, &.ratingInput--rated-5:hover {
        .ratingInput__star { .mixin-icon-bg(@id: 'icon-039-s', @fillColor: @color-gold); }
    }

}

// large

.ratingInput--large {

    height: 4rem;

    .ratingInput__select {
        padding: 0 1rem;
    }

    .ratingInput__star {
        height: 3.8rem;
        width: 2.5rem;
    }
}
