/** ribbon.less */

// block
// =====

.ribbon {
    display: block;
    left: -20rem;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 3rem;
    width: 50rem;
}

// elements
// ========

.ribbon__label {

    background: @color-main-15;
    color: @color-white;
    display: block;
    font: bold 1.5rem/3rem @font-sansserif;
    text-align: center;
    white-space: nowrap;

    .ribbon &,
    .ribbon--left & {
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
    }

    .ribbon--right & {
        transform-origin: 50% 50%;
        transform: rotate(45deg);
    }

}

// modifiers
// =========

.ribbon--left {
    // default
}

.ribbon--right {
    left: auto;
    right: -20rem;
}

.ribbon--attention .ribbon__label {
    .ribbonTheme(@color-attention-8, @color-attention-22);
}

.ribbon--dark .ribbon__label {
    .ribbonTheme(@color-white, @color-main-10);
}

.ribbon--light .ribbon__label {
    .ribbonTheme(@color-main-10, @color-main-24);
}

.ribbon--negative .ribbon__label {
    .ribbonTheme(@color-white, @color-negative-15);
}

.ribbon--positive .ribbon__label {
    .ribbonTheme(@color-white, @color-positive-13);
}

// "constructor" for different color themes

.ribbonTheme(@txtColor, @backgroundColor) {
    background: @backgroundColor;
    color: @txtColor;
}
