/** scrollProgress.less */

// block
// =====

.scrollProgress {
    background: fade(@color-main-5,15%);
    height: .5rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
}

// elements
// ========

.scrollProgress__track {
    background: @color-main-8;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}