/** specialLinks.less */

a[class*="link--"]::before,
a[class*="link--"]::after {
    content: ' ';
    display: inline-block;
    height: 2.5rem;
    left: 0;
    top: 0;
    width: 2.5rem;
}

// reference link

.link--ref::after {
    .mixin-icon-bg(@id: 'icon-070-s', @width: 24, @height: 24, @fillColor: @color-main-8);
}

// link to document file (eg. a PDF)

.link--doc::before {
    .mixin-icon-bg(@id: 'icon-013-s', @width: 24, @height: 24, @fillColor: @color-main-8);
}

// external link

.link--ext::before {}
