/** spinner.less */

.spinner::after {
    animation: spin 1s infinite linear;
    background: transparent;
    border-radius: 50%;
    border: 3px solid @gray-24;
    border-top-color: darken(@focusColor,15%);
    box-sizing: border-box;
    content: ' ';
    display: inline-block;
    height: 3rem;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
    width: 3rem;
}

.spinner--dark::after {
    border-color: fade(@gray-10,70%);
    border-top-color: @focusColor;
}

// animation

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
