/** options.less */

@cdnDomain                     : 'cdn.yoshino.digital';
@broadCastActiveMediaqueryToJs : true;
@defaultBorderRadius           : 2;
@debugMediaquery               : false;
@debugGrid                     : false;
@debugBemElements              : false;
@debugBemModifiers             : false;
@debugImages                   : false;
@debugFloats                   : false;
@showCenterGuides              : false;

// @utilityPrefix                 : '';
// @componentPrefix               : 'yoi-';