/** switch.less */

.js {

    // block (JS only)
    // ===============

    .switch {

        .mixin-clearAppearance;
        .mixin-userSelectNone;
        border-radius: 1rem;
        border: 0;
        cursor: pointer;
        display: inline-block;
        height: 2rem;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        width: ~'calc(2rem * 2 - 4px)';

        input {
            position: absolute;
            visibility: hidden;
            z-index: 1;
        }

    }

    // elements (injected via JS)
    // ==========================

    .switch__knob {
        background: @color-white;
        border-radius: 50%;
        content: ' ';
        display: block;
        height: ~'calc(2rem - 4px)';
        overflow: hidden;
        position: absolute;
        text-indent: -999px;
        top: 2px;
        transition: left 60ms ease-in;
        width: ~'calc(2rem - 4px)';
    }

    .switch__labelOn,
    .switch__labelOff {
        .mixin-userSelectNone;
        .mixin-fw-bold;
        .mixin-fs-2;
        display: block;
        line-height: 2rem;
        position: absolute;
        text-transform: uppercase;
        top: 0;
    }

    .switch__labelOn {
        color: @color-positive-25;
        left: 8px;
    }

    .switch__labelOff {
        color: @color-base-25;
        right: 8px;
    }

    // modifiers
    // =========

    // on

    .switch--on {

        background: @color-positive-15;

        .switch__knob { left: ~'calc(2rem - 2px)'; }
        .switch__labelOn  { display: block }
        .switch__labelOff { display: none; }

    }

    // off

    .switch--off {

        background: @color-base-16;

        .switch__knob { left: 2px; }
        .switch__labelOn  { display: none; }
        .switch__labelOff { display: block; }

    }

    // has labels

    .switch--labeled {

        width: 5rem;

        &.switch--on .switch__knob {
            left: ~'calc(5rem - 2rem + 2px)';
        }

    }

    // on focus

    .switch--focus {
        // todo
    }

    // small switch

    .switch--small {

        border-radius: .75rem;
        height: 1.5rem;
        width: ~'calc(1.5rem * 2 - 4px)';

        // knob

        .switch__knob {
            height: ~'calc(1.5rem - 4px)';
            width: ~'calc(1.5rem - 4px)';
        }

        // labels

        .switch__labelOn,
        .switch__labelOff {
            .mixin-fs-1;
            line-height: 1.5rem;
        }

        // on

        &.switch--on .switch__knob {
            left: ~'calc(1.5rem - 2px)';
        }

        // has labels

        &.switch--labeled {

            width: 4rem;

            &.switch--on .switch__knob {
                left: ~'calc(4rem - 1.5rem + 2px)';
            }

        }

    }

    // large switch

    .switch--large {

        border-radius: 1.25rem;
        height: 2.5rem;
        width: ~'calc(2.5rem * 2 - 4px)';

        // knob

        .switch__knob {
            height: ~'calc(2.5rem - 4px)';
            width: ~'calc(2.5rem - 4px)';
        }

        // labels

        .switch__labelOn,
        .switch__labelOff {
            .mixin-fs-3;
            line-height: 2.5rem;
        }

        // on

        &.switch--on .switch__knob {
            left: ~'calc(2.5rem - 2px)';
        }

        // has labels

        &.switch--labeled {

            width: 6rem;

            &.switch--on .switch__knob {
                left: ~'calc(6rem - 2.5rem + 2px)';
            }

        }

    }

}
