/** code.less */

// basic elements
// ==============

code {
    .mixin-defaultBorderRadius;
    background: @gray-25;
    color: @purple-13;
    direction: ltr;
    font-family: @font-mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: inherit;
    tab-size: 4;
    text-align: left;
    word-break: keep-all;
    word-spacing: normal;
}

pre {
    .mixin-defaultBorderRadius;
    background: @gray-25;
    border-bottom-left-radius: 0;
    font-size: 1.4rem;
    padding: 1rem;
}

pre code {
    display: block;
    overflow-x: scroll;
}

// code example

.code__example {
    background: @color-white;
    border-radius: 2px;
    border: @gray-23 1px solid;
}

.code__example pre code {
    border-radius: 0;
    padding-bottom: 1.5rem;
}

.code__example pre {
    padding: 0 2rem 2rem 2rem;
}

.code__example pre,
.code__example code {
    background: transparent;
    font-size: 1.4rem;
    line-height: 2rem;
}

.code__source {
    position: relative;
}

.code__source--truncated::before,
.code__source::after {

    // gradients to cut overflowing text on right and bottom

    bottom: 4rem;
    content: ' ';
    display: block;
    position: absolute;

}

.code__source--truncated::before {
    
    // gradient to cut overflowing text on bottom
    
    background: linear-gradient(@color-transparent, @color-white);
    height: 2.5rem;
    left: 2rem;
    right: 2rem;

}

.code__source::after {

    // gradient to cut overflowing text on right

    background: linear-gradient(to right, @color-transparent, @color-white);
    right: 2rem;
    top: 0;
    width: 2.5rem;

}

.code__example .code__result {
    padding: 2rem;
}

.code__example.tabs pre {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: -1.2rem;
}

.code__example > .tabs__menu,
.code__example > .tabs__menu .tabs__item {
    border-color: @gray-23;
}

.code__example .tabs__page {
    position: relative;
}

// copy button

.code__copyBtn {
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    .code__example & {
        .mixin-defaultBorderRadius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
    }
    
    .tabs__page & {
        bottom: 0;
        left: 0;
        position: absolute;
    }
    
}

// expand button

.code__expandBtn {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

// source tree (to display directory structure)
// ============================================

.tree {
    .mixin-defaultBorderRadius;
    background: @gray-25;
    color: @color-base-13;
    direction: ltr;
    font-family: @font-mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: 1.15;
    overflow-x: scroll;
    padding: 0 2rem 2rem 2rem;
    position: relative;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: keep-all;
    word-spacing: normal;
}

// code highlighting (via http://rouge.jneen.net)
// ==============================================

.highlight {
    .hll { background-color: @gray-22; }
    .c   { color: @gray-15; }
    .err { }
    .k   { color: @purple-12; }
    .l   { color: @yellow-13; }
    .n   { color: @gray-15; }
    .o   { color: @gray-10; }
    .p   { color: @gray-15; }
    .cm  { color: @gray-15; }
    .cp  { color: @gray-15; }
    .c1  { color: @gray-15; }
    .cs  { color: @gray-15; }
    .gd  { color: @red-15; }
    .ge  { font-style: italic; }
    .gh  { color: @gray-10; font-weight: bold; }
    .gi  { color: @green-15 }
    .gp  { color: @green-15; font-weight: bold; }
    .gs  { font-weight: bold}
    .gu  { color: @green-13; font-weight: bold; }
    .kc  { color: @purple-12; }
    .kd  { color: @purple-12; }
    .kn  { color: @green-13; }
    .kp  { color: @blue-11; }
    .kr  { color: @purple-12; }
    .kt  { color: @yellow-18; }
    .ld  { color: @green-15; }
    .m   { color: @yellow-13; }
    .s   { color: @yellow-13; }
    .na  { color: @blue-11; }
    .nb  { color: @blue-11; }
    .nc  { color: @red-18; }
    .no  { color: @yellow-18; }
    .nd  { color: @green-13; }
    .ni  { color: @gray-10; }
    .ne  { color: @red-15; }
    .nf  { color: @blue-11; }
    .nl  { color: @gray-10; }
    .nn  { color: @yellow-18; }
    .nx  { color: @blue-11; }
    .py  { color: @gray-10; }
    .nt  { color: @green-13; }
    .nv  { color: @red-15; }
    .ow  { color: @green-13; }
    .w   { color: @gray-10; }
    .mf  { color: @yellow-13; }
    .mh  { color: @yellow-13; }
    .mi  { color: @yellow-13; }
    .mo  { color: @yellow-13; }
    .sb  { color: @green-15; }
    .sc  { color: @gray-10; }
    .sd  { color: @gray-15; }
    .s2  { color: @green-15; }
    .se  { color: @yellow-13; }
    .sh  { color: @green-15; }
    .si  { color: @yellow-13; }
    .sx  { color: @green-15; }
    .sr  { color: @green-15; }
    .s1  { color: @green-15; }
    .ss  { color: @green-15; }
    .bp  { color: @gray-10; }
    .vc  { color: @red-15; }
    .vg  { color: @red-15; }
    .vi  { color: @red-15; }
    .il  { color: @yellow-13; }
}