/** breakpoints.less */

// "strict" breakpoints

@bp-only-s  : ~"only screen and (min-width: .1em) and (max-width: 69.9em)";
@bp-only-m  : ~"only screen and (min-width: 70rem) and (max-width: 95.9em)";
@bp-only-l  : ~"only screen and (min-width: 96em) and (max-width: 121.9em)";
@bp-only-xl : ~"only screen and (min-width: 122em)";

// @bp-only-s  : ~"only screen and (max-width: 70em)";
// @bp-only-m  : ~"only screen and (min-width: 70.1em)";
// @bp-only-l  : ~"only screen and (min-width: 96rem)";
// @bp-only-xl : ~"only screen and (min-width: 122em)";

// // "overlapping" breakpoints
//
// @bp-from-s  : ~"only screen and (max-width: 70em)";
// @bp-from-m  : ~"only screen and (min-width: 70.1em)";
// @bp-from-l  : ~"only screen and (min-width: 96rem)";
// @bp-from-xl : ~"only screen and (min-width: 122em)";