/** spinner.less */

.spinner::after {
    animation: spin .75s infinite linear;
    background: transparent;
    border-radius: 50%;
    border: 2px solid @color-gray-24;
    border-top-color: @color-primary-19;
    box-sizing: border-box;
    content: ' ';
    display: inline-block;
    height: 1.5rem;
    left: 50%;
    margin-left: -.75rem;
    margin-top: -.75rem;
    position: absolute;
    top: 50%;
    width: 1.5rem;
}

.spinner--dark::after {
    border-color: fade(@color-gray-10,70%);
    border-top-color: @color-primary-20;
}

// animation

@keyframes spin {
    0%   { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
