/** debug.less */

// images
// ======

img:not([alt]) when (@debugImages = true) {
    outline: 2px @red-15 solid !important;
    outline-style: inset !important;
}

img[alt=""] when (@debugImages = true) {
    outline: 2px @red-15 solid !important;
    outline-style: inset !important;
}

img:not([title]) when (@debugImages = true) {
    outline: 2px @red-15 solid !important;
    outline-style: inset !important;
}

img[title=""] when (@debugImages = true) {
    outline: 2px @red-15 solid !important;
    outline-style: inset !important;
}

// placeholder containers
// ======================

.placeholder {
    background:
        linear-gradient(to top left,
            rgba(255,255,255,0) 0%,
            rgba(255,0,0,0) calc(50%),
            rgba(255,255,255,1) 50%,
            rgba(255,0,0,0) calc(50% + .5px),
            rgba(255,255,255,0) 100%),
        linear-gradient(to top right,
            rgba(255,255,255,0) 0%,
            rgba(255,0,0,0) calc(50%),
            rgba(255,255,255,1) 50%,
            rgba(255,0,0,0) calc(50% + .5px),
            rgba(255,255,255,0) 100%),
        rgba(255,200,200,.1);
    border: rgba(255,0,0,.2) 1px solid;
    box-sizing: border-box;
    display: block;
    min-height: 2rem;
    min-width: 2rem;
    overflow: hidden;
}

// guides
// ======

body::before when (@showGuides = true) {
    border-top: rgba(255, 0, 0, .2) 1px solid;
    content: ' ';
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 900;
}

html::before when (@showGuides = true) {
    border-right: rgba(255, 0, 0, .2) 1px solid;
    content: ' ';
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 800;
}

// media queries
// =============

// display the active breakpoint for debugging

body::after when (@showBreakpoint = true) {
    
    .mixin-defaultBorderRadius;
    background-color: @red-13;
    bottom: 2rem;
    color: @red-25;
    font-family: @font-mono;
    font-size: 1.5rem;
    height: auto;
    left: 2rem;
    line-height: 2;
    opacity: 1;
    padding: 0 1rem;
    position: fixed;
    width: auto;
    z-index: 900;

    @media @bp-s  { content: 'small';  }
    @media @bp-m  { content: 'medium'; }
    @media @bp-l  { content: 'large';  }
    @media @bp-xl { content: 'xlarge'; }

}