/** root.less */

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: @htmlBackgroundColor;
    font-size: @rootFontSize;
}

body {
    .mixin-rootType;
    background: @bodyBackgroundColor;
    color: @textColor;
}

::selection {
    background: @color-primary-15;
    color: @color-white;
}