/** debug.less */

// grid
// ====

[class*="w-"] when (@debugGrid = true) {
    outline: @red-20 1px solid;
}

// floats

.fl-l when (@debugFloats = true) {
    outline: @green-15 1px dotted;
}

.fl-r when (@debugFloats = true) {
    outline: @yellow-15 1px dotted;
}

// BEM
// ===

[class*="__"] when (@debugBemElements = true) {
    outline: @green-15 1px dashed !important;
}

[class*="--"] when (@debugBemModifiers = true) {
    outline: @yellow-15 1px dashed !important;
}

// images
// ======

img:not([alt]) when (@debugImages = true) {
    outline: 2px @red-15 solid;
}

img:not([title]) when (@debugImages = true) {
    outline: 2px @red-15 solid;
}

// media queries
// =============

// "broadcast" the active mediaquery to JavaScript
// --> helpers.js / currentBreakpoint()

body::after when (@broadCastActiveMediaqueryToJs = true) {

    bottom: 0;
    content: 'none';
    height: 1px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;

    @media @bp-only-s  { content: 'small';  }
    @media @bp-only-m  { content: 'medium'; }
    @media @bp-only-l  { content: 'large';  }
    @media @bp-only-xl { content: 'xlarge'; }

}

// display the active media query for debugging

body::after when (@debugMediaquery = true) {

    .mixin-defaultBorderRadius;
    background: #00ff8a;
    bottom: 1rem;
    color: #1f4f39;
    content: 'none';
    font-size: 1.5rem;
    height: auto;
    left: 1rem;
    line-height: 2rem;
    opacity: 1;
    padding: 1rem;
    position: fixed;
    width: auto;
    z-index: 1000;

    @media @bp-only-s  { content: 'small';  }
    @media @bp-only-m  { content: 'medium'; }
    @media @bp-only-l  { content: 'large';  }
    @media @bp-only-xl { content: 'xlarge'; }

}
