/** debug.less */

// grid
// ====

[class*="w-"] when (@debugGrid = true) {
    outline: @red-20 1px solid;
    outline-style: inset;
}

// floats

.fl-l when (@debugFloats = true) {
    outline: @green-15 1px dotted;
    outline-style: inset;
}

.fl-r when (@debugFloats = true) {
    outline: @yellow-15 1px dotted;
    outline-style: inset;
}

// BEM
// ===

[class*="__"] when (@debugBemElements = true) {
    outline: @green-15 1px dashed !important;
    outline-style: inset;
}

[class*="--"] when (@debugBemModifiers = true) {
    outline: @yellow-15 1px dashed !important;
    outline-style: inset;
}

// images
// ======

img:not([alt]) when (@debugImages = true) {
    outline: 2px @red-15 solid;
    outline-style: inset;
}

img[alt=""] when (@debugImages = true) {
    outline: 2px @red-15 solid;
    outline-style: inset;
}

img:not([title]) when (@debugImages = true) {
    outline: 2px @red-15 solid;
    outline-style: inset;
}

img[title=""] when (@debugImages = true) {
    outline: 2px @red-15 solid;
    outline-style: inset;
}

// placeholder containers
// ======================

.placeholder {
    background:
        linear-gradient(to top left,
            rgba(255,255,255,0) 0%,
            rgba(255,0,0,0) calc(50%),
            rgba(255,255,255,1) 50%,
            rgba(255,0,0,0) calc(50% + .5px),
            rgba(255,255,255,0) 100%),
        linear-gradient(to top right,
            rgba(255,255,255,0) 0%,
            rgba(255,0,0,0) calc(50%),
            rgba(255,255,255,1) 50%,
            rgba(255,0,0,0) calc(50% + .5px),
            rgba(255,255,255,0) 100%),
        rgba(255,0,0,.1);
    border: rgba(255,0,0,.2) 1px solid;
    box-sizing: border-box;
    display: block;
    min-height: 2rem;
    min-width: 2rem;
    overflow: hidden;
}

// guides
// ======

body::before when (@showCenterGuides = true) {
    border-top: rgba(255, 0, 0, .2) 1px solid;
    content: ' ';
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 900;
}

html::before when (@showCenterGuides = true) {
    border-right: rgba(255, 0, 0, .2) 1px solid;
    content: ' ';
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 900;
}

// media queries
// =============

// "broadcast" the active mediaquery to JavaScript
// --> helpers.js / currentBreakpoint()

body::after when (@broadCastActiveMediaqueryToJs = true) {

    bottom: 0;
    content: 'none';
    height: 1px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;

    @media @bp-only-s  { content: 'small';  }
    @media @bp-only-m  { content: 'medium'; }
    @media @bp-only-l  { content: 'large';  }
    @media @bp-only-xl { content: 'xlarge'; }

}

// display the active media query for debugging

body::after when (@debugMediaquery = true) {

    .mixin-defaultBorderRadius;
    background: #00ff8a;
    bottom: 1rem;
    color: #1f4f39;
    content: 'none';
    font-size: 1.5rem;
    height: auto;
    left: 1rem;
    line-height: 2rem;
    opacity: 1;
    padding: 1rem;
    position: fixed;
    width: auto;
    z-index: 1000;

    @media @bp-only-s  { content: 'small';  }
    @media @bp-only-m  { content: 'medium'; }
    @media @bp-only-l  { content: 'large';  }
    @media @bp-only-xl { content: 'xlarge'; }

}
