/** mixins.less */

// helpers
// =======

.mixin-clearfix() {

    &::after {
        content: "";
        display: block;
        clear: both;
    }

}

.mixin-hidden() {
    display: block;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.mixin-clearAppearance() {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
