/** article.less */

.article {

    // headlines

    > h1, > h2, > h3, > h4, > h5, > h6 {
        @verticalRhythm();
    }

    // other block-level elements

    > address, > article, > aside, > audio, > blockquote, > canvas, > cite,
    > dd, > details, > dl, > figcaption, > figure, > footer, > form, > header,
    > main, > menu, > nav, > ol, > output, > p, > pre, > section, > summary, > table,
    > ul, > video {
        @verticalRhythm();
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    // lists

    > ul:not([class]),
    > ol:not([class]) {

        margin-left: 2rem;

        li {
            margin-bottom: 1rem;
        }

        ul,
        ol {
            margin-top: 1rem;
            margin-left: 2rem;
        }

    }
    
    > dl:not([class]) {

        border-top: @color-main-24 1px solid;
        padding-top: 1rem;

        dt {
            font-weight: bold;
            margin-bottom: 0;
        }

        dd {
            border-bottom: @color-main-24 1px solid;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

    }

}
