/** autoComplete.less */

.autoComplete {
    .mixin-defaultBorderRadius;
    background: #fff;
    border: @color-main-20 1px solid;
    display: none; // only used with JS anyways
}

.autoComplete__item,
.autoComplete__item:link {

    border-bottom: @color-main-24 1px solid;
    border-radius: 0;
    display: block;
    margin: 0;
    min-height: 50px;
    padding: 0;
    text-decoration: none;
    width: 100%;
    overflow: hidden;

    &:hover {
        background: @color-main-25;
        border-bottom: @color-main-24 1px solid;
    }

    &:last-child {
        border: 0;
    }

}

// different item types

.autoComplete__item--agent::before,
.autoComplete__item--book::before,
.autoComplete__item--brand::before,
.autoComplete__item--category::before,
.autoComplete__item--guide::before {
    .mixin-icon;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
}

.autoComplete__item--agent::before    { content: '\e058'; }
.autoComplete__item--book::before     { content: '\e077'; }
.autoComplete__item--brand::before    { content: '\e057'; }
.autoComplete__item--category::before { content: '\e059'; }
.autoComplete__item--guide::before    { content: '\e073'; }

// elements inside items

.autoComplete__item::before,
.autoComplete__image {
    display: block;
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    width: 50px;
}

.autoComplete__image {
    background: transparent  ~"url(../img/bg-loadAni-50x50.gif)" no-repeat 0 0; // subtle loader animation
}

.autoComplete__title {

    color: @color-main-8;
    display: block;
    font: bold 12px/15px @font-sansserif;
    padding: 10px 0 0 0;

    // highlighted portion of title

    em {
        background: @color-main-10;
        .mixin-defaultBorderRadius;
        color: @color-attention-20;
        font-style: normal;
    }

}

.autoComplete__details {
    display: block;
    line-height: 15px;
    margin: 0 0 10px 0;
}
