/** badge.less */

// block
// =====

.badge {

    .mixin-defaultBorderRadius;
    background: @color-main-23;
    color: @color-main-10;
    display: inline-block;
    font: bold 1.3rem/2rem @font-sansserif;
    padding: 0 1rem;
    text-align: center;
    text-shadow: none;

    // badge as link

    a& {
        text-decoration: none;
    }

    a&:hover {
        background: @color-main-22;
        color: @color-main-9;
    }

}

// modifiers
// =========

.badge--small {
    font: bold 1.1rem/1.5rem @font-sansserif;
    padding: 0 .5rem;
}

.badge--medium {
    font: bold 1.5rem/2.5rem @font-sansserif;
}

.badge--large {
    font: bold 2rem/3rem @font-sansserif;
    padding: 0 15px;
}

.badge--dark {
    .badgeTheme(@color-main-25, @color-main-24, @color-main-10, @color-main-9);
}

.badge--light {
    .badgeTheme(@color-main-10, @color-main-9, @color-main-25, @color-main-24);
}

.badge--attention {
    .badgeTheme(@color-attention-5, @color-attention-4, @color-attention-20, @color-attention-19);
}

.badge--error,
.badge--negative {
    .badgeTheme(@color-negative-8, @color-negative-7, @color-negative-21, @color-negative-20);
}

.badge--success,
.badge--positive {
    .badgeTheme(@color-positive-25, @color-positive-24, @color-positive-12, @color-positive-11);
}

.badge--rounded {
    border-radius: 1.1rem;
}

.badge--small.badge--rounded {
    border-radius: .7rem;
}

.badge--medium.badge--rounded {
    border-radius: 1.2rem;
}

.badge--large.badge--rounded {
    border-radius: 1.5rem;
}

// "constructor" for different color themes

.badgeTheme(@txtColor, @hoverTxtColor, @backgroundColor, @hoverBackgroundColor) {

    background: @backgroundColor;
    color: @txtColor;

    a&:hover {
        background: @hoverBackgroundColor;
        color: @hoverTxtColor;
    }

}
