/** barChart.less */

// block
// =====

.barChart {

    // track

    background: @color-main-25;
    .mixin-defaultBorderRadius;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    // value

    &::before {
        background: @color-main-8;
        bottom: 0;
        content: ' ';
        display: inline-block;
        left: 0;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
    }

}

// elements
// ========

[class*="barChart--x"] {
    min-width: 10rem;
}

[class*="barChart--x"],
[class*="barChart--x"]::before {
    min-height: 2rem;
}

[class*="barChart--y"] {
    min-height: 10rem;
}

[class*="barChart--y"],
[class*="barChart--y"]::before {
    min-width: 2rem;
}

// modifiers
// =========

/*
    Generates 100 selectors for
    vertical bar charts:

    .barChart--x0::before
    .barChart--x1::before
    .barChart--x2::before
    ...
    .barChart--x100::before
*/

.generate_barChartX (@i) when (@i > 0) {
    .generate_barChartX((@i - 1));
    .barChart--x@{i}::before {
        border-radius: (@borderRadius * 1px) 0 0 (@borderRadius * 1px);
        width: unit(@i,%);
    }
}
.generate_barChartX(100);

/*
    Generates 100 selectors for
    horizontal bar charts:

    .barChart--y0::before
    .barChart--y1::before
    .barChart--y2::before
    ...
    .barChart--y100::before
*/

.generate_barChartY (@i) when (@i > 0) {
    .generate_barChartY((@i - 1));
    .barChart--y@{i}::before {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
        height: unit(@i,%);
    }
}
.generate_barChartY(100);
