/** box.less */

// block
// =====

.box {

    .mixin-clearfix;
    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;
    box-sizing: border-box;
    display: block;
    font-family: @font-sansserif;
    overflow: hidden;
    position: relative;

    a& {
        text-decoration: none;
    }

}

.boxes {

    .mixin-clearfix;

    .box:first-child {
        border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
        margin: 0;
    }

    .box + .box {
        border-radius: 0;
        border-top: 0;
    }

    .box:last-child {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
    }

}

// elements
// ========

.box__header {
    @h4();
    margin: 0;
    padding: .5rem 1rem;
    background: @color-main-25;
    border-bottom: @color-main-23 1px solid;
}

.box__body {

    padding: 10px;
    position: relative;

    p {
        margin: 0;
    }

    p + p {
        margin: 2rem 0 0 0;
    }

    & + & {
        border-top: @color-main-23 1px solid;
    }

}