/** breadcrumbs.less */

// block
// =====

.breadcrumbs {

    background: @color-main-25;
    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;
    line-height: 2.5rem;
    overflow: hidden;
    padding: 0 1.5rem 0 0;

    ul {
        float: left;
        list-style: none;
    }

    li a {
        color: @color-main-8;
        display: inline-block;
        padding: 0 3rem 0 0;
        position: relative;
        text-decoration: none;
    }

    li span {
        display: inline-block;
        line-height: 2.5rem;
        padding: 0 0 0 2rem;
        position: relative;
        z-index: 2;
    }

    // breadcrumb

    li {

        display: inline-block;
        position: relative;
        z-index: 4;

        &:hover {
            z-index: 3;
        }

        &:hover + li {
            z-index: 2;
        }

        &:hover a span {
            background: @color-main-24;
        }

        &:hover a::after {
            background: @color-main-24;
        }

    }

    li + li {
        margin-left: -2.5rem;
    }

    // first breadcrumb

    li:first-child span {
        padding-left: 1.5rem;
    }

    // last breadcrumb (= current page)

    li:last-child {
        z-index: 1;
        font-weight: bold;
    }

    // pointy right edge

    li a::after {
        background: @color-main-25;
        border-right: @color-main-22 1px solid;
        border-top: @color-main-22 1px solid;
        box-sizing: border-box;
        content: ' ';
        display: inline-block;
        height: 3em;
        margin-top: -1.5em;
        position: absolute;
        right: 1.75rem;
        top: 50%;
        transform: rotate(45deg);
        width: 3em;
        z-index: 1;
    }

}
