/** callout.less */

// block
// =====

.callout {
    background: #fff;
    border-radius: 50%;
    color: @color-main-10;
    display: table;
    font: bold 1.3rem/1.5rem @font-sansserif;
    height: 13rem;
    margin: 0;
    text-align: center;
    text-shadow: none;
    width: 13rem;
    z-index: 5;
}

// elements
// ========

.callout__body {
    display: table-cell;
    padding: 1.5rem;
    vertical-align: middle;
}

// modifiers
// =========

// large

.callout--large {
    font: bold 1.5rem/2rem @font-sansserif;
    height: 17rem;
    width: 17rem;
}

// rotation

.callout--rot-l { transform: rotate(-10deg); }
.callout--rot-r { transform: rotate(10deg);  }

// other color schemes

.callout--dark {
    .calloutTheme(#fff, @color-main-10);
}

.callout--attention {
    .calloutTheme(@color-attention-10, @color-attention-22);
}

.callout--positive {
    .calloutTheme(@color-positive-10, @color-positive-23);
}

.callout--negative {
    .calloutTheme(@color-negative-10, @color-negative-24);
}

// "constructor" for different color themes

.calloutTheme(@txtColor, @backgroundColor) {
    background: @backgroundColor;
    color: @txtColor;
}
