/** checkList.less */

// block
// =====

.checkList {

    margin: 0;
    padding: 0;
    list-style: none;

    li {
        list-style-type: none;
        margin: 0 0 1rem 0;
        padding-left: 2rem;
        position: relative;
    }

    li ol,
    li ul {
        list-style: none;
        margin-top: 1rem;
    }

    li::before {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-main-8);
        content: ' ';
        height: 3.2rem;
        left: -1rem;
        position: absolute;
        top: -.6rem;
        width: 3.2rem;
    }

}
