/** countdownBanner.less */

.countdownBanner {

    background: @color-main-10;
    .mixin-defaultBorderRadius;
    height: 70px;
    position: relative;

    h2 {
        color: #fff;
        left: 340px;
        line-height: 70px;
        position: absolute;
        top: 0;
    }

    .btn {
        position: absolute;
        right: 15px;
        top: 15px;
    }

}
