/** customCheckbox.less */

// block
// =====

.checkbox {

    .mixin-defaultBorderRadius;
    background: #fff;
    border: @color-main-20 1px solid;
    box-shadow: 0 1px 0 @color-main-24 inset;
    cursor: pointer;
    display: inline-block;
    height: 1.2rem;
    margin: 0 .5rem 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 1.2rem;
    
    // inner input element

    input {
        position: absolute;
        left: -5rem;
    }

}

// modifiers
// =========

.checkbox.is--focus {
    border: @color-main-8 2px solid;
    width: 1rem;
    height: 1rem;
}

.checkbox.is--checked {
    
    box-shadow: none;
    background: @color-main-10;
    border: none;
    height: 14px;
    width: 14px;
    
    // icon
    
    &::after {
        .mixin-icon-bg(@id: 'icon-011-s', @width: 24, @height: 24, @fillColor: #fff);
        content: ' ';
        height: 2.4rem;
        left: -.5rem;
        position: absolute;
        top: -.5rem;
        width: 2.4rem;
    }
    
}