/** customRadiobutton.less */

// block
// =====

.radio {
    
    background: @color-white;
    border-radius: 50%;
    border: @color-main-20 1px solid;
    box-shadow: 0 1px 0 @color-main-24 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 1.6rem;
    margin: 0 .5rem 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    position: relative;
    top: -.1rem;
    vertical-align: top;
    width: 1.6rem;
    
    // inner input element

    input {
        left: -50rem;
        opacity: 0;
        position: absolute;
    }

}

// modifiers
// =========

.radio--large {
    height: 3rem;
    width: 3rem;
}

.radio.is--focus {
    .mixin-focus;
}

.radio.is--checked {
    background: @color-positive-22;
    border: @color-main-10 .5rem solid;
}

.radio.radio--large.is--checked {
    border-width: .9rem;
}
