/** dataElement.less */

.dataElement,
.addDataElement {

    .mixin-clearfix;
    background: #fff;
    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;
    box-sizing: border-box;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: background 300ms ease-out;
    word-wrap: break-word;

    img {
        display: block;
        margin-bottom: 10px;
    }

    .controls {

        .mixin-clearfix;
        background: @color-main-25;
        border-left: @color-main-23 1px solid;
        padding: 5px 5px 5px 0;
        position: absolute;

        .btn {
            float: right;
            margin: 0 0 0 5px;
        }

        &.pos-tr {
            border-bottom: @color-main-23 1px solid;
            border-radius: 0 0 0 (@borderRadius * 1px);
        }

        &.pos-br {
            border-radius: (@borderRadius * 1px) 0 0 0;
            border-top: @color-main-23 1px solid;
        }

    }

    &:hover .controls.invisible {
        visibility: visible;
    }

    .btnRadio {
        bottom: 10px;
        left: 10px;
        position: absolute;
        right: 10px;
    }

    .label {
        font-weight: bold;
    }

}

// data item

.dataElement {

    h1, h2, h3, h4, h5, h6 {
        margin: 5px 0 10px 0;
    }

    em {
        color: @color-main-17;
    }

    div,
    address {
        position: relative;
    }

}

// add data item

.addDataElement,
.addDataElement:link {

    background: fade(@color-main-25,50%);
    border-color: @color-main-21;
    border-style: dashed;
    padding: 15px;
    text-decoration: none;

    > [class^=icon] {
        color: @color-main-24;
    }

    &:hover {

        > [class^=icon] {
            color: @color-main-10;
        }

    }

}

// grouped

.dataElements {

    [class*="ataElement"] + [class*="ataElement"] {
        border-top: 0;
        border-radius: 0;
    }

    [class*="ataElement"]:first-child {
        border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    }

    [class*="ataElement"]:last-child {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
    }

    // if there is no preceding dataElement
    // or only an addDataElement-form
    // in the scope of an addDataElement

    form.addDataElement:first-child {
        border-bottom: 0;
    }

    form.addDataElement:first-child + .addDataElement {
        border-top: @color-main-21 1px dashed;
    }

    .addDataElement:only-child {
        .mixin-defaultBorderRadius;
    }

}
