/** dock.less */

// block
// =====

.dock {
    background: @color-main-25;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 2rem;
    position: fixed;
    top: 0;
    transition: left 150ms ease-out, right 150ms ease-out;
    width:  28rem;
    z-index: 500;
}

// elements
// ========

.dock .linkList {

    a:hover {
        background: #fff;
    }

}

// modifiers
// =========

.dock--left {

    border-right: @color-main-23 1px solid;
    left: 0;

    &::before {
        content: '\f007';
        left: -2px;
    }

    &.dock--hidden {
        left: -26rem;
    }

}

.dock--right {

    border-left: @color-main-23 1px solid;
    right: 0;

    &::before {
        content: '\f008';
        right: -2px;
    }

    &.dock--hidden {
        right: -26rem;
    }

}

.dock--hidden {

    &::before {
        .mixin-icon;
        display: block;
        font-size: 24px;
        position: fixed;
        top: 0;
    }

}
