/** documentation.less */

// block
// =====

.documentation {}

// elements
// ========

.documentation__header,
.documentation__footer {

    border-color: @gray-22;
    border-style: solid;
    border-width: 0;

    .center {
        width: 80rem;
    }

}

.documentation__header {

    background: @purple-12;
    border-bottom: 0;

    h1 {
        font-family: @font-sansserif;
        color: #fff;
    }

}

.documentation__body {

    font-family: @font-sansserif;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
    width: 80rem;

    // all direct children

    > p,
    > pre,
    > table,
    > blockquote {
        margin: 3rem 0;
        color: @gray-10;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    > p + p {
        margin-top: -1.5rem;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        color: @gray-6;
        font-family: @font-sansserif;
    }

    > h1,
    > h2,
    > h3 {
        margin: 4rem 0;
    }

    > h4,
    > h5,
    > h6 {
        margin: 3rem 0 -1.5rem 0;
    }

    // lists

    > ul,
    > ol {

        color: @gray-10;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 3rem 0 3rem 4rem;

        li + li {
            margin-top: 1.5rem;
        }

    }

    > ul li {
        list-style-type: disc;
    }

    > ol li {
        list-style-type: decimal;
    }

    // block quote

    > blockquote {
        padding-left: 3rem;
        border-left: @gray-22 2px solid;
    }

    // abbr, acronym

    > abbr,
    > acronym {
        border-bottom: @gray-10 1px dashed;
        cursor: help;
    }

    // intro paragraph

    > h2:first-child + p {
        font-size: 1.7rem;
        line-height: 2.75rem;
        margin-bottom: 5rem;
    }

    // special H3

    > h3 {

        padding-top: 2rem;
        margin-bottom: 2rem;
        position: relative;

        &::before,
        &::after {
            background: @gray-20;
            content: ' ';
            display: block;
            position: absolute;
        }

        &::before {
            .mixin-defaultBorderRadius;
            height: 2px;
            left: -6.5rem;
            top: 3rem;
            width: 5rem;
        }

        &::after {
            border-radius: 50%;
            height: 1rem;
            left: -6.5rem;
            top: 2.6rem;
            width: 1rem;
        }

    }

    // tables

    > table {

        border-color: @gray-22;

        th:empty {
            display: none;
        }

        th:first-child,
        td:first-child {
            word-break: keep-all;
            width: 13rem;
        }

        th {
            background: @gray-25;
        }

        th, td {
            border-color: @gray-23;
        }

    }

    // tabs

    > .tabs {

        border-color: @gray-22;

        .tabs__menu {

            border-color: @gray-22;
            background: @gray-24;

            li {
                border-color: @gray-22;
            }

            a {
                color: @gray-10;
            }

        }

    }

    // horizontal ruler

    > hr {
        background: @gray-23;
    }

    // links

    a[href*="assets/"],
    a[href*="docs/"],
    a[href*="http"] {

        &:not([class]) {
            color: @purple-12;
        }

    }

}

.documentation__footer {
    color: @gray-15;
    padding: 5rem 0;
}

.documentation__blocks {

    .mixin-defaultBorderRadius;
    margin-top: 3rem;
    position: relative;
    transition: border 200ms ease-in;

    .documentation__block:first-of-type {
        border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    }

    .documentation__block + .documentation__block {
        border-radius: 0;
        border-top: 0;
        margin: 0;
    }

    .documentation__block:only-child {
        .mixin-defaultBorderRadius;
    }

    .documentation__block:last-of-type {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
    }

}

.documentation__block {

    .mixin-defaultBorderRadius;
    border: @gray-22 1px solid;
    display: block;
    margin-top: 3rem;
    overflow: visible;
    position: relative;
    transition: all 200ms ease-in;

    code {
        background: @gray-25;
        border-bottom: @gray-23 1px solid;
        border-top: @gray-23 1px solid;
        display: block;
        padding: 2rem;
        white-space: pre;
    }

}

.documentation__treeview {
    .mixin-defaultBorderRadius;
    background: @gray-23;
    margin-top: 3rem;
}

.documentation__example {
    transition: background 200ms ease-in;
    background: #fff;
    padding: 20px;
}

.documentation__controls {

    font-size: 0;
    height: 2.5rem;
    position: absolute;
    right: -1px;
    top: -2.6rem;

    button {

        background: transparent;
        border: 0;
        color: @gray-15;
        cursor: pointer;
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.5rem;
        outline: 0;
        padding: .5rem;

        &:hover {
            color: @gray-10;
        }

    }

    button + button {
        border-left: @gray-22 1px solid;
    }

}

.documentation__fileDisplay {

    background: rgba(0,0,0,.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;

    code {
        .mixin-defaultBorderRadius;
        background: @gray-25;
        bottom: 4rem;
        display: block;
        left: 4rem;
        padding: 2rem;
        position: absolute;
        right: 4rem;
        top: 4rem;
    }

    .btnDismiss {
        position: absolute;
        right: 4rem;
        top: 4rem;
        z-index: 600;
    }

}

.documentation /* code elements */ {

    code,
    pre {
        -moz-hyphens: none;
        -moz-tab-size: 4;
        -ms-hyphens: none;
        -o-tab-size: 4;
        -webkit-hyphens: none;
        direction: ltr;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        font-size: inherit;
        hyphens: none;
        line-height: inherit;
        tab-size: 4;
        text-align: left;
        word-break: keep-all;
        word-spacing: normal;
    }

    code {

        margin: 0;
        overflow: auto;

        &:last-child {
            border-bottom: 0;
        }

        &:only-child {
            border-top: 0;
        }

    }

    pre {
        display: block;
        margin: 0;
    }

    pre:last-child {
        border-bottom: 0;
    }
    
    // code inside documentation blocks
    
    p > code {
        .mixin-defaultBorderRadius;
        background: @gray-23;
        color: @gray-5;
        font-size: 1.3rem;
        padding: .1rem .5rem;
    }

    // code highlighting (based on default prism.js theme)
    // http://prismjs.com/

    pre::-moz-selection, pre ::-moz-selection,
    code::-moz-selection, code ::-moz-selection {
        background: #dbd6d3;
    }

    pre::selection, pre ::selection,
    code::selection, code ::selection {
        background: #dbd6d3;
    }

    pre {
        overflow: auto;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: slategray;
    }

    .token.punctuation {
        color: #999;
    }

    .namespace {
        opacity: .7;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: #905;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #690;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
        color: #a67f59;
        background: hsla(0, 0%, 100%, .5);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #07a;
    }

    .token.function {
        color: #DD4A68;
    }

    .token.regex,
    .token.important,
    .token.variable {
        color: #e90;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

}

.documentation .dock {

    // overriding .dock colors

    background: @gray-5;
    color: @gray-22;
    border-color: @gray-4;

    h4 {
        margin: 2rem 0;
    }

    .linkList {

        background: transparent;

        li {
            border-color: @gray-4;
            text-transform: capitalize;
        }

        .linkList__link {
            color: @gray-20;
            padding-left: 1rem;
        }

        .linkList__item--active .linkList__link,
        .linkList__item--active .linkList__link:hover {
            background: @purple-12;
            color: #fff;
        }

        .linkList__link:hover {
            background: @gray-4;
            border-color: transparent;
        }

    }

}

// modifiers
// =========

.documentation__block--dark {

    &,
    .documentation__block {
        border-color: @gray-15;
    }

    .documentation__example {
        background: @gray-15;
    }

    .documentation__example + code {
        border-top-color: transparent;
    }

}

.documentation__block--darkMainColor {

    &,
    .documentation__block {
        border-color: @color-main-8;
    }

    .documentation__example {
        background: @color-main-8;
    }

}
