/** drawers.less */

.drawers {

    .mixin-clearfix;
    .mixin-defaultBorderRadius;
    border: @color-main-22 1px solid;
    box-sizing: border-box;
    overflow: hidden;

    // level 1

    .drawer {

        margin: 0;

        // header

        .header {

            background: #fff;
            border-bottom: @color-main-22 1px solid;
            cursor: pointer;
            margin: 0;
            min-height: 20px;
            padding: 5px 30px 5px 10px;
            position: relative;
            user-select: none;

            h1, h2, h3, h4, h5, h6 {
                color: @color-main-10;
                font: normal 15px/20px @font-sansserif;
                margin: 0;
            }

            &::after {
                font-size: 15px;
                color: @color-main-22;
                position: absolute;
                top: 0;
                right: 0;
            }

            &:hover {
                background: @color-main-25;
            }

            &:hover::after {
                color: @color-main-10;
            }

            // optional inline-icons

            [class*="icon--"] {
                height: 20px;
                line-height: 20px;
            }

        }

        &.open > .header {

            h1, h2, h3, h4, h5, h6 {
                font-weight: bold;
            }

        }

        // icons (only if JS is enabled)

        .js & {

            &.open .header:after {
                .mixin-icon;
                content: '\f003';
            }

            &.closed .header:after {
                .mixin-icon;
                content: '\f002';
            }

        }

        // body

        .body {
            background: fade(@color-main-25,50%);
            border-bottom: @color-main-22 1px solid;
            margin: 0;
            overflow: hidden;
            padding: 10px;
        }

        // meta

        .meta {
            color: @color-main-15;
            margin-bottom: 5px;
        }

    }

    // level 2

    .body + .subDrawers {
        border-bottom: @color-main-22 1px solid;
    }

    // reset borders

    :last-child.closed > .header,
    :last-child > .body {
        border: 0;
    }

}

.drawers.dark {

    border-color: @color-main-5;

    // level 1

    .drawer {

        .header {

            background: @color-main-10;
            border-color: @color-main-7;

            h1, h2, h3, h4, h5, h6 {
                color: #fff;
            }

            &::after {
                color: @color-main-15;
            }

            &:hover::after {
                color: @color-main-22;
            }

        }

        .body {
            border-color: @color-main-7;
        }

    }

    // level 2

    .body + .subDrawers {
        border-color: @color-main-7;
    }

    .subDrawers .header {
        background: @color-main-9;
    }

}

// drawers on touch-devices

.drawers.touch {

    .drawer .header {

        padding: 5px 30px 5px 10px;
        font-size: 15px;

        h1, h2, h3, h4, h5, h6 {
            margin: 5px 0;
        }

        &::after {
            right: 4px;
            top: 4px;
        }

    }

    // special styling for notifications

    .body .note.stripped {


        &:first-child {
            margin: -10px -10px 0 -10px;
            box-shadow: 0 1px 0 @color-main-23;
        }

        &:last-child {
            margin: 0 -10px -10px -10px;
            box-shadow: 0 -1px 0 @color-main-23;
        }

    }

}

// drawer with large text

.largeTxt .drawer {

    .header {

        padding: 15px 55px 15px 20px;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        &::after {
            top: 10px;
            right: 10px;
        }

    }

    .body {
        margin: 0;
        padding: 20px;
    }

}

// stripped drawer, no borders

.drawers.stripped {
    border-radius: 0;
    border: 0;
}
