/** filterMenu.less */

.filterMenu {

    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;

    // all levels

    &,
    ul {
        list-style: none;
    }

    li {
        margin: 0;
    }

    li a {
        display: block;
        padding: 5px 35px 5px 10px;
        position: relative;
        text-decoration: none;
    }

    li a:hover {
        background: @color-main-25;
    }

    ul ul li a {
        font-weight: normal;
        position: relative;
    }

    // first level

    > ul > li + li {
        border-top: @color-main-23 1px solid;
    }

    > ul li a {
        font-weight: bold;
    }

    // second level

    // ...

    // third level

    ul ul ul li a {
        padding-left: 25px;
    }

    // active filter

    .filterMenu--active {

        background: @color-attention-22;

        &:after {
            .mixin-icon;
            content: '\f011';
            line-height: 30px;
            position: absolute;
            right: 0;
            top: 0;
        }

    }

}

.filterMenu__header {
    padding: 10px;
    border-bottom: @color-main-23 1px solid;
    background: @color-main-25;
}
