/** filterBtns.less */

// block
// =====

.filterBtns {
    display: block;
    font-size: 0;
}

// elements
// ========

.filterBtns__btn {

    background: @color-main-24;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: @color-main-8;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    margin: 0 .5rem .5rem 0;
    padding: 0 1.25rem;

    &:hover {
        background: @color-main-23;
    }

    a,
    a:link,
    a:visited {
        color: @color-main-8;
        display: inline-block;
        text-decoration: none;
    }

}

// modifiers
// =========

// dark buttons

.filterBtns--dark {

    .filterBtns__btn {

        background: @color-main-11;
        color: #fff;

        a,
        a:link,
        a:visited {
            color: #fff;
        }

    }

    .filterBtns__btn:hover {
        background: @color-main-9;
    }

    .filterBtns__btn a::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-main-18);
    }

    .filterBtns__btn a:hover::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: #fff);
    }

}

// removeable buttons

.filterBtns--removeable .filterBtns__btn {

    // icon

    a::after {
        .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-main-18);
    }

    &:hover {

        background: @color-negative-10;

        a {
            color: #fff;
        }

        // icon

        a::after {
            .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-negative-22);
        }

    }

}

// status
// ======

// icons inside buttons

.filterBtns__btn {

    a::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-main-17);
        content: ' ';
        display: inline-block;
        height: 3rem;
        margin-left: -1.25rem;
        position: relative;
        right: -1rem;
        vertical-align: top;
        width: 3.2rem;
    }

    a:hover::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-main-8);
    }

}

// active button

.filterBtns__btn.is--active {

    background: @color-positive-10;

    a {
        color: #fff;
    }

    a::after {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-positive-22);
    }

    &:hover {
        background: @color-negative-10;
    }

    &:hover a::after {
        .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-negative-22);
    }

}

// debouce button class

.filterBtns__btn.filterBtns__btn--debounce:hover {

    background: @color-positive-10;

    a::after {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-positive-22);
    }

}
