// ===========================================================
//
//		File:	less/footers/footer.less
//		Descr.:	Page footer.
//
// ===========================================================

#footer {
    color: @color-main-15;
    overflow: hidden;
}

#footerLegal {

    padding-bottom: 50px;

    p + p {
        margin-top: 10px;
    }

    svg {
        float: left;
        left: -10px;
        margin-bottom: 100px;
        margin-right: 10px;
        position: relative;
        top: -10px;
    }

}
