// ===========================================================
//
//		File:	less/elements/logoBox.less
//		Descr.:	Wrapper for logos/seals in page footer
//				(ekomi, dmdi, etc.)
//
// ===========================================================

.footerLogoBox {

    color: @color-main-20;
    padding-top: 30px;

    a {

        .mixin-defaultBorderRadius;
        padding-top: 10px;
        float: left;
        text-align: center;
        text-decoration: none;
        height: 240px;

        &:hover {
            background: @color-main-9;
        }

    }

    p {
        margin-top: 10px;
    }

}
