/** hint.less */

// block
// =====

.hint {
    border-left: @color-main-22 2px solid;
    padding-left: 2.5rem;
}

// modifiers
// =========

.hint--attention {
    border-color: @yellow-15;
    color: @yellow-12;
}

.hint--positive, .hint--success {
    border-color: @green-15;
    color: @green-12;
}

.hint--negative, .hint--error {
    border-color: @red-15;
    color: @red-12;
}