// ===========================================================
//
//		File:	less/navigation/iconMenu.less
//		Descr.:	Menu to display icons as links. May be
//				used to link to social media channels.
//
// ===========================================================

.iconMenu {

    list-style: none;

    li {
        display: inline-block;
    }

    li, a {
        border: 0;
        text-decoration: none;
    }

    a:hover {
        color: @color-main-10;
    }

}
