// ===========================================================
//
//		File:	less/elements/iconHeader.less
//		Descr.:	Headline with icon.
//
// ===========================================================

.iconHeader {

    font: bold 15px/40px @font-sansserif;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;

    [class*="icon"],
    span {
        line-height: 40px;
        vertical-align: top;
    }

}
