/** icons.less */

// block
// =====

.icon {
    
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    
    svg {
        width: 3.2rem;
        height: 3.2rem;
    }
    
    circle, ellipse, path, polygon {
        fill: @textColor;
    }
    
}

// modifiers
// =========

// size

.icon--xsmall {
    
    width: 1.6rem;
    height: 1.6rem;
    
    svg {
        width: 1.6rem;
        height: 1.6rem;
    }
    
}

.icon--small {
    
    width: 2.4rem;
    height: 2.4rem;
    
    svg {
        width: 2.4rem;
        height: 2.4rem;
    }
    
}

.icon--large {
    
    width: 4.8rem;
    height: 4.8rem;
    
    svg {
        width: 4.8rem;
        height: 4.8rem;
    }
    
}

.icon--xlarge {
    
    width: 6.4rem;
    height: 6.4rem;
    
    svg {
        width: 6.4rem;
        height: 6.4rem;
    }
    
}

// color

.icon--attention {
    circle, ellipse, path, polygon {
        fill: @color-attention-8;
    }
}

.icon--success,
.icon--positive {
    circle, ellipse, path, polygon {
        fill: @color-positive-8;
    }
}

.icon--error,
.icon--negative {
    circle, ellipse, path, polygon {
        fill: @color-negative-8;
    }
}

// mixin: SVG icons as background image

.mixin-icon-bg(@id; @width: 32; @height: 32; @fillColor: '#000'; @strokeColor: '#000') {
    @escapedFillColor   : escape(@fillColor);
    @escapedStrokeColor : escape(@strokeColor);
    background: transparent url(~'@{dynamicSvgDomain}?id=@{id}&f=@{escapedFillColor}&s=@{escapedStrokeColor}&w=@{width}&h=@{height}') center center no-repeat;
}