/** indexGroup.less */

// content

.indexGroup {

    .mixin-clearfix;
    display: block;
    min-height: 20px;
    padding: 20px 0;
    position: relative;

    &,
    ul {
        list-style: none;
    }

    & + .indexGroup {
        border-top: @color-main-23 1px solid;
    }

    h1, h2, h3, h4, h5, h6 {

        font-size: 40px;
        margin: 0 0 20px 0;
        padding: 0 5px;

        a {
            display: inline-block;
        }

        &.small {
            font-size: 20px;
            margin: 0 0 10px 5px;
        }

    }

    li {
        display: block;
    }

    li > a {
        .mixin-defaultBorderRadius;
        color: @color-main-10;
        display: block;
        font-size: 15px;
        line-height: 30px;
        margin: 0 -5px;
        padding: 0 10px;
        position: relative;
        text-decoration: none;
    }

    li > a:hover {
        background: @color-main-25;
    }

    li a:only-child {
        font-weight: normal;
    }

    li a {
        font-weight: bold;
    }

    .btn {
        font-size: 13px;
        position: absolute;
        right: 0;
        top: 20px;
    }

    ul ul li {

        border-left: @color-main-23 1px solid;
        list-style: none;
        margin: 0 0 0 10px;
        padding: 0;

        a {
            border-radius: 0 .2rem .2rem 0;
            font-weight: normal;
            line-height: 20px;
            padding: 5px 10px;
        }

    }

    [class^="cls-"] a {
        margin: 0;
    }

    .caption {
        font: normal 15px/30px @font-serif;
        font-style: italic;
        margin: -10px 10px 15px 10px;
    }

}
