/** itemList.less */

.itemList {

    // items

    .item {

        border-bottom: @color-main-23 1px solid;
        min-height: 195px;
        padding: 20px 10px 0 165px;
        position: relative;

        // headline & packshot

        h2 {
            margin: 0 0 5px 0;
            margin-right: 240px;
        }

        img {
            .mixin-defaultBorderRadius;
            left: 10px;
            margin: 0;
            padding: 5px;
            position: absolute;
            top: 25px;
        }

        // item details

        .details {
            margin-right: 240px;
        }

        .author {

            display: block;
            font-weight: bold;
            color: @color-main-8;

            &:first-child {
                margin: -5px 0 10px 0;
            }

        }

        .details .badge {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .veterinary {
            bottom: 10px;
            left: 10px;
        }

        // .rating {
        //     margin-left: -8px;
        //     margin-right: 10px;
        // }

        // options / table

        .btnRadioGroup {
            margin: 10px 0 90px 0;
        }

        // table .shipping {
        //     position: relative;
        //     left: 10px;
        // }

        // badges & ribbons

        .ribbon {
            position: absolute;
            z-index: 3;
            left: 0;
            top: 0;
        }

        // pricing

        .pricing {

            margin: 0;
            position: absolute;
            right: 10px;
            text-align: right;
            top: 20px;
            width: 220px;

            span {
                display: block;
            }

            .basePrice,
            .saving {
                color: @color-main-15;
            }

        }

        // controls

        .controls {

            bottom: 10px;
            height: 70px;
            position: absolute;
            right: 10px;
            width: 292px;

            .btn[role="customSelect"] {

                top: 0;
                right: 0;
                position: absolute;

                select {
                    width: 245px;
                }

            }

            .btn[data-action="addToList"] {
                bottom: 0;
                position: absolute;
                left: 0;
            }

            .stepper {
                bottom: 0;
                left: auto;
                margin: 0;
                position: absolute;
                right: 0;
            }

        }

    }

    .item:last-child {
        border-color: transparent;
    }

    // teasers

    .teasers {
        border-bottom: @color-main-22 1px solid;
    }

}

// itemlist, compact layout

.itemList.compact {

    .item {
        min-height: 110px;
        padding: 20px 10px 0 120px;
    }

    h2 {
        margin-right: 0;
    }

    img {
        top: 10px;
    }

}

// odered itemlist with rank numbers

.itemList.ordered {

    counter-reset: i;

    .item {

        padding-left: 200px;

        img,
        .veterinary {
            left: 40px;
        }

        .details .badge {
            left: 40px;
        }

    }

    .item::before {
        background: @color-main-25;
        content: counter(i);
        counter-increment: i;
        color: @color-main-8;
        font: bold 20px/30px @font-sansserif;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 30px;
    }

    .item:last-child::before {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    // top item

    .item:first-child {

        border-radius: 1.5rem 1.5rem 0 0;

        &::before {
            background: linear-gradient(to bottom, #dfc449, @color-main-25);
            border-radius: 1.5rem 1.5rem 0 0;
            color: #6a5d1f;
        }

    }

}
