/** itemTeaser.less */

.itemTeaser {

    &:extend(.item all);
    .mixin-defaultBorderRadius;
    border: @color-main-23 1px solid;
    display: block;
    max-width: 400px;
    padding: 20px;
    text-decoration: none;

    .packshot {

        text-align: center;

        img {
            display: block;
            margin: 0 auto;
        }

    }

    h2 {
        font-size: 20px;
        line-height: 25px;
        margin: 20px 0 10px 0;
    }

    .meta {
        margin-bottom: 50px;
    }

    .rating {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }

    .descr {
        color: @color-main-13;
        font: normal 15px/20px @font-sansserif;
    }

    .price {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

}
