/** itemTr.less */

tr.item {

    td {
        padding: 10px;
    }

    .details {
        float: left;
    }

    .packshot {
        float: left;
        margin-right: 10px;
    }

    .price {
        line-height: 20px;
    }

}
