/** loading.less */

.loading::after {
    animation: spin 1s infinite linear;
    background: #fff;
    border-radius: 50%;
    border: 2px solid @gray-23;
    border-top-color: @focusColor;
    box-sizing: border-box;
    content: ' ';
    display: inline-block;
    height: 3rem;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
    width: 3rem;
}

// animation

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
