/** microFeedback.less */

// block
// =====

.microFeedback {
    height: 4rem;
}

// elements
// ========

.microFeedback__msg {
    display: inline-block;
    line-height: 4rem;
    overflow: hidden;
    vertical-align: middle;
}
