/** modal.less */

// block
// =====

.modal {
    .mixin-defaultBorderRadius;
    background: @color-main-25;
    border: @color-main-23 1px solid;
    box-sizing: border-box;
    left: 50%;
    margin-left: -30rem;
    position: absolute;
    text-align: left;
    width: 60rem;
}

// only modals opend via JS (and therefore placed inside
// .modal__container) should have a shadow but no border

.modal__container .modal {
    .mixin-shadow-4;
    border: 0;
}

// elements
// ========

.modal__header {
    border-bottom: @color-main-23 1px solid;
    border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    margin: 0 0 1rem 0;
    padding: 0 1rem;
}

.modal__title {
    color: @color-main-8;
    font-family: @font-sansserif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4.5rem;
}

.modal__body {
    .mixin-clearfix;
    padding: 0 1rem;
}

.modal__body:last-child {
    margin-bottom: 1rem;
}

.modal__footer {
    .mixin-clearfix;
    border-top: @color-main-22 1px solid;
    margin-top: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.modal__cover {
    background: fade(@color-main-5,80%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
}

.modal__container .modal {
    z-index: 601;
}

.modal .btnDismiss {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

// modifiers
// =========

.modal--small {
    width: 30rem;
    margin-left: -15rem;
}
