/** modal.less */

.modal {
    background: @color-main-25;
    .mixin-defaultBorderRadius;
    box-shadow: 0 0 20px @color-main-5;
    left: 50%;
    margin-left: -33rem;
    position: absolute;
    text-align: left;
    top: 1rem;
    width: 66rem;
}

#modalContainer .modal {
    z-index: 601;
}

.modal__header {

    border-bottom: @color-main-23 1px solid;
    border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    margin: 0 0 1rem 0;
    padding: 0 1rem;

    h1, h2, h3, h4, h5, h6 {
        color: @color-main-8;
        font-family: @font-sansserif;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 4.5rem;
    }

    .btn {

        background: transparent;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: @color-main-12;

        &:hover {
            color: @color-main-8;
        }
    }

}

.modal__body {
    .mixin-clearfix;
    padding: 0 1rem;
}

.modal__footer {
    .mixin-clearfix;
    border-top: @color-main-22 1px solid;
    margin-top: 1rem;
    padding: 1rem;
    overflow: hidden;
}

// modifiers

.modal--small {
    width: 40rem;
    margin-left: -21rem;
}

// modals may be displayed as indiviual pages

.modalPage {

    background: @color-main-8;
    padding-bottom: 6rem;

    .modal {
        overflow: hidden;
        position: relative;
        top: 3rem;
    }

    .modal__footer [data-action="closeModal"] {
        display: none;
    }

}
