/** navBar.less */

// block
// =====

.navBar {
    background: @color-main-24;
    box-shadow: 0 0 5px fade(@color-main-10,50%);
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

// elements
// ========

.navBar__menu {

    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .badge {
        background: @color-negative-15;
        color: #fff;
        margin-right: -15px;
        position: absolute;
        right: 100%;
        top: 5px;
    }

    [class^="icon--"] {
        height: 60px;
        line-height: 60px;
        width: 60px;
    }

}

.navBar__logo {

    display: block;
    height: 50px;
    left: 60px;
    position: absolute;
    right: 60px;
    top: 5px;
    z-index: 2;

    svg {

        width: 100%;

        * {
            fill: @color-main-8;
        }

    }

}

.navBar__btnBack + .navBar__btnCategories + .navBar__logo {
    left: 60px * 2;
}

.navBar__btnBack,
.navBar__btnCategories,
.navBar__btnCart {

    background: @color-main-23;
    display: block;
    height: 60px;
    position: absolute;
    top: 0;
    width: 60px;

    &:hover {
        background: @color-main-22;
    }

}

.navBar__btnBack {
    border-right: @color-main-21 1px solid;
    left: 0;
}

.navBar__btnCategories {
    border-right: @color-main-21 1px solid;
    left: 0;
}

.navBar__btnBack + .navBar__btnCategories {
    left: 60px + 1;
}

.navBar__btnCart {
    border-left: @color-main-21 1px solid;
    right: 0;
}

.navBar__monitor {
    background: @color-main-23;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 3;
}

.navBar__monitor__msg {
    color: @color-main-10;
    display: block;
    font-weight: bold;
    line-height: 60px;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navBar__monitor__pulse {
    left: 20px;
    position: absolute;
    top: 60px / 2 - 10;
}
