// ===========================================================
//
//		File:	less/pages/newsletterPoster.less
//		Descr.:	Illustration for newsletter form.
//
// ===========================================================

#newsletterPoster {

    .mixin-defaultBorderRadius;
    float: left;
    height: 600px;
    margin-bottom: 0;
    position: relative;
    width: 50%;
    overflow: hidden;

    h1,
    h2,
    .callout {
        z-index: 2;
    }

    h1,
    h2 {
        position: relative;
    }

    h1 {
        color: #fff;
        margin: 40px 40px 20px 40px;
    }

    h2 {
        color: @color-main-24;
        margin: 0 40px;
    }

    em {
        color: #fff;
        font-style: normal;
    }

    .callout {
        bottom: 50px;
        position: absolute;
        right: 20px;
    }

    img {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }

}
