/** pageRewind.less */

// block
// =====

.pageRewind {

    .mixin-shadow-3;
    background: @color-main-24;
    border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    border: @color-main-20 1px solid;
    border-bottom: 0;
    bottom: -.5rem;
    box-sizing: border-box;
    color: @color-main-15;
    display: block;
    height: 5rem;
    left: 50%;
    margin-left: -5rem;
    position: fixed;
    text-align: right;
    transition: bottom 500ms ease-out;
    width: 10rem;
    z-index: 900;

    &:hover {
        background: @color-main-25;
    }

    // icon

    &::after {
        .mixin-icon-bg(@id: 'icon-010-s', @fillColor: @color-main-8);
        content: ' ';
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
    }

}

// modifiers
// =========

.pageRewind.is--hidden {
    bottom: -8rem;
}
