/** pageRewind.less */

#pageRewind {

    .mixin-shadow-3;
    background: @color-main-24;
    border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
    border: @color-main-20 1px solid;
    border-bottom: 0;
    bottom: -.5rem;
    box-sizing: border-box;
    color: @color-main-15;
    display: block;
    height: 4rem;
    left: 50%;
    margin-left: -4.5rem;
    padding: 1rem 2rem;
    position: fixed;
    text-align: right;
    transition: bottom 500ms ease-out;
    width: 9rem;
    z-index: 900;

    &:hover {
        background: @color-main-25;
    }

    &.is--hidden {
        bottom: -8rem;
    }

    [class^="icon--"] {
        color: @color-main-10;
        height: 4rem;
        left: 50%;
        line-height: 4rem;
        margin-left: -1.6rem;
        position: absolute;
        top: 0;
    }

}
