/** pagination.less */

// block
// =====

.pagination {
    .mixin-defaultBorderRadius;
    background: @color-main-25;
    border: @color-main-23 1px solid;
    height: 3.3rem;
    margin: 1rem 0;
    position: relative;
    text-align: right;
    font-size: 0;
}

// elements
// ========

.pagination__load {
    float: left;
    margin: .4rem;
}

.pagination__items {
    display: inline-block;
}

.pagination__item,
.pagination__nav {
    display: inline-block;
    margin: .4rem;
}

.pagination__item .btn:hover {
    background: @color-main-23;
}

// modifiers
// =========

// active item

.pagination .is--active .btn,
.pagination .is--active .btn:hover {
    background: @color-main-10;
    color: @color-main-24;
}

// // pagination with transparent background & no borders
//
// .pagination--stripped {
//     background: transparent;
//     border-radius: 0;
//     border: 0;
// }
