/** pickBtn.less */

// block
// =====

.pickBtn {

    .mixin-clearAppearance;
    .mixin-defaultBorderRadius;
    .mixin-userSelectNone;
    background: @color-main-25;
    border: @color-main-23 1px solid;
    box-sizing: border-box;
    color: @color-main-10;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    min-width: 3.4rem;
    padding: 0 1rem;
    position: relative;
    text-align: left;
    text-overflow: clip;
    vertical-align: middle;
    white-space: nowrap;

    a& {
        text-decoration: none;
    }

    &:hover {
        background: @color-main-24;
        border-color: @color-main-24;
    }

    input {
        margin-right: .5rem;
    }

}

// elements
// ========

.pickBtn__label,
.pickBtn__toggleLabel {
    display: inline-block;
    font: bold 1.2rem/2.8rem @font-sansserif;
}

.pickBtn__label {
    vertical-align: top;
}

.pickBtn__label + .pickBtn__toggleLabel {
    border-left: @color-main-23 1px dashed;
    margin-left: .5rem;
    padding-left: .5rem;
}

.pickBtn__icon {
    .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-white);
    display: none;
    height: 2.8rem;
    margin-left: -1rem;
    vertical-align: top;
    width: 2.8rem;
}

// modifiers
// =========

.js .pickBtn.is--active,
.js .pickBtn.is--active:hover {

    background: @color-positive-10;
    border-color: @color-positive-10;
    color: @color-white;

    .pickBtn__toggleLabel {
        display: none;
    }

    .pickBtn__icon {
        display: inline-block;
    }

}
