/** popOver.less */

// block
// =====

.js .popOver {
    .mixin-shadow-3;
    position: absolute;
    z-index: 401;
}

.popOver {
    background: @color-main-25;
    border-radius: .3rem;
    border: @color-main-20 1px solid;
    box-sizing: border-box;
}

// elements
// ========

.popOver__wrapper {
    display: inline-block;
    position: relative;
}
