/** priceSticker.less */

// block
// =====

.priceSticker {
    
    .mixin-defaultBorderRadius;
    background: @color-negative-15;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: #fff;
    display: inline-block;
    font-size: 3rem;
    line-height: 4rem;
    padding: 0 .5rem;
    position: relative;
    text-shadow: none;
    white-space: nowrap;

    // decoration

    &:before,
    &:after {
        background: @color-negative-15;
        border-radius: 1.5rem;
        content: ' ';
        display: block;
        height: 70%;
        position: absolute;
        top: 15%;
        transform: scaleX(0.5);
        width: 4rem;
    }

    &:before {
        left: -1.7rem;
    }

    &:after {
        right: -1.7rem;
    }

}

// elements
// =======

.priceSticker__content {
    
    display: block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    
    sup {
        font-size: 1rem;
        line-height: 1rem;
        position: relative;
        top: -1.5remx;
    }

}

// modifiers
// =========

.priceSticker--rot-r {
    transform: rotate(5deg);
}

.priceSticker--rot-l {
    transform: rotate(-5deg);
}
