/** price.less */

// block
// =====

.price {
    color: @color-price;
    font: bold 25px/1 @font-sansserif;
}

// modifiers
// =========

.price--large {
    font: bold 45px/1 @font-sansserif;
}

.price--small {
    font: bold 15px/1 @font-sansserif;
}
