/** ratingInput.less */

// block
// =====

.ratingInput {
    .mixin-defaultBorderRadius;
    background: #fff;
    border: @color-main-20 1px solid;
    box-shadow: 0 1px 0 @color-main-24 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 2.5rem;
}

.ratingInput__select {
    
    display: inline-block;
    margin: 0;
    padding: 0 .5rem;

    // "star" icons

    [class*='icon--'] {
        color: @color-main-23;
        display: inline-block;
        height: 2.3rem;
        line-height: 2.3rem;
        text-indent: -.5rem;
        transition: color 150ms linear;
        width: 2rem;
    }

}

// modifiers
// =========

.ratingInput--rated-1 {
    
    [class*='icon--']:nth-child(1) { color: @color-main-13; }
    
    &:hover {
        [class*='icon--']:nth-child(1) { color: @color-main-5; }
    }
    
}

.ratingInput--rated-2 {
    
    [class*='icon--']:nth-child(1) { color: @color-main-13; }
    [class*='icon--']:nth-child(2) { color: @color-main-13; }
    
    &:hover {
        [class*='icon--']:nth-child(1) { color: @color-main-5; }
        [class*='icon--']:nth-child(2) { color: @color-main-5; }
    }
    
}

.ratingInput--rated-3 {
    
    [class*='icon--']:nth-child(1) { color: @color-main-13; }
    [class*='icon--']:nth-child(2) { color: @color-main-13; }
    [class*='icon--']:nth-child(3) { color: @color-main-13; }
    
    &:hover {
        [class*='icon--']:nth-child(1) { color: @color-main-5; }
        [class*='icon--']:nth-child(2) { color: @color-main-5; }
        [class*='icon--']:nth-child(3) { color: @color-main-5; }
    }
    
}

.ratingInput--rated-4 {
    
    [class*='icon--']:nth-child(1) { color: @color-main-13; }
    [class*='icon--']:nth-child(2) { color: @color-main-13; }
    [class*='icon--']:nth-child(3) { color: @color-main-13; }
    [class*='icon--']:nth-child(4) { color: @color-main-13; }
    
    &:hover {
        [class*='icon--']:nth-child(1) { color: @color-main-5; }
        [class*='icon--']:nth-child(2) { color: @color-main-5; }
        [class*='icon--']:nth-child(3) { color: @color-main-5; }
        [class*='icon--']:nth-child(4) { color: @color-main-5; }
    }
    
}

.ratingInput--rated-5 {
    
    [class*='icon--']:nth-child(1) { color: @color-main-13; }
    [class*='icon--']:nth-child(2) { color: @color-main-13; }
    [class*='icon--']:nth-child(3) { color: @color-main-13; }
    [class*='icon--']:nth-child(4) { color: @color-main-13; }
    [class*='icon--']:nth-child(5) { color: @color-main-13; }
    
    &:hover {
        [class*='icon--']:nth-child(1) { color: @color-main-5; }
        [class*='icon--']:nth-child(2) { color: @color-main-5; }
        [class*='icon--']:nth-child(3) { color: @color-main-5; }
        [class*='icon--']:nth-child(4) { color: @color-main-5; }
        [class*='icon--']:nth-child(5) { color: @color-main-5; }
    }
    
}

// locked state

.ratingInput--locked {

    background: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: default;

    [class*='icon--'] {
        color: transparent;
    }

    &.ratingInput--rated-1 {
        [class*='icon--']:nth-child(1) { color: @color-gold; }
        [class*='icon--']:nth-child(2) { color: @color-main-23; }
        [class*='icon--']:nth-child(3) { color: @color-main-23; }
        [class*='icon--']:nth-child(4) { color: @color-main-23; }
        [class*='icon--']:nth-child(5) { color: @color-main-23; }
    }

    &.ratingInput--rated-2 {
        [class*='icon--']:nth-child(1) { color: @color-gold; }
        [class*='icon--']:nth-child(2) { color: @color-gold; }
        [class*='icon--']:nth-child(3) { color: @color-main-23; }
        [class*='icon--']:nth-child(4) { color: @color-main-23; }
        [class*='icon--']:nth-child(5) { color: @color-main-23; }
    }

    &.ratingInput--rated-3 {
        [class*='icon--']:nth-child(1) { color: @color-gold; }
        [class*='icon--']:nth-child(2) { color: @color-gold; }
        [class*='icon--']:nth-child(3) { color: @color-gold; }
        [class*='icon--']:nth-child(4) { color: @color-main-23; }
        [class*='icon--']:nth-child(5) { color: @color-main-23; }
    }

    &.ratingInput--rated-4 {
        [class*='icon--']:nth-child(1) { color: @color-gold; }
        [class*='icon--']:nth-child(2) { color: @color-gold; }
        [class*='icon--']:nth-child(3) { color: @color-gold; }
        [class*='icon--']:nth-child(4) { color: @color-gold; }
        [class*='icon--']:nth-child(5) { color: @color-main-23; }
    }

    &.ratingInput--rated-5 {
        [class*='icon--']:nth-child(1) { color: @color-gold; }
        [class*='icon--']:nth-child(2) { color: @color-gold; }
        [class*='icon--']:nth-child(3) { color: @color-gold; }
        [class*='icon--']:nth-child(4) { color: @color-gold; }
        [class*='icon--']:nth-child(5) { color: @color-gold; }
    }

}

// large

.ratingInput--large {
    
    height: 4rem;
    
    .ratingInput__select {
        padding: 0 1rem;
    }
    
    [class*='icon--'] {
        height: 3.8rem;
        line-height: 3.8rem;
    }
}
