/** reviews-s.less */

.reviews-s {

    .mixin-defaultBorderRadius;
    border: @color-main-22 1px solid;

    .header {
        background: #fff;
        border-bottom: @color-main-23 1px solid;
        color: @color-main-10;
        padding: 10px;
        text-align: center;
    }

    // review

    .review {

        border-bottom: @color-main-23 1px solid;

        .meta {

            background: #fff;
            border-bottom: @color-main-23 1px solid;
            cursor: pointer;
            padding: 5px 10px 10px 10px;
            position: relative;
            user-select: none;

            &::after {
                .mixin-icon;
                color: @color-main-22;
                height: 40px;
                left: auto;
                line-height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            &:hover::after {
                color: @color-main-10;
            }

        }

        &.open .meta::after {
            content: '\f003';
        }

        &.closed .meta::after {
            content: '\f002';
        }

        .rating {
            display: inline-block;
            position: relative;
            top: -2px;
        }

        .title {
            color: @color-main-10;
            font-size: 13px;
            font-weight: normal;
            line-height: 15px;
        }

        .quotation {

            background: @color-main-25;
            padding: 10px;

            p {
                margin: 0 0 10px 0;
            }

            p:last-child {
                margin: 0;
            }

        }

    }

    .review:last-child,
    .review.closed:last-child .meta,
    .review.closed {
        border: 0;
    }

    // button to show all reviews

    .btnLoad {
        border-radius: 0;
        display: block;
        width: 100%;
    }

}
