/** searchDisplay.less */

.js {

    .searchDisplay {

        position: relative;

        .loading {
            left: 50%;
            margin-left: -10rem;
            position: absolute;
            top: 10rem;
            width: 20rem;
        }

    }

    .searchDisplay__results {

    }

}
