/** searchInput.less */

.searchInput {

    position: relative;

    input[type="text"] {

        .mixin-clearAppearance;
        background: @color-main-25;
        border-radius: 20px;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: @color-main-10;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0 10px;
        width: 100%;

        &:focus {

            border-color: @color-main-10;
            background: @color-main-24;

            & + [class^="icon--"] {
                display: none;
            }

        }

    }

    [class^="icon--"] {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        right: 10px;
        top: 0;
    }

}
