/** section.less */

.sect-0 { background-color: #fff; border-top: @color-main-24 1px solid; }
.sect-1 { background-color: @color-main-25; border-top: @color-main-24 1px solid; }
.sect-2 { background: @color-main-24; border-top: @color-main-23 1px solid; }
.sect-3 { background: @color-main-23; border-top: @color-main-22 1px solid; }
.sect-4 { background: @color-main-10; border-top: @color-main-8 1px solid; }
.sect-5 { background: @color-main-8; }
.sect-6 { background: @color-main-5; }
