/** shelf.less */

// block
// =====

.shelf {
    .mixin-defaultBorderRadius;
    background: @color-main-24;
    border: @color-main-22 1px solid;
    padding: 2rem 0;
}

// elements
// ========

.shelf__board {

    padding: 2rem 3rem;
    position: relative;

    // board / bottom

    &::after {
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: @color-main-23 4px solid;
        bottom: 1rem;
        box-shadow: 0 0 4rem fade(@color-main-15, 50%);
        content: ' ';
        height: 5rem;
        left: 2rem;
        position: absolute;
        right: 2rem;
        transform: perspective(80rem) rotateX(45deg);
        z-index: 1;
    }
    
}

.shelf__item {
    
    /*
        Since .shelf__board includes a pseudo-element which is manipulated
        in 3D-space (perspective & rotation), .shelf__item is pulled up 1rem
        to prevent intersecting and cutting its's bottom edge. Z-index won't
        help in this case.
    */
    
    position: relative;
    top: -1rem;
    z-index: 2;
    
}