/** shipping.less */

// block
// =====

.shipping {

    display: inline-block;
    height: 3.2rem;
    line-height: 3.2rem;
    width: 3.2rem;

    // icon

    &::before {
        .mixin-icon;
        content: '\f028';
    }

}

// modifiers
// =========

.shipping--available   { color: @color-positive-10; }
.shipping--unavailable { color: @color-negative-10; }
