/** shoppingWidgets.less */

#shoppingWidgets {

    .mixin-clearfix;
    bottom: 60px;
    height: 50px;
    position: absolute;
    right: 0;
    width: 320px;

    svg { // icon

        left: 5px;
        position: absolute;
        top: 0;

        path,
        rect {
            fill: @color-main-25;
        }

    }

}

#cartWidget,
#listWidget {

    box-sizing: border-box;
    display: block;
    height: 50px;
    position: absolute;
    text-align: right;
    text-decoration: none;
    top: 0;
    transition: background 200ms ease-out;

    .badge {
        left: 60px;
        position: absolute;
        top: 15px;
    }

}

// cart widget

#cartWidget {

    background-size: 70px 70px;
    background: @color-main-10;
    border-radius: 0 (@borderRadius * 1px) (@borderRadius * 1px) 0;
    right: 0;
    width: 215px;

    .sum {
        color: #fff;
        font: normal 20px/20px @font-sansserif;
        position: absolute;
        right: 10px;
        top: 7px;
    }

    .statusMsg {
        bottom: 5px;
        color: @color-main-20;
        font: bold 11px/15px @font-sansserif;
        position: absolute;
        right: 10px;
    }

    // different states

    &.status-empty {

        background-color: @color-main-25;
        border: @color-main-23 1px solid;

        .statusMsg {
            bottom: 9px;
            color: @color-main-10;
        }

        svg {

            top: -1px;

            path {
                fill: @color-main-10;
            }

        }

    }

    &.status-freeShipping {

        background: @color-positive-8;

        svg path {
            fill: #fff;
        }

        .statusMsg {
            color: @color-positive-20;
            font-weight: bold;
        }

    }

    &.active {
        background: @color-main-8;
        border-radius: 0 (@borderRadius * 1px) 0 0;
    }

}

// list widget

#listWidget {

    background: #fff;
    border-radius: (@borderRadius * 1px) 0 0 (@borderRadius * 1px);
    border: @color-main-23 1px solid;
    border-right: 0;
    left: 0;
    width: 105px;

    svg path,
    svg rect {
        fill: @color-main-10;
    }

    h3 {
        color: @color-attention-10;
        margin: 10px auto;
        text-align: center;
    }

    // different states

    &.status-empty {

    }

    &:hover {
        background: @color-main-25;
    }

}

// quick list (see what's in your cart on mouseover)

#cartWidget-quicklist {

    .mixin-shadow-3;
    background: @color-main-8;
    border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
    border: @color-main-8 2px solid;
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 211px;
    z-index: 500;

    ul {
        background: @color-main-25;
        list-style: none;
    }

    li {
        display: block;
    }

    li a:not(.btn) {

        border-bottom: @color-main-24 1px solid;
        display: block;
        min-height: 50px;
        padding: 5px 40px 5px 60px;
        position: relative;
        text-decoration: none;

        &:hover {
            background: #fff;
        }

    }

    li .btn {

        background: @color-attention-22;
        color: @color-attention-5;
        font-weight: normal;
        text-align: center;

        &:hover {
            background: @color-attention-21;
        }

    }

    p {
        font: normal 12px/15px @font-sansserif;
        margin-top: 5px;
    }

    .badge {
        padding-left: 6px;
        padding-right: 6px;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    img {
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .btn {
        border-bottom: 0;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        text-align: center;
        width: 100%;
    }

}

.js #cartWidget-quicklist {
    display: block;
}
