/** singleInputCombo.less */

.singleInputCombo {

    display: block;

    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    textarea {
        border-radius: (@borderRadius * 1px) (@borderRadius * 1px) 0 0;
        width: 100%;
    }

    .btn {
        border-radius: 0 0 (@borderRadius * 1px) (@borderRadius * 1px);
        border-top: 0;
        display: block;
        width: 100%;
    }

}
