/** spriteBtns.less */

@spriteWidth: 100px;
@spriteHeight: 70px;

.spriteBtns {

    background-size: 0 0;
    font-size: 0;
    overflow: hidden;
    padding: 5px;

    a {

        background-color: @color-main-25;
        background-image: inherit;
        .mixin-defaultBorderRadius;
        border: @color-main-23 1px solid;
        box-sizing: border-box;
        display: inline-block;
        height: 70px;
        margin: 5px;
        width: 100px;

        &:hover {
            .mixin-shadow-1;
            border-color: @color-main-20;
        }

    }

}

// do this for every grid you wish to implement

.spriteBtns.one-x-four {

    width: (@spriteWidth + 10) * 4;

    a:nth-child(1)  { background-position: 0 0; }
    a:nth-child(2)  { background-position: -(@spriteWidth * 1) 0; }
    a:nth-child(3)  { background-position: -(@spriteWidth * 2) 0; }
    a:nth-child(4)  { background-position: -(@spriteWidth * 3) 0; }

}

.spriteBtns.three-x-four {

    width: (@spriteWidth + 10) * 4;

    a:nth-child(1)  { background-position: 0 0; }
    a:nth-child(2)  { background-position: -(@spriteWidth * 1) 0; }
    a:nth-child(3)  { background-position: -(@spriteWidth * 2) 0; }
    a:nth-child(4)  { background-position: -(@spriteWidth * 3) 0; }

    a:nth-child(5)  { background-position: -(@spriteWidth * 4) -(@spriteHeight); }
    a:nth-child(6)  { background-position: -(@spriteWidth * 5) -(@spriteHeight); }
    a:nth-child(7)  { background-position: -(@spriteWidth * 6) -(@spriteHeight); }
    a:nth-child(8)  { background-position: -(@spriteWidth * 7) -(@spriteHeight); }

    a:nth-child(9)  { background-position: -(@spriteWidth * 8) -(@spriteHeight * 2); }
    a:nth-child(10) { background-position: -(@spriteWidth * 9) -(@spriteHeight * 2); }
    a:nth-child(11) { background-position: -(@spriteWidth * 10) -(@spriteHeight * 2); }
    a:nth-child(12) { background-position: -(@spriteWidth * 11) -(@spriteHeight * 2); }

}
