/** stage.less */

.stage {

    background: @color-main-25;
    padding: 20px 0;

    // paper

    .paper {

        .mixin-clearfix;
        .mixin-shadow-1;
        background: #fff;
        .mixin-defaultBorderRadius;
        border: @color-main-23 1px solid;
        box-sizing: border-box;

        > .header {
            border-bottom: @color-main-24 1px solid;
            color: @color-main-7;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        > .footer,
        form .footer {
            .mixin-clearfix;
            overflow: hidden;
            border-top: @color-main-24 1px solid;
            margin-top: 20px;
            padding-top: 10px;
        }

    }

    // fade out background color

    &.fadeOut {
        background: linear-gradient(to bottom, @color-main-25, #fff);
    }

}
