/** stepCrumb.less */

.stepCrumb {

    // counter

    counter-reset: i;

    // list

    ol {

        display: inline-block;
        left: -5px;
        list-style: none;
        overflow: hidden;
        padding-bottom: 5px;
        position: relative;
        white-space: nowrap;

        // line

        &::after {
            background: @color-main-23;
            bottom: 0;
            content: ' ';
            display: block;
            height: 2px;
            left: 20px;
            position: absolute;
            right: 20px;
        }

    }

    li {

        color: @color-main-8;
        display: inline-block;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 40px;

        // step number

        &::before {
            background: @color-main-23;
            .mixin-defaultBorderRadius;
            content: counter(i);
            counter-increment: i;
            display: inline-block;
            font-weight: bold;
            height: 30px;
            left: 5px;
            line-height: 30px;
            position: absolute;
            top: 5px;
            width: 30px;
            z-index: 2;
        }

        // connecting line

        &::after {
            background: @color-main-23;
            bottom: -5px;
            content: ' ';
            display: block;
            height: 20px;
            left: 19px;
            position: absolute;
            width: 2px;
            z-index: 1;
        }

    }

    // last step

    li:last-child {

        // step number

        &::before {
            left: auto;
            right: 5px;
        }

        // connecting line

        &::after {
            left: auto;
            right: 19px;
        }

    }

    // description

    .descr {
        display: none;
    }

    // applying styling for current step
    // (increase if you need more steps)

    .generate_steps (@i) when (@i > 0) {
        .generate_steps((@i - 1));

        &.step-@{i} li:nth-child(@{i}) {
            &:extend(.stepCrumbCurrentStep all);
        }

    }
    .generate_steps(4);

}

// styling for current step

.stepCrumbCurrentStep {

    color: @color-positive-8;
    padding: 0 5px 0 50px;
    width: auto;

    // if last step

    &:last-child {
        padding: 0 50px 0 5px;
    }

    // description

    .descr {
        display: inline;
    }

    // step number

    &::before {
        background: @color-positive-10;
        color: @color-positive-24;
    }

}
