/** stepMenu.less */

// block
// =====

.stepMenu {
    &, ul { list-style: none; }
}

// elements
// ========

.stepMenu__item {
    position: relative;
}

.stepMenu__label {
    
    color: @color-main-15;
    display: block;
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 4rem;
    text-decoration: none;
    
    a&:hover {
        color: @color-main-8;
    }
    
}

.stepMenu__item:first-child .stepMenu__label {
    padding-top: 0;
}

// lines & dots

.stepMenu__item::after,
.stepMenu__item::before {
    content: ' ';
    position: absolute;
    display: block;
}

// lines

.stepMenu__item + .stepMenu__item::before {
    background: @color-main-22;
    bottom: 50%;
    height: 100%;
    left: 1rem;
    width: .2rem;
}

// dots

.stepMenu__item::after {
    background: @color-main-22;
    border-radius: 1rem;
    height: 2rem;
    left: 0;
    margin-top: -1rem;
    top: 50%;
    width: 2rem;
    z-index: 3;
}

.stepMenu__item:first-child::after {
    margin: 0;
    top: 0;
}

// modifiers
// =========

// left-aligned (dafault)

.stepMenu--left {}

// right-aligned

.stepMenu--right {
    
    .stepMenu__label {
        padding: 1.5rem 4rem 1.5rem 0;
        text-align: right;
    }
    
    .stepMenu__item + .stepMenu__item::before {
        left: auto;
        right: 1rem;
    }
    
    .stepMenu__item::after {
        left: auto;
        right: 0;
    }
    
}

// path highlighting

.stepMenu--step1 .stepMenu__item:nth-child(1),
.stepMenu--step2 .stepMenu__item:nth-child(1), .stepMenu--step2 .stepMenu__item:nth-child(2),
.stepMenu--step3 .stepMenu__item:nth-child(1), .stepMenu--step3 .stepMenu__item:nth-child(2), .stepMenu--step3 .stepMenu__item:nth-child(3),
.stepMenu--step4 .stepMenu__item:nth-child(1), .stepMenu--step4 .stepMenu__item:nth-child(2), .stepMenu--step4 .stepMenu__item:nth-child(3), .stepMenu--step4 .stepMenu__item:nth-child(4),
.stepMenu--step5 .stepMenu__item:nth-child(1), .stepMenu--step5 .stepMenu__item:nth-child(2), .stepMenu--step5 .stepMenu__item:nth-child(3), .stepMenu--step5 .stepMenu__item:nth-child(4), .stepMenu--step5 .stepMenu__item:nth-child(5) {

    &::after,
    &::before {
        background: @color-main-15;
    }

}

// the current step

.stepMenu--step1 .stepMenu__item:nth-child(1),
.stepMenu--step2 .stepMenu__item:nth-child(2),
.stepMenu--step3 .stepMenu__item:nth-child(3),
.stepMenu--step4 .stepMenu__item:nth-child(4),
.stepMenu--step5 .stepMenu__item:nth-child(5) {

    .stepMenu__label {
        color: @color-main-8;
        font-weight: bold;
    }

    .stepMenu__label::after {
        background: #fff;
        border: @color-main-8 .5rem solid;
        height: 1rem;
        width: 1rem;
    }

}