/** sumTable.less */

// block
// =====

.sumTable {}

// elements
// =======

.sumTable__sum td {
    border-top: @color-main-10 2px solid;
    border-left: 0;
    border-right: 0;
    background: @color-main-25;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sumTable__price {
    color: @color-negative-15;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    white-space: nowrap;
}
