/** superHeader.less */

@superHeader-height: 400px;

// block
// =====

.superHeader {

    background: @color-main-10;
    border-bottom: @color-main-10 1px solid;
    box-sizing: border-box;
    display: block;
    min-height: @superHeader-height;
    position: relative;

    &, * {
        .mixin-userSelectNone;
    }

}

// elements
// ========

.superHeader__center {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: @superHeader-height;
    position: relative;
    width: @globalWidth;
}

.superHeader__body {
    color: #fff;
    padding: 4rem 2rem;
    position: relative;
    z-index: 2;
}

.superHeader__image {
    left: 0;
    position: absolute;
    top: 0;
    width: @globalWidth;
    z-index: 1;
}

.superHeader__legal {
    bottom: 2rem;
    position: absolute;
    right: 0;
    z-index: 2;
}

// superHeader as slider
// =====================

.superHeader.slider {
    border-radius: 0;
    border: 0;
    margin: 0;
    position: relative;
}

.superHeader .pageDots {
    bottom: 10px;
    left: 50%;
    margin-left: @globalWidth / -2;
    position: absolute;
    z-index: 10;
}
