/** switch.less */

.js {
    
    // block (JS only)
    // ===============

    .switch {

        .mixin-clearAppearance;
        .mixin-userSelectNone;
        border-radius: 1rem;
        border: 0;
        cursor: pointer;
        display: inline-block;
        height: 2rem;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        width: 3.5rem;

        input {
            position: absolute;
            visibility: hidden;
            z-index: 1;
        }

    }

    // elements (injected via JS)
    // ==========================

    .switch__knob {
        background: #fff;
        border-radius: 50%;
        content: ' ';
        display: block;
        height: 1.6rem;
        overflow: hidden;
        position: absolute;
        text-indent: -999px;
        top: .2rem;
        transition: left 60ms ease-in;
        width: 1.6rem;
    }

    .switch__labelOn,
    .switch__labelOff {
        .mixin-userSelectNone;
        display: block;
        font: bold 1.1rem/1.9rem @font-sansserif;
        position: absolute;
        text-transform: uppercase;
        top: 0;
    }

    .switch__labelOn {
        color: @color-positive-25;
        left: .8rem;
    }

    .switch__labelOff {
        color: @color-main-25;
        right: .8rem;
    }

    // modifiers
    // =========
    
    // on
    
    .switch--on {

        background: @color-positive-15;

        .switch__knob { left: 1.7rem; }
        .switch__labelOn  { display: block }
        .switch__labelOff { display: none; }

    }

    // off

    .switch--off {

        background: @color-main-16;

        .switch__knob { left: .2rem; }
        .switch__labelOn  { display: none; }
        .switch__labelOff { display: block; }

    }
    
    // has labels
    
    .switch--labeled {
        
        width: 6rem;
        
        &.switch--on .switch__knob {
            left: 4.2rem;
        }

    }
    
    // on focus

    .switch--focus {
        // todo
    }
    
    // large switch

    .switch--large {

        border-radius: 1.5rem;
        height: 3rem;
        width: 5.5rem;

        // knob

        .switch__knob {
            height: 2.6rem;
            top: .2rem;
            width: 2.6rem;
        }

        // labels

        .switch__labelOn,
        .switch__labelOff {
            line-height: 3rem;
        }

        .switch__labelOn {
            left: 1.2rem;
        }

        .switch__labelOff {
            right: 1.2rem;
        }

        // on

        &.switch--on .switch__knob {
            left: 2.7rem;
        }

        // off

        &.switch--off .switch__knob {
            left: .2rem;
        }
        
        // has labels
        
        &.switch--labeled {
        
            width: 7.5rem;
        
            &.switch--on .switch__knob {
                left: 4.7rem;
            }

        }

    }
    
}
