/** toolTip.less */

// block
// =====

.tooltip {

    .mixin-shadow-3;
    .mixin-defaultBorderRadius;
    background: @color-main-25;
    border: @color-main-22 1px solid;
    color: @color-main-10;
    display: block;
    max-width: 25rem;
    min-width: 15rem;
    padding: 1rem;
    position: relative;
    text-align: left;
    white-space: normal;
    z-index: 900;

    // typography inside tooltip

    h1, h2, h3, h4, h5, h6, p, ul, ol {
        color: @color-main-10;
        font: normal 1.3rem/2rem @font-sansserif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    ul, ol {
        padding-left: 2rem;
    }

    li {
        list-style: square;
    }

    *:last-child {
        margin-bottom: 0;
    }

}

// modifiers
// =========

.tooltip--attention {
    .tooltipTheme(@color-attention-10, @color-attention-22, @color-attention-17)
}

.tooltip--error,
.tooltip--negative {
    .tooltipTheme(#fff, @color-negative-10, @color-negative-10)
}

.tooltip--success,
.tooltip--positive {
    .tooltipTheme(#fff, @color-positive-10, @color-positive-10)
}

// "constructor" for different color themes

.tooltipTheme(@txtColor, @backgroundColor, @borderColor) {

    background: @backgroundColor;
    border-color: @borderColor;
    color: @txtColor;

    h1, h2, h3, h4, h5, h6, p, ul, ol {
        color: @txtColor;
    }

}