/** veterinary.less */

.item .veterinary {

    background: @color-attention-22;
    .mixin-defaultBorderRadius;
    border: @color-attention-15 1px solid;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    width: 30px;

    span {
        display: none;
    }

    // interactive states

    &.expanded,
    &:hover {

        width: auto;
        z-index: 100;

        span {
            border-left: @color-attention-16 1px solid;
            color: @color-attention-10;
            display: inline-block;
            line-height: 30px;
            margin-left: 30px;
            padding: 0 10px;
        }

    }

    // icons

    [class^="icon--"] {
        color: @color-attention-10;
        display: block;
        left: -4px;
        line-height: 40px;
        position: absolute;
        top: -6px;
        width: 40px;
    }

    .icon--056 { left: -1px; }
    .icon--053 { left: -8px; }
    .icon--070 { left: -8px; }
    .icon--054 { left: -2px; }
    .icon--055 { left: 1px; }

}
