/** videoPlayer.less */

.videoPlayer {

    background: @color-main-15;
    .mixin-defaultBorderRadius;
    border: @color-main-12 1px solid;
    box-sizing: border-box;
    display: block;
    min-height: 250px;
    padding: 0;
    position: relative;
    width: 100%;

    &::after {
        .mixin-icon;
        border-radius: 50%;
        border: #fff 2px solid;
        color: #fff;
        content: '\e000';
        font-size: 70px;
        height: 100px;
        left: 50%;
        line-height: 96px;
        margin-left: -52px;
        margin-top: -52px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100px;
    }

}
