{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## MaxChars
{% endmarkdown %}

<div class="note note--subtle note--large">
    <h3 class="note__headline">Documentation Incomplete</h3>
    <div class="note__body">
        <p>To be completed soon.</p>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <textarea class="br-bl-0 br-br-0" rows="" cols="" maxlength="200" yoi-maxchars="display:#myDisplayElement; errorClass:tc-red-10;"></textarea>
        <div class="br-bl br-br b-l b-r b-b p-lr-2 p-tb-1 tc-main-12">
            <span class="js-only"><b id="myDisplayElement"></b> characters left</span>
            <span class="js-fallback">Only 200 characters allowed</span>
        </div>
    </div>
</div>

{% endblock %}
