/** posterteaser.less */

// block
// =====

.posterTeaser {

    .mixin--enable3d;
    .mixin--fixFlickering;
    .mixin-clearfix;
    .mixin-defaultBorderRadius;
    background: @color-main-5;
    border: 0;
    display: inline-block;
    font-family: @font-sansserif;
    overflow: hidden;
    position: relative;

    a& {
        cursor: pointer;
        text-decoration: none;
    }

}

// elements
// ========

.posterTeaser__image {
    display: block;
    opacity: .5;
    transition: opacity 200ms ease-out;
}

a.posterTeaser:hover .posterTeaser__image {
    opacity: .3;
}

.posterTeaser__body {
    bottom: 1rem;
    color: @color-white;
    font-size: 1.5rem;
    left: 1rem;
    position: absolute;
    right: 1rem;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    top: 1rem;
    z-index: 2;
}

.posterTeaser__title {}
.posterTeaser__copy {}

// modifiers
// =========

// body sticks to bottom

.posterTeaser--bottom .posterTeaser__body {
    bottom: 1rem;
    top: auto;
}

// initially, only the image and title are
// visible, the copy text appears on hover

.posterTeaser.fx--slide {
    
    // regular
    
    .posterTeaser__copy {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        transition: all 300ms ease-out;
    }
    
    &:hover {
        
        .posterTeaser__copy {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

    }
    
    // text sticks to bottom
    
    &.posterTeaser--bottom {
        
        .posterTeaser__title {
            transform: translate3d(0, -100%, 0);
            transition: all 300ms ease-out;
        }

        .posterTeaser__body {
            transform: translate3d(0, 100%, 0);
            transition: all 300ms ease-out;
        }

        &:hover {
        
            .posterTeaser__title {
                transform: translate3d(0, 0, 0);
            }

            .posterTeaser__body {
                transform: translate3d(0, 0, 0);
            }

        }
        
    }
    
}

// the image blurs and scales up on hover

.posterTeaser.fx--blur {
    
    .posterTeaser__image {
        transition: all 600ms ease-out;
    }
    
    &:hover .posterTeaser__image {
        filter: blur(10px);
        transform: scale3d(1.1, 1.1, 1);
    }
    
}
