/** ribbon.less */

// block
// =====

.ribbon {
    display: block;
    left: -20rem;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 3rem;
    width: 50rem;
}

// elements
// ========

.ribbon__label {

    display: block;
    font: bold 1.5rem/3rem @font-sansserif;
    text-align: center;
    white-space: nowrap;

    .ribbon &,
    .ribbon--left & {
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
    }

    .ribbon--right & {
        transform-origin: 50% 50%;
        transform: rotate(45deg);
    }

}

// modifiers
// =========

.ribbon--left {
    // default
}

.ribbon--right {
    left: auto;
    right: -20rem;
}

.ribbon {
    .ribbonConstructor(
        @txtColor: @color-base-8,
        @bgColor: @color-base-23
    )
}

.ribbon.ribbon--attention {
    .ribbonConstructor(
        @txtColor: @color-attention-8,
        @bgColor: @color-attention-22
    )
}

.ribbon.ribbon--dark {
    .ribbonConstructor(
        @txtColor: @color-white,
        @bgColor: @color-base-10
    )
}

.ribbon.ribbon--light {
    .ribbonConstructor(
        @txtColor: @color-base-11,
        @bgColor: @color-base-25
    )
}

.ribbon.ribbon--negative {
    .ribbonConstructor(
        @txtColor: @color-white,
        @bgColor: @color-negative-15
    )
}

.ribbon.ribbon--positive {
    .ribbonConstructor(
        @txtColor: @color-white,
        @bgColor: @color-positive-13
    )
}

// constructor
// ===========

.ribbonConstructor(@txtColor, @bgColor) {
    .ribbon__label {
        color: @txtColor;
        background: @bgColor;
    }
}
