/** horizontalmenu.less */

// block
// =====

.horizontalMenu {
    .mixin-fs-2;
    background: @color-white;
    border-radius: @defaultBorderRadius * 1px;
    border: @color-base-23 1px solid;
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    list-style: none;
}

// elements
// ========

.horizontalMenu__item {
    .mixin-fs-2;
    .mixin-fw-bold;
    border-right: 1px @color-base-23 solid;
    margin: 0;
    position: relative;
}

.horizontalMenu__link {

    color: @color-base-10;
    display: block;
    font-weight: bold;
    height: ~'calc(3rem - 2px)';
    line-height: ~'calc(3rem - 2px)';
    padding: 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:active,
    &:link,
    &:visited {
        color: @textColor;
        text-decoration: none;
    }

    &:hover {
        background: @color-base-25;
    }

}

// modifiers
// =========

.horizontalMenu--grow {

    .horizontalMenu__item {
        flex-grow: 1;
    }

    .horizontalMenu__item:last-child {
        border-right: 0;
    }

}

.is--active .horizontalMenu__link::before {
    background: @color-primary-15;
    content: ' ';
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
