/** horizontalmenu.less */

// block
// =====

.horizontalMenu {
    background: @color-white;
    height: 5rem;
}

// elements
// ========

.horizontalMenu__menu {

    border-radius: (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0 0;
    border: @color-base-23 1px solid;
    border-bottom: 0;
    box-sizing: border-box;
    height: 5rem;
    position: relative;
    width: 100%;
    z-index: 100;

    &,
    ul {
        list-style: none;
    }

    li {
        float: left;
    }

    a,
    a:link,
    a:visited {
        border-right: 1px @color-base-23 solid;
        color: @color-base-10;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        height: 4.9rem;
        line-height: 4.9rem;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
    }

    a:hover,
    a.horizontalMenu--active,
    a.horizontalMenu--current:hover {
        background: @color-base-25;
    }

    a:active,
    a.horizontalMenu--current {
        background: @color-base-24;
    }

}

.horizontalMenu__icon {
    margin: 0 -1rem;
}

.horizontalMenu .popOver a.box:hover {
    background: @color-white;
}

// positioning breadcrumbs after menu

.horizontalMenu + .breadcrumbs {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transform: translate(0, 100%);
}

// modifiers
// =========

.horizontalMenu--expand .horizontalMenu__menu {

    // Sets all buttons to the same width so
    // they fill the whole menu width:

    display: table;

    li {
        display: table-cell;
        float: none;
    }

    li:last-child a {
        border: 0;
    }

}
