<!-- filterBtns.html -->

{% macro render(modifiers=false) %}
    {% if modifiers %}
        <ul class="filterBtns {{ modifiers }}" data-filterbtns>
    {% else %}
        <ul class="filterBtns" data-filterbtns>
    {% endif %}
        <li class="filterBtns__btn">
            <a href="#">Kopfschmerzen</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Übelkeit</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Schwindelgefühl</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Muskelschmerzen</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Herzrasen</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Krämpfe</a>
        </li>
        <li class="filterBtns__btn">
            <a href="#">Reizhusten</a>
        </li>
    </ul>
{% endmacro %}

<!-- /filterBtns.html -->
