<!-- imgMagnifier.html -->

{% macro render(modifiers=false, previewImgPath='https://unsplash.it/450/450?image=15', zoomImgPath='https://unsplash.it/1000/1000?image=15') %}

    {% if modifiers %}
        <div class="imgMagnifier {{ modifiers }}">
    {% else %}
        <div class="imgMagnifier">
    {% endif %}
        <a href="{{ zoomImgPath }}">
            <img class="imgMagnifier__previewImage" src="{{ previewImgPath }}" alt="" />
        </a>
    </div>
{% endmacro %}

<!-- /imgMagnifier.html -->
