{% macro build(this) %}
    {% set currentPage = this.currentPage or 1 %}
    {% set totalPages = this.totalPages or 10 %}
    {% if this.modifiers %}
        <ul class="pagination {{ this.modifiers }}">
    {% else %}
        <ul class="pagination">
    {% endif %}
        {% if currentPage > 1 %}
            <li class="pagination__item">
                <a class="pagination__btnPrev" href="#">
                    <span class="hidden">vorherige Seite</span>
                    <i aria-hidden="true" class="icon--008-s"></i>
                </a>
            </li>
        {% endif %}
        {% for i in range(0, totalPages) %}
            {% if currentPage == i + 1 %}
                <li class="pagination__item pagination__item--active">
            {% else %}
                <li class="pagination__item">
            {% endif %}
                <a href="#">{{ i + 1 }}</a>
            </li>
        {% endfor %}
        {% if currentPage < totalPages %}
            <li class="pagination__item">
                <a class="pagination__btnNext" href="#">
                    <span class="hidden">nächste Seite</span>
                    <i aria-hidden="true" class="icon--007-s"></i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endmacro %}
