/** pagebuttons.less */

// block
// =====

.pageButtons {
    .mixin-userSelectNone;
    background: fade(@color-base-8, 70%);
    border-radius: @defaultBorderRadius * 1px;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    min-width: 8rem;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 fade(@color-base-5, 30%);
}

// elements
// ========

.pageButtons__buttonPrev,
.pageButtons__buttonNext {

    .mixin-defaultBorderRadius;
    background: transparent;
    border: 0;
    color: @color-base-25;
    cursor: pointer;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4rem;

    &:hover {
        background: @color-base-10;
    }

    // icons

    &::after {
        content: ' ';
        display: inline-block;
        height: 4rem;
        left: 0;
        top: 0;
        width: 4rem;
    }

}

.pageButtons__buttonPrev { left: 0; }
.pageButtons__buttonNext { right: 0; }

.pageButtons__buttonPrev::after {
    .mixin-icon-bg(@id: 'icon-008-s', @fillColor: @color-base-25);
}

.pageButtons__buttonNext::after {
    .mixin-icon-bg(@id: 'icon-007-s', @fillColor: @color-base-25);
}

.pageButtons__indicator {
    color: @color-base-25;
    display: inline-block;
    font: bold 1.5rem/4rem @font-sansserif;
    height: 4rem;
    line-height: 4rem;
    margin: 0 5rem;
}

// disabled pageButtons

.pageButtons__buttonPrev.is--disabled,
.pageButtons__buttonNext.is--disabled {
    
    &:hover {
        background: transparent;
        cursor: default;
    }
    
    // icons
    
    &::after {
        opacity: .3;
    }
    
}

// modifiers
// =========

.pageButtons--tl,
.pageButtons--tr,
.pageButtons--br,
.pageButtons--bl {
    position: absolute;
    z-index: 20;
}

.pageButtons--tl {
    border-radius: 0 0 0 (@defaultBorderRadius * 1px);
    left: 0;
    top: 0;
}

.pageButtons--tr {
    border-radius: 0 0 (@defaultBorderRadius * 1px) 0;
    right: 0;
    top: 0;
}

.pageButtons--br {
    border-radius: (@defaultBorderRadius * 1px) 0 0 0;
    bottom: 0;
    right: 0;

}

.pageButtons--bl {
    border-radius: 0 (@defaultBorderRadius * 1px) 0 0;
    bottom: 0;
    left: 0;
}
