/** searchinput.less */

/*
    Please note: this is a wrapper
    around a plain input type="search".
    It get added via JavaScript.
*/

// block
// =====

.searchInput {

    input {
        &:extend(.input);

        .mixin-icon-bg(@id: 'icon-012-s', @fillColor: @color-base-20);
        background-position-x: -.4rem;
        padding-left: 2.25rem;

        &:focus {
            background-position-x: -4rem;
            padding-left: .75rem;
        }

        &::placeholder {
            color: @color-base-23;
            opacity: 1;
        }
    }
}

// modifiers
// =========

// rounded

.searchInput--rounded {
    input {
        border-radius: 1.25rem;
        padding-left: 2.5rem;
    
        &:focus {
            background-position-x: -4rem;
            padding-left: 1rem;
        }
    }
}

// small

.searchInput--small {
    input {
        .mixin-icon-bg(@id: 'icon-012-s', @fillColor: @color-base-20);
        background-position-x: -.4rem;
        background-size: 2.5rem;
        font-size: .88rem;
        height: 1.5rem;
        line-height: 1.5rem;
        padding-left: 2rem;

        &:focus {
            background-position-x: -4rem;
            padding-left: .5rem;
        }
    }
}

// large

.searchInput--large {
    input {
        .mixin-icon-bg(@id: 'icon-012', @fillColor: @color-base-20);
        background-position-x: .15rem;
        background-position-y: .15rem;
        background-size: 2rem;
        font-size: 1.13rem;
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left: 2.5rem;
    
        &:focus {
            background-position-x: -4rem;
            padding-left: 1rem;
        }
    }
}