/** flyout.less */

// block
// =====

.flyout {
    .mixin-defaultBorderRadius;
    background: @color-base-24;
    border: @color-base-20 1px solid;
    box-sizing: border-box;
    color: @color-base-8;
    padding: 2rem;
    position: relative;
    text-align: left;
    transition: right 100ms ease-out, left 100ms ease-out;
    width: 25rem;
}

// elements
// ========

.flyout__handle {

    background: @color-base-24;
    border: @color-base-20 1px solid;
    border-top: 0;
    cursor: pointer;
    display: block;
    font: normal 2rem/3rem @font-sansserif;
    padding: 0 1rem 0 1.5rem;
    position: absolute;
    top: 3rem;

    // icon

    &::after {
        content: ' ';
        display: inline-block;
        height: 3.2rem;
        margin-left: .5rem;
        vertical-align: top;
        width: 3.2rem;
    }

}

.flyout--left .flyout__handle {
    transform-origin: right top;
    transform: rotate(270deg);
    border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
    right: 0;
}

.flyout--right .flyout__handle {
    transform-origin: left top;
    transform: rotate(90deg);
    border-radius: 0 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px);
    left: 0;
}

.js .flyout__handle {
    background-clip: padding-box;
    border-color: fade(@color-base-20, 30%);
}

// hide handle if js is disabled

.noJs .flyout__handle {
    display: none;
}

.flyout__body {}

// modifiers
// =========

.js {

    // the whole positioning only makes sense,
    // if JS is available

    .flyout--left,
    .flyout--right {
        position: fixed;
        top: 10rem;
        z-index: 301;
    }

    .flyout--left {
        border-radius: 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0;
    }

    .flyout--right {
        border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
    }

    .flyout--hidden {

        .flyout__handle::after {
            .mixin-icon-bg(@id: 'icon-009-s', @fillColor: @color-base-8);
        }

        &.flyout--left {
            left: -25rem;
        }

        &.flyout--right {
            right: -25rem;
        }

    }

    .flyout--visible {

        .mixin-shadow-3;
        background-clip: padding-box;
        border: fade(@color-base-20, 30%) 1px solid;

        .flyout__handle::after {
            .mixin-icon-bg(@id: 'icon-010-s', @fillColor: @color-base-8);
        }

        &.flyout--left {
            left: 0;
        }

        &.flyout--right {
            right: 0;
        }

    }

}
