/** documentation.css */

/* base layout */
/* =========== */

/* header */

.documentation__header {
    height: 10rem;
}

/* article */

.documentation__article {
    min-height: 80vh;
}

/* intro paragraph */

.documentation__article h2:first-child + p {
    font-size: 2rem;
    line-height: 1.5;
}

/* intro table */

table:first-of-type td:first-child {
    width: 15rem;
}

/* code in copy text */

.documentation__article p > code,
.documentation__article table code,
.documentation__article p > strong > code,
.documentation__article p > b > code,
.documentation__article p > em > code,
.documentation__article p > i > code {
    color: #9e4181;
    font-size: .9em;
    font-style: normal;
    font-weight: normal;
}

/* code examples */

.documentation__example {
    border-radius: 2px;
    border: #f6f5f4 1px solid;
    margin: 2rem 0;
}

.documentation__example pre code {
    background: transparent;
    border-radius: 0;
    margin-top: -1.5rem;
}

.documentation__example .documentation__code {
    
}

.documentation__example .documentation__result {
    padding: 2rem;
}

.documentation__example.tabs pre,
.documentation__example.tabs code {
    background: transparent;
}

.documentation__example > .tabs__menu,
.documentation__example > .tabs__menu .tabs__item {
    border-color: #f6f5f4;
}

/* footer */

.documentation__footer {}

/* individual examples */
/* =================== */

/* interface/sticky.md */

[id*="example-sticky-"]::after {
    border-top: #ff6830 1px dashed;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 10;
}

#example-sticky-4::after {
    top: 350px;
}

/* tools/gradient.md */

.shade {
    height: 4rem;
    text-align: right;
}

.shade p {
    background: rgba(0,0,0,.4);
    color: #fff;
    display: inline-block;
    font: normal 1.5rem/4rem monospace;
    height: 100%;
    padding: 0 1.5rem;
}

#gradient {
    display: none;
}

#codepanel {
    display: none;
}

#codepanel code {
    margin: 0;
    padding: 2rem;
    white-space: pre;
}