/** documentation.css */

/* intro table */

.article > h1:first-child + p + table td:first-child {
    width: 15rem;
}

/* interface/sticky.md */

[id*="example-sticky-"]::after {
    border-top: #ff6830 1px dashed;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 10;
}

#example-sticky-4::after {
    top: 350px;
}