{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Colors

Colors.less defines all color variables used throughout the whole frontend. If you create a new project, use this file to change color variables or add new ones.

|           |                                                                    |
| -         | -                                                                  |
| Less-File | [colors.less]({{ pathToSourceFile }}assets/less/theme/colors.less) |


### Color Settings

Use these variables to assign the rather descriptive main color-variables to variables used as project settings:
{% endmarkdown %}

<div class="documentation__block"><code class="language-less"><pre>
@htmlBackgroundColor:       @blue-8;
@bodyBackgroundColor:       #fff;
@textColor:                 @blue-8;
</pre></code></div>

{% markdown %}
### Main Color Variables

The Yoshino default theme includes four main colors: blue, green, red and yellow. These main colors are available in 25 different shades, through 25 different variables. The following example illustrates how to use the `@blue-` color variables (but of course the same logic applies to the other main colors):
{% endmarkdown %}

<div class="documentation__block"><code class="language-less"><pre>
/*
    @blue-base              // the "base" shade of blue
    @blue-1                 // the darkest shade of blue
    ...
    @blue-25                // the lightest shade of blue
*/

.myElement {
    background: @blue-25;   // very light blue background
    color: @blue-8;         // dark blue text color
}
</pre></code></div>

{% markdown %}
These variables are a _Less language feature_. See the [Less documentation](http://lesscss.org/features/#variables-feature) to learn more about Less variables.
{% endmarkdown %}

<div class="note note--subtle note--large note--icon085 m-t-8">
    <h3 class="note__headline">Color Tool</h3>
    <div class="note__body">
        <p>Use the <a href="pages/tools/color_tool.html">Color Tool</a> to see all avaiable color shades or to create color gradients and variables for your own code.</p>
    </div>
</div>

{% markdown %}
### Other Color Variables

Apart from the four base colors, there are some more color variables for special purpose:
{% endmarkdown %}

<div class="documentation__block"><code class="language-less"><pre>
@color-transparent:        rgba(255,255,255,0);
@color-gold:               #eac310;
</pre></code></div>

{% markdown %}
### Color Utility Classes

In addition to the Less color variables (which can only be used in Less style sheets), there are **color utility classes** which can be used in any template / markup. [Learn more about utilities](/pages/css-interface/utilities.html).
{% endmarkdown %}

<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example" data-printcode="language:markup; print:true;">
            <span class="bg-yellow-22 tc-red-10 p-2">Medium red on light yellow</span>
        </div>
    </div>
    <div class="documentation__block">
        <div class="documentation__example" data-printcode="language:markup; print:true;">
            <span class="bg-green-10 tc-yellow-22 p-2">Bright yellow on medium green</span>
        </div>
    </div>
    <div class="documentation__block">
        <div class="documentation__example" data-printcode="language:markup; print:true;">
            <span class="bg-red-10 tc-white p-2">White on medium red</span>
        </div>
    </div>
</div>

{% endblock %}
