/** modal.less */

// block
// =====

.modal {

    .mixin-defaultBorderRadius;
    background: @color-white;
    border: @color-base-23 1px solid;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    text-align: left;
    width: 37.5rem;

    .modal__container & {
        .mixin-shadow-4;
        border: 0;
        left: 50%;
        margin-left: -18.75rem;
        position: absolute;
    }

}

// elements
// ========

.modal__header {
    .mixin-fs-2;
    .mixin-lh-2;
    .mixin-fw-bold;
    color: @color-base-8;
    margin-bottom: 2rem;
}

.modal__body {
    .mixin-clearfix;
    .mixin-fs-2;
    .mixin-lh-3;
}

.modal__footer {
    .mixin-clearfix;
    overflow: hidden;
    margin: 2rem -1rem -1rem -1rem;
}

.modal__cover {
    background: fade(@color-base-5,50%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
}

.modal__container .modal {
    z-index: 601;
}

.modal .buttonDismiss {
    position: absolute;
    right: .25rem;
    top: .25rem;
}

// modifiers
// =========

.modal--small {

    width: 18.75rem;

    .modal__container & {
        margin-left: -9.38rem;
    }

}
