/** piechart.less */

// block
// =====

.pieChart {
    overflow: hidden;
}

// elements
// ========

// svg

.pieChart svg {
    background: @color-base-25;
    border-radius: 50%;
    float: left;
    margin-right: 3rem;
}

// data & records

.pieChart__data {
    float: left;
}

.pieChart__record {

    .mixin-fs-2;
    .mixin-lh-4;

    .js & {
        cursor: pointer;
    }

    [yoi-piechart*="highlight:false;"] & {
        cursor: default;
    }

}

.pieChart__dot {
    .mixin-defaultBorderRadius;
    display: inline-block;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 1rem;
}

.pieChart__value {
    vertical-align: middle;
}

.pieChart__label {
    font-weight: bold;
    vertical-align: middle;
}
