/** flipbuttons.less */

// block
// =====

.flipButtons {
    .mixin-userSelectNone;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 20;
}

// elements
// ========

.flipButtons__buttonPrev,
.flipButtons__buttonNext {

    box-sizing: border-box;
    background: @color-white;
    border: @color-base-23 1px solid;
    color: @color-base-8;
    cursor: pointer;
    display: block;
    height: 3rem;
    margin-top: -1.5rem;
    position: absolute;
    text-shadow: 0 1px 0 @color-base-25;
    width: 2rem;

    &:hover {
        background: @color-base-25;
    }

    // icons

    &::after {
        content: ' ';
        height: ~'calc(3rem - 2px)';
        left: 0;
        position: absolute;
        width: 2rem;
    }

}

.flipButtons__buttonPrev {

    border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
    border-right: 0;
    left: -2rem;

    &::after {
        .mixin-icon-chevron-left(@size: 32, @color: @color-base-8);
    }

}

.flipButtons__buttonNext {

    border-radius: 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0;
    border-left: 0;
    right: -2rem;

    &::after {
        .mixin-icon-chevron-right(@size: 32, @color: @color-base-8);
    }

}

// disabled flipButtons

.flipButtons__buttonPrev.is--disabled,
.flipButtons__buttonNext.is--disabled {

    &:hover {
        background: transparent;
        cursor: default;
    }

    // icons

    &::after {
        opacity: .3;
    }

}

// modifiers
// =========

&.flipButtons--inset {

    .flipButtons__buttonPrev {
        border: @color-base-23 1px solid;
        border-radius: 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0;
        border-left: 0;
        left: 0;
    }

    .flipButtons__buttonNext {
        border: @color-base-23 1px solid;
        border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
        border-right: 0;
        right: 0;
    }

}
