/** hint.less */

// block
// =====

.hint {
    border-left: @color-base-20 2px solid;
    padding-left: 1.75rem;
}

// modifiers
// =========

.hint--primary {
    border-color: @color-primary-20;
    color: @color-primary-12;
}

.hint--attention {
    border-color: @color-attention-16;
    color: @color-attention-12;
}

.hint--positive {
    border-color: @color-positive-17;
    color: @color-positive-12;
}

.hint--negative {
    border-color: @color-negative-16;
    color: @color-negative-12;
}