<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Juvalis</title>
        <base href="{{ basePath }}" />
        <link href="assets/css/yoshino-ui-core.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body class="noJs" data-environment="modal-desktop">
        <script>document.body.className='js';</script>
        <div class="modalPage">
            <a class="btn btn--large btn--subtle m-4" href="#link_back_to_previous_page">
                <span class="icon">{% icon {id:'008-s'} %}</span>
                <span>zurück</span>
            </a>
            {% block main %}{% endblock %}
        </div>
        <script src="assets/js/libs/jquery.js"></script>
        <script src="assets/js/yoshino-ui-core.js"></script>
    </body>
</html>
