/** datepicker.less */

// block
// =====

.datePicker {
    .mixin-defaultBorderRadius;
    background: @color-white;
    border: @color-main-23 1px solid;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 30rem;
    z-index: 10;
}

.js .datePicker {
    .mixin-shadow-3;
    background-clip: padding-box;
    border: fade(@color-main-20, 30%) 1px solid;
}

// elements
// ========

.datePicker__wrapper {

    cursor: pointer;
    display: inline-block;
    position: relative;

    // calendar icon

    &::after {
        .mixin-icon-bg(@id: 'icon-017-s', @fillColor: @color-main-15);
        content: ' ';
        width: 3.2rem;
        height: 3.2rem;
        display: inline-block;
        vertical-align: middle;
    }

    &:hover::after {
        .mixin-icon-bg(@id: 'icon-017-s', @fillColor: @color-main-8);
    }

}

.datePicker__header {
    font-family: @font-sansserif;
    font-weight: normal;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: @color-main-25;
}

.datePicker__btnPrev,
.datePicker__btnNext {
    height: 4rem;
    position: absolute;
    top: 0;
    width: 4rem;
}

.datePicker__btnPrev {
    
    .mixin-icon-bg(@id: 'icon-008-s', @fillColor: @color-main-20);
    left: 0;
    
    &:hover {
        .mixin-icon-bg(@id: 'icon-008-s', @fillColor: @color-main-8);
    }
    
}

.datePicker__btnNext {
    
    .mixin-icon-bg(@id: 'icon-007-s', @fillColor: @color-main-20);
    right: 0;
    
    &:hover {
        .mixin-icon-bg(@id: 'icon-007-s', @fillColor: @color-main-8);
    }
    
}

.datePicker__days {

    background: @color-main-25;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-color: @color-main-24;
    table-layout: fixed;
    width: 100%;

    th,
    td {
        border: 0;
    }
    
    th {
        color: @color-main-15;
        font-weight: normal;
    }

    td {
        cursor: pointer;
        text-align: center;
    }

    tr:last-child td:first-child,
    tr:last-child td:last-child {
        border-radius: 0;
    }

    td:hover {

        background: @color-main-23;
        color: @color-main-8;

        &::after {
            background: @color-main-10;
        }

    }
    
    // week-end
    
    th:nth-child(6),
    th:nth-child(7) {
        color: @red-15;
    }

}

// modifiers
// =========

.datePicker__days .datePicker--today {

    color: @color-main-8;
    font-weight: bold;
    outline: @color-main-22 1px solid;
    position: relative;

    &::after {
        background: @color-main-10;
        border-radius: 50%;
        content: ' ';
        height: .4rem;
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        width: .4rem;
    }

}

.datePicker__days .datePicker--selectedDay {

    background: @blue-12;
    color: @color-white;
    font-weight: bold;

    &:hover {

        color: @color-white;
        background: @blue-10;

        &::after {
            background: @blue-20;
        }

    }

    &::after {
        background: @blue-20;
    }

}

.datePicker__days .datePicker--emptyDay {

    &:hover {
        background: transparent;
    }

}

// hacks
// =====

// disable native date pickers
// on desktop browsers

[yoi-environment="desktop"] ::-webkit-calendar-picker-indicator {
    display: none;
}
