/** rangeinput.less */

// no-js fallback
// ==============

.rangeInput {

    form {

    }

    label {
        margin-bottom: .25rem;
    }

    input[type="text"] {
        margin-bottom: .5rem;
    }

    input[type="submit"] {
        margin-top: .5rem;
        text-align: center;
        width: 100%;
    }

}

// js-enhanced rangeInput
// ======================

.js .rangeInput {

    .mixin-userSelectNone;
    cursor: default;
    height: 3rem;
    position: relative;

    // track & range indicator

    .rangeInput__track {
        .mixin-defaultBorderRadius;
        background: @color-base-24;
        bottom: .5rem;
        height: .25rem;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .rangeInput__range {
        background: @color-base-10;
        height: .25rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: left 200ms ease-out, right 200ms ease-out;
    }

    &.is--active .rangeInput__range {
        transition: none;
    }

    // knob

    .rangeInput__knob {
        background: @color-base-10;
        border-radius: 50%;
        bottom: 0;
        box-sizing: border-box;
        cursor: ew-resize;
        height: 1.5rem;
        position: absolute;
        transition: left 200ms ease-out;
        width: 1.5rem;
        z-index: 2;
    }

    &.is--active .rangeInput__knob {
        transition: none;
    }

    .rangeInput__knob--topMost {
        z-index: 3;
    }

    // label

    .rangeInput__label {

        .mixin-defaultBorderRadius;
        background: @color-base-24;
        display: block;
        line-height: 2rem;
        padding: 0 .5rem;
        position: absolute;
        text-align: center;
        text-overflow: ellipsis;
        top: -3rem;
        white-space: nowrap;

        // pointer

        &::after {
            background: @color-base-24;
            bottom: -.3rem;
            content: ' ';
            height: .6rem;
            left: 50%;
            margin-left: -.3rem;
            position: absolute;
            transform: rotate(45deg);
            width: .6rem;
        }

    }

    .rangeInput__knob:hover .rangeInput__label,
    .rangeInput__knob:hover .rangeInput__label::after,

    .rangeInput__knob--active .rangeInput__label,
    .rangeInput__knob--active .rangeInput__label::after,

    &.is--active .rangeInput__label--single,
    &.is--active .rangeInput__label--single::after,

    .rangeInput__knob:hover ~ .rangeInput__label--single,
    .rangeInput__knob:hover ~ .rangeInput__label--single::after {

        background: @color-base-10;
        color: @color-white;

    }

    // special case: if the labels "collide" because the knobs are too close,
    // the two individual labels are replaced by a single label

    .rangeInput__label--single {
        display: none;
        top: -.5rem;
    }

    &.rangeInput--mergedLabels {

        .rangeInput__label--single {
            display: block;
        }

        .rangeInput__knob--min .rangeInput__label,
        .rangeInput__knob--max .rangeInput__label {
            display: none;
        }

    }

}
