/** flipbtns.less */

// block
// =====

.flipBtns {
    .mixin-userSelectNone;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 20;
}

// elements
// ========

.flipBtns__btnPrev,
.flipBtns__btnNext {

    box-sizing: border-box;
    background: @color-white;
    border: @color-base-23 1px solid;
    color: @color-base-8;
    cursor: pointer;
    display: block;
    height: 5rem;
    margin-top: -2.5rem;
    position: absolute;
    text-shadow: 0 1px 0 @color-base-25;
    width: 3rem;

    &:hover {
        background: @color-base-25;
    }

    // icons

    &::after {
        content: ' ';
        height: 5rem;
        left: 0;
        position: absolute;
        width: 3.2rem;
    }

}

.flipBtns__btnPrev {

    border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
    border-right: 0;
    left: -3rem;

    &::after {
        .mixin-icon-bg(@id: 'icon-008-s', @fillColor: @color-base-8);
    }

}

.flipBtns__btnNext {

    border-radius: 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0;
    border-left: 0;
    right: -3rem;

    &::after {
        .mixin-icon-bg(@id: 'icon-007-s', @fillColor: @color-base-8);
    }

}

// disabled flipBtns

.flipBtns__btnPrev.is--disabled,
.flipBtns__btnNext.is--disabled {
    
    &:hover {
        background: transparent;
        cursor: default;
    }
    
    // icons
    
    &::after {
        opacity: .3;
    }
    
}

// modifiers
// =========

&.flipBtns--inset {

    .flipBtns__btnPrev {
        border: @color-base-23 1px solid;
        border-radius: 0 (@defaultBorderRadius * 1px) (@defaultBorderRadius * 1px) 0;
        border-left: 0;
        left: 0;
    }

    .flipBtns__btnNext {
        border: @color-base-23 1px solid;
        border-radius: (@defaultBorderRadius * 1px) 0 0 (@defaultBorderRadius * 1px);
        border-right: 0;
        right: 0;
    }

}
