/** filterbuttons.less */

// block
// =====

.filterButtons {
    display: block;
    font-size: 0;
}

// elements
// ========

.filterButtons__button {

    background: @color-base-24;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: @color-base-8;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    margin: 0 .5rem .5rem 0;
    padding: 0 1.25rem;

    &:hover {
        background: @color-base-23;
    }

    a,
    a:link,
    a:visited {
        color: @color-base-8;
        display: inline-block;
        text-decoration: none;
    }

}

// modifiers
// =========

// dark buttons

.filterButtons--dark {

    .filterButtons__button {

        background: @color-base-11;
        color: @color-white;

        a,
        a:link,
        a:visited {
            color: @color-white;
        }

    }

    .filterButtons__button:hover {
        background: @color-base-9;
    }

    .filterButtons__button a::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-base-18);
    }

    .filterButtons__button a:hover::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-white);
    }

}

// removeable buttons

.filterButtons--removeable .filterButtons__button {

    // icon

    a::after {
        .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-base-18);
    }

    &:hover {

        background: @color-negative-10;

        a {
            color: @color-white;
        }

        // icon

        a::after {
            .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-negative-22);
        }

    }

}

// status
// ======

// icons inside buttons

.filterButtons__button {

    a::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-base-17);
        content: ' ';
        display: inline-block;
        height: 3rem;
        margin-left: -1.25rem;
        position: relative;
        right: -1rem;
        vertical-align: top;
        width: 3.2rem;
    }

    a:hover::after {
        .mixin-icon-bg(@id: 'icon-004-s', @fillColor: @color-base-8);
    }

}

// active button

.filterButtons__button.is--active {

    background: @color-positive-10;

    a {
        color: @color-white;
    }

    a::after {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-positive-22);
    }

    &:hover {
        background: @color-negative-10;
    }

    &:hover a::after {
        .mixin-icon-bg(@id: 'icon-006-s', @fillColor: @color-negative-22);
    }

}

// debouce button class

.filterButtons__button.filterButtons__button--debounce:hover {

    background: @color-positive-10;

    a::after {
        .mixin-icon-bg(@id: 'icon-011-s', @fillColor: @color-positive-22);
    }

}
