/** breadcrumbs.less */

// block
// =====

.breadcrumbs {
    .mixin-defaultBorderRadius;
    .mixin-fs-1;
    background: @color-white;
    border: @color-base-23 1px solid;
    line-height: 1rem;
    overflow: hidden;
    padding: 0 1rem 0 0;
}

// elements
// ========

.breadcrumbs__item {

    display: inline-block;
    position: relative;
    z-index: 4;

    // hover

    &:hover {
        z-index: 3;
    }

    &:hover + .breadcrumbs__item {
        z-index: 2;
    }

    &:hover .breadcrumbs__label {
        background: @color-base-24;
    }

    &:hover .breadcrumbs__link::after {
        background: @color-base-24;
    }

    // spacing

    & + .breadcrumbs__item {
        margin-left: -2rem;
    }

    // first breadcrumb

    &:first-child .breadcrumbs__label {
        padding-left: .5rem;
    }

    // last breadcrumb (= current page)

    &:last-child {
        .mixin-fw-bold;
        z-index: 1;
    }

    &:last-child a:hover,
    &:last-child span:hover {
        background: @color-white;
    }

}

.breadcrumbs__link {

    display: inline-block;
    padding: 0 1.5rem 0 0;
    position: relative;
    text-decoration: none;

    &:link, &:visited,
    &:hover, &:active {
        color: @color-base-8;
    }

    // pointy right edge

    &::after {
        background: @color-white;
        border-right: @color-base-23 1px solid;
        border-top: @color-base-23 1px solid;
        box-sizing: border-box;
        content: ' ';
        display: inline-block;
        height: 2rem;
        margin-top: -1rem;
        position: absolute;
        right: .75rem;
        top: 50%;
        transform: rotate(45deg);
        width: 2rem;
        z-index: 1;
    }

}

.breadcrumbs__label {
    display: inline-block;
    line-height: 2.5rem;
    padding: 0 0 0 2rem;
    position: relative;
    z-index: 2;
}
