/** tooltip.less */

// block
// =====

.tooltip {
    .mixin-defaultBorderRadius;
    .mixin-fs-2;
    .mixin-fw-normal;
    .mixin-lh-3;
    .mixin-shadow-4;
    background: @color-base-8;
    color: @color-base-25;
    color: @color-base-25;
    display: block;
    max-width: 25rem;
    padding: .5rem 1rem;
    position: relative;
    text-align: left;
    white-space: normal;
    z-index: 900;
}

.js .tooltip {
    display: none;
}

// modifiers
// =========

.tooltip--top::after,
.tooltip--right::after,
.tooltip--bottom::after,
.tooltip--left::after {
    background: @color-base-8;
    box-sizing: border-box;
    content: ' ';
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    width: 1rem;
}

.tooltip--top::after {
    bottom: 0;
    left: 50%;
    margin-bottom: -.5rem;
    margin-left: -.5rem;
}

.tooltip--right::after {
    left: 0;
    margin-left: -.5rem;
    margin-top: -.5rem;
    top: 50%;
}

.tooltip--bottom::after {
    left: 50%;
    margin-left: -.5rem;
    margin-top: -.5rem;
    top: 0;
}

.tooltip--left::after {
    margin-right: -.5rem;
    margin-top: -.5rem;
    right: 0;
    top: 50%;
}
