/** toolTip.less */

// block
// =====

.tooltip {

    .mixin-shadow-4;
    .mixin-defaultBorderRadius;
    background: @color-main-8;
    color: @color-main-25;
    display: block;
    max-width: 25rem;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: left;
    white-space: normal;
    z-index: 900;

    // typography inside tooltip

    h1, h2, h3, h4, h5, h6, p, ul, ol {
        color: @color-main-25;
        font: normal 1.3rem/2rem @font-sansserif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    ul, ol {
        padding-left: 2rem;
    }

    li {
        list-style: square;
    }

    *:last-child {
        margin-bottom: 0;
    }

}

// modifiers
// =========

.tooltip--top::after,
.tooltip--right::after,
.tooltip--bottom::after,
.tooltip--left::after {
    background: @color-main-8;
    box-sizing: border-box;
    content: ' ';
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    width: 1rem;
}

.tooltip--top::after {
    bottom: 0;
    left: 50%;
    margin-bottom: -.5rem;
    margin-left: -.5rem;
}

.tooltip--right::after {
    left: 0;
    margin-left: -.5rem;
    margin-top: -.5rem;
    top: 50%;
}

.tooltip--bottom::after {
    left: 50%;
    margin-left: -.5rem;
    margin-top: -.5rem;
    top: 0;
}

.tooltip--left::after {
    margin-right: -.5rem;
    margin-top: -.5rem;
    right: 0;
    top: 50%;
}