/** callout.less */

// block
// =====

.callout {
    border-radius: 50%;
    display: table;
    font: bold 1.3rem/1.5rem @font-sansserif;
    height: 10rem;
    margin: 0;
    text-align: center;
    text-shadow: none;
    width: 10rem;
    z-index: 5;
}

// elements
// ========

.callout__body {
    display: table-cell;
    padding: 1.5rem;
    vertical-align: middle;
}

// modifiers
// =========

// rotation

.callout--rot-l { transform: rotate(-10deg); }
.callout--rot-r { transform: rotate(10deg);  }

// color

.callout {
    .constr-callout(
        @txtColor: @color-base-8,
        @bgColor: @color-base-23
    )
}

.callout--dark {
    .constr-callout(
        @txtColor: @color-white,
        @bgColor: @color-base-10
    )
}

.callout--light {
    .constr-callout(
        @txtColor: @color-base-10,
        @bgColor: @color-white
    )
}

.callout--attention {
    .constr-callout(
        @txtColor: @color-attention-10,
        @bgColor: @color-attention-22
    )
}

.callout--positive {
    .constr-callout(
        @txtColor: @color-positive-10,
        @bgColor: @color-positive-23
    )
}

.callout--negative {
    .constr-callout(
        @txtColor: @color-negative-10,
        @bgColor: @color-negative-24
    )
}

// constructor
// ===========

.constr-callout(@txtColor, @bgColor) {
    background: @bgColor;
    color: @txtColor;
}
