/** quotation.less */

.quotation {

    .mixin-fs-2;
    display: block;
    font-style: italic;
    padding: 2rem;
    position: relative;
    border-left: @color-gray-23 2px solid;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 1.5rem;
    }
}
