/** border.less */

// standard border

.@{utilityPrefix}b-0   { border: 0 !important; }
.@{utilityPrefix}b-t-0 { border-top: 0 !important; }
.@{utilityPrefix}b-r-0 { border-right: 0 !important; }
.@{utilityPrefix}b-b-0 { border-bottom: 0 !important; }
.@{utilityPrefix}b-l-0 { border-left: 0 !important; }

.@{utilityPrefix}b-all { border: @color-main-23 1px solid !important; }
.@{utilityPrefix}b-t   { border-top: @color-main-23 1px solid !important; }
.@{utilityPrefix}b-r   { border-right: @color-main-23 1px solid !important; }
.@{utilityPrefix}b-b   { border-bottom: @color-main-23 1px solid !important; }
.@{utilityPrefix}b-l   { border-left: @color-main-23 1px solid !important; }

// border style

.@{utilityPrefix}b-dashed { border-style: dashed !important; }
.@{utilityPrefix}b-dotted { border-style: dotted !important; }
.@{utilityPrefix}b-solid  { border-style: solid !important; }

// border-width

.@{utilityPrefix}bw-1 { border-width: 1px !important; }
.@{utilityPrefix}bw-2 { border-width: 2px !important; }
.@{utilityPrefix}bw-3 { border-width: 4px !important; }

// border radius

.@{utilityPrefix}br-all    { .mixin-defaultBorderRadius !important; }
.@{utilityPrefix}br-circle { border-radius: 50% !important; overflow: hidden !important; }

.@{utilityPrefix}br-tl     { border-top-left-radius: 1px * @defaultBorderRadius !important; }
.@{utilityPrefix}br-tr     { border-top-right-radius: 1px * @defaultBorderRadius !important; }
.@{utilityPrefix}br-br     { border-bottom-right-radius: 1px * @defaultBorderRadius !important; }
.@{utilityPrefix}br-bl     { border-bottom-left-radius: 1px * @defaultBorderRadius !important; }

.@{utilityPrefix}br-0      { border-radius: 0 !important; }
.@{utilityPrefix}br-tl-0   { border-top-left-radius: 0 !important; }
.@{utilityPrefix}br-tr-0   { border-top-right-radius: 0 !important; }
.@{utilityPrefix}br-br-0   { border-bottom-right-radius: 0 !important; }
.@{utilityPrefix}br-bl-0   { border-bottom-left-radius: 0 !important; }