/** color-interactive.less */

.generate_hvrStyles (@i) when (@i > 0) {
    .generate_hvrStyles((@i - 1));

    // background colors

    .@{utilityPrefix}hvr--bg-attention-@{i}:hover { background: ~"@{color-attention-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-blue-@{i}:hover      { background: ~"@{blue-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-gray-@{i}:hover      { background: ~"@{gray-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-green-@{i}:hover     { background: ~"@{green-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-main-@{i}:hover      { background: ~"@{color-main-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-negative-@{i}:hover  { background: ~"@{color-negative-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-positive-@{i}:hover  { background: ~"@{color-positive-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-purple-@{i}:hover    { background: ~"@{purple-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-red-@{i}:hover       { background: ~"@{red-@{i}}" !important; }
    .@{utilityPrefix}hvr--bg-yellow-@{i}:hover    { background: ~"@{yellow-@{i}}" !important; }

    // text colors

    .@{utilityPrefix}hvr--tc-attention-@{i}:hover { color: ~"@{color-attention-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-blue-@{i}:hover      { color: ~"@{blue-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-gray-@{i}:hover      { color: ~"@{gray-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-green-@{i}:hover     { color: ~"@{green-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-main-@{i}:hover      { color: ~"@{color-main-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-negative-@{i}:hover  { color: ~"@{color-negative-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-positive-@{i}:hover  { color: ~"@{color-positive-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-purple-@{i}:hover    { color: ~"@{purple-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-red-@{i}:hover       { color: ~"@{red-@{i}}" !important; }
    .@{utilityPrefix}hvr--tc-yellow-@{i}:hover    { color: ~"@{yellow-@{i}}" !important; }

    // border colors

    .@{utilityPrefix}hvr--bc-attention-@{i}:hover { border-color: ~"@{color-attention-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-blue-@{i}:hover      { border-color: ~"@{blue-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-gray-@{i}:hover      { border-color: ~"@{gray-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-green-@{i}:hover     { border-color: ~"@{green-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-main-@{i}:hover      { border-color: ~"@{color-main-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-negative-@{i}:hover  { border-color: ~"@{color-negative-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-positive-@{i}:hover  { border-color: ~"@{color-positive-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-purple-@{i}:hover    { border-color: ~"@{purple-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-red-@{i}:hover       { border-color: ~"@{red-@{i}}" !important; }
    .@{utilityPrefix}hvr--bc-yellow-@{i}:hover    { border-color: ~"@{yellow-@{i}}" !important; }

}
.generate_hvrStyles(25);

.@{utilityPrefix}hvr--bg-transparent:hover { background: @color-transparent !important; }
.@{utilityPrefix}hvr--bg-white:hover       { background: @color-white !important; }

.@{utilityPrefix}hvr--tc-transparent:hover { color: @color-transparent !important; }
.@{utilityPrefix}hvr--tc-white:hover       { color: @color-white !important; }

.@{utilityPrefix}hvr--bc-transparent:hover { border-color: @color-transparent !important; }
.@{utilityPrefix}hvr--bc-white:hover       { border-color: @color-white !important; }