/** color-base.less */

// background, border and text colors

.generate_colors (@i) when (@i > 0) {

    .generate_colors((@i - 1));

    // semantic background colors

    .bg-attention-@{i} { background: ~"@{color-attention-@{i}}" !important; }
    .bg-base-@{i}      { background: ~"@{color-base-@{i}}" !important; }
    .bg-negative-@{i}  { background: ~"@{color-negative-@{i}}" !important; }
    .bg-positive-@{i}  { background: ~"@{color-positive-@{i}}" !important; }
    .bg-primary-@{i}   { background: ~"@{color-primary-@{i}}" !important; }

    // additional background colors

    .bg-blue-@{i} when (@fullColorPalette = true)   { background: ~"@{color-blue-@{i}}" !important; }
    .bg-gray-@{i} when (@fullColorPalette = true)   { background: ~"@{color-gray-@{i}}" !important; }
    .bg-green-@{i} when (@fullColorPalette = true)  { background: ~"@{color-green-@{i}}" !important; }
    .bg-purple-@{i} when (@fullColorPalette = true) { background: ~"@{color-purple-@{i}}" !important; }
    .bg-red-@{i} when (@fullColorPalette = true)    { background: ~"@{color-red-@{i}}" !important; }
    .bg-yellow-@{i} when (@fullColorPalette = true) { background: ~"@{color-yellow-@{i}}" !important; }

    // semantic border colors

    .bc-attention-@{i} { border-color: ~"@{color-attention-@{i}}" !important; }
    .bc-base-@{i}      { border-color: ~"@{color-base-@{i}}" !important; }
    .bc-negative-@{i}  { border-color: ~"@{color-negative-@{i}}" !important; }
    .bc-positive-@{i}  { border-color: ~"@{color-positive-@{i}}" !important; }
    .bc-primary-@{i}   { border-color: ~"@{color-primary-@{i}}" !important; }

    // additional border colors

    .bc-blue-@{i} when (@fullColorPalette = true)   { border-color: ~"@{color-blue-@{i}}" !important; }
    .bc-gray-@{i} when (@fullColorPalette = true)   { border-color: ~"@{color-gray-@{i}}" !important; }
    .bc-green-@{i} when (@fullColorPalette = true)  { border-color: ~"@{color-green-@{i}}" !important; }
    .bc-purple-@{i} when (@fullColorPalette = true) { border-color: ~"@{color-purple-@{i}}" !important; }
    .bc-red-@{i} when (@fullColorPalette = true)    { border-color: ~"@{color-red-@{i}}" !important; }
    .bc-yellow-@{i} when (@fullColorPalette = true) { border-color: ~"@{color-yellow-@{i}}" !important; }

    // semantic text colors

    .c-attention-@{i} { color: ~"@{color-attention-@{i}}" !important; }
    .c-base-@{i}      { color: ~"@{color-base-@{i}}" !important; }
    .c-negative-@{i}  { color: ~"@{color-negative-@{i}}" !important; }
    .c-positive-@{i}  { color: ~"@{color-positive-@{i}}" !important; }
    .c-primary-@{i}   { color: ~"@{color-primary-@{i}}" !important; }

    // additional text colors

    .c-blue-@{i} when (@fullColorPalette = true)   { color: ~"@{color-blue-@{i}}" !important; }
    .c-gray-@{i} when (@fullColorPalette = true)   { color: ~"@{color-gray-@{i}}" !important; }
    .c-green-@{i} when (@fullColorPalette = true)  { color: ~"@{color-green-@{i}}" !important; }
    .c-purple-@{i} when (@fullColorPalette = true) { color: ~"@{color-purple-@{i}}" !important; }
    .c-red-@{i} when (@fullColorPalette = true)    { color: ~"@{color-red-@{i}}" !important; }
    .c-yellow-@{i} when (@fullColorPalette = true) { color: ~"@{color-yellow-@{i}}" !important; }

}
.generate_colors(25);

// achromatic background colors

.bg-transparent { background: @color-transparent !important; }
.bg-white       { background: @color-white !important; }

// achromatic border colors

.bc-transparent { border-color: @color-transparent !important; }
.bc-white       { border-color: @color-white !important; }

// achromatic text colors

.c-transparent { color: @color-transparent !important; }
.c-white       { color: @color-white !important; }
