/** cursor */

.crs-alias        { cursor: alias !important; }
.crs-allscroll    { cursor: all-scroll !important; }
.crs-auto         { cursor: auto !important; }
.crs-cell         { cursor: cell !important; }
.crs-contextmenu  { cursor: context-menu !important; }
.crs-copy         { cursor: copy !important; }
.crs-crosshair    { cursor: crosshair !important; }
.crs-default      { cursor: default !important; }
.crs-eresize      { cursor: e-resize !important; }
.crs-ewresize     { cursor: ew-resize !important; }
.crs-grabbing     { cursor: grabbing !important; }
.crs-grab         { cursor: grab !important; }
.crs-move         { cursor: move !important; }
.crs-notallowed   { cursor: not-allowed !important; }
.crs-nodrop       { cursor: no-drop !important; }
.crs-neresize     { cursor: ne-resize !important; }
.crs-neswresize   { cursor: nesw-resize !important; }
.crs-none         { cursor: none !important; }
.crs-nresize      { cursor: n-resize !important; }
.crs-nsresize     { cursor: ns-resize !important; }
.crs-nwresize     { cursor: nw-resize !important; }
.crs-nwseresize   { cursor: nwse-resize !important; }
.crs-pointer      { cursor: pointer !important; }
.crs-progress     { cursor: progress !important; }
.crs-resize       { cursor: resize !important; }
.crs-rowresize    { cursor: row-resize !important; }
.crs-seresize     { cursor: se-resize !important; }
.crs-sresize      { cursor: s-resize !important; }
.crs-swresize     { cursor: sw-resize !important; }
.crs-text         { cursor: text !important; }
.crs-verticaltext { cursor: vertical-text !important; }
.crs-wait         { cursor: wait !important; }
.crs-wresize      { cursor: w-resize !important; }
.crs-zoomin       { cursor: zoom-in !important; }
.crs-zoomout      { cursor: zoom-out !important; }