/** cursor */

.crsr-alias        { cursor: alias !important; }
.crsr-allscroll    { cursor: all-scroll !important; }
.crsr-auto         { cursor: auto !important; }
.crsr-cell         { cursor: cell !important; }
.crsr-contextmenu  { cursor: context-menu !important; }
.crsr-copy         { cursor: copy !important; }
.crsr-crosshair    { cursor: crosshair !important; }
.crsr-default      { cursor: default !important; }
.crsr-eresize      { cursor: e-resize !important; }
.crsr-ewresize     { cursor: ew-resize !important; }
.crsr-grabbing     { cursor: grabbing !important; }
.crsr-grab         { cursor: grab !important; }
.crsr-move         { cursor: move !important; }
.crsr-notallowed   { cursor: not-allowed !important; }
.crsr-nodrop       { cursor: no-drop !important; }
.crsr-neresize     { cursor: ne-resize !important; }
.crsr-neswresize   { cursor: nesw-resize !important; }
.crsr-none         { cursor: none !important; }
.crsr-nresize      { cursor: n-resize !important; }
.crsr-nsresize     { cursor: ns-resize !important; }
.crsr-nwresize     { cursor: nw-resize !important; }
.crsr-nwseresize   { cursor: nwse-resize !important; }
.crsr-pointer      { cursor: pointer !important; }
.crsr-progress     { cursor: progress !important; }
.crsr-resize       { cursor: resize !important; }
.crsr-rowresize    { cursor: row-resize !important; }
.crsr-seresize     { cursor: se-resize !important; }
.crsr-sresize      { cursor: s-resize !important; }
.crsr-swresize     { cursor: sw-resize !important; }
.crsr-text         { cursor: text !important; }
.crsr-verticaltext { cursor: vertical-text !important; }
.crsr-wait         { cursor: wait !important; }
.crsr-wresize      { cursor: w-resize !important; }
.crsr-zoomin       { cursor: zoom-in !important; }
.crsr-zoomout      { cursor: zoom-out !important; }