/** fx.less */

// initial values
// ==============

[class*='fx-'] {
    animation-duration: 1s * @animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

[class*='fx-'][class*='-initial'] {
    transform: translate3d(0, 0, 1px);
}

[class*='fx-'][class*='-in-'][class*='-initial'] {
    opacity: 0;
}

[class*='fx-'][class*='-out-'][class*='-initial'] {
    opacity: 1;
}

[class*='fx-scale-up'].fx-scale-up-initial {
    opacity: 0;
    transform: scale(0);
}

[class*='fx-scale-down'].fx-scale-down-initial {
    opacity: 1;
    transform: scale(1);
}

// individual fx classes
// =====================

// fade

.fx-fade-in,
.fx-fade-out {
    animation-duration: 1.5s * @animationDuration;
    animation-timing-function: linear;
}

.fx-fade-in { animation-name: yoi-fade-in; }
.fx-fade-out { animation-name: yoi-fade-out; }

// scale

.fx-scale-up { animation-name: yoi-scale-up; }
.fx-scale-down { animation-name: yoi-scale-down; }
.fx-scale-up-y { animation-name: yoi-scale-up-y; }
.fx-scale-down-y { animation-name: yoi-scale-down-y; }

// slide

.fx-slide-in-top { animation-name: yoi-slide-in-top; }
.fx-slide-out-top { animation-name: yoi-slide-out-top; }
.fx-slide-in-bottom { animation-name: yoi-slide-in-bottom; }
.fx-slide-out-bottom { animation-name: yoi-slide-out-bottom; }
.fx-slide-in-left { animation-name: yoi-slide-in-left; }
.fx-slide-out-left { animation-name: yoi-slide-out-left; }
.fx-slide-in-right { animation-name: yoi-slide-in-right; }
.fx-slide-out-right { animation-name: yoi-slide-out-right; }

// shake

.fx-shake { animation-name: yoi-shake; }

// fx modifiers
// ============

.fx-fast { animation-duration: 0.5s * @animationDuration; }
.fx-slow { animation-duration: 3s * @animationDuration; }
.fx-off { animation-name: none !important; }

// keyframes
// =========

// fade

@keyframes yoi-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes yoi-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// scale

@keyframes yoi-scale-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes yoi-scale-down {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes yoi-scale-up-y {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes yoi-scale-down-y {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

// slide

@keyframes yoi-slide-in-top {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 1px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
}

@keyframes yoi-slide-out-top {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 1px);
    }
}

@keyframes yoi-slide-in-bottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 1px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
}

@keyframes yoi-slide-out-bottom {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 1px);
    }
}

@keyframes yoi-slide-in-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 1px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
}

@keyframes yoi-slide-out-left {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
    100% {
        opacity: 0;
        transform: translate3d(-100%, 0, 1px);
    }
}

@keyframes yoi-slide-in-right {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 1px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
}

@keyframes yoi-slide-out-right {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 1px);
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 1px);
    }
}

// shake

@keyframes yoi-shake {
    0%, 100% { transform: translateX(0); }
    10%      { transform: translateX(-.9rem); }
    20%      { transform: translateX(.8rem); }
    30%      { transform: translateX(-.7rem); }
    40%      { transform: translateX(.6rem); }
    50%      { transform: translateX(-.5rem); }
    60%      { transform: translateX(.4rem); }
    70%      { transform: translateX(-.3rem); }
    80%      { transform: translateX(.2rem); }
    90%      { transform: translateX(-.1rem); }
}