/** fx.less */

// settings
// ========

@animation-duration: 0.5;

// initial values
// ==============

[class*='@{utilityPrefix}fx-'] {
    animation-duration: 1s * @animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

[class*='@{utilityPrefix}fx-'][class*='-initial'] {
    transform: perspective(none) translate3d(0, 0, 0) rotate3d(1, 0, 0, 90deg);
}

[class*='@{utilityPrefix}fx-'][class*='-in-'][class*='-initial'] {
    opacity: 0;
}

[class*='@{utilityPrefix}fx-'][class*='-out-'][class*='-initial'] {
    opacity: 1;
}

[class*='@{utilityPrefix}fx-'].@{utilityPrefix}fx-scale-up-initial {
    transform: scale(0);
}

[class*='fx-'].@{utilityPrefix}fx-scale-down-initial {
    transform: scale(2);
}

// fx modifiers
// ============

// duration

.@{utilityPrefix}fx-fast {
    animation-duration: 0.5s * @animation-duration;
}

.@{utilityPrefix}fx-slow {
    animation-duration: 2s * @animation-duration;
}

// off

.@{utilityPrefix}fx-off {
    animation-name: none !important;
}

// individual fx classes
// =====================

// fade

.@{utilityPrefix}fx-fade-in,
.@{utilityPrefix}fx-fade-out {
    animation-duration: 1.5s * @animation-duration;
    animation-timing-function: linear;
}

.@{utilityPrefix}fx-fade-in {
    animation-name: yoi-fade-in;
}

.@{utilityPrefix}fx-fade-out {
    animation-name: yoi-fade-out;
}

// scale

.@{utilityPrefix}fx-scale-up {
    animation-name: yoi-scale-up;
}

.@{utilityPrefix}fx-scale-down {
    animation-name: yoi-scale-down;
}

// slide

.@{utilityPrefix}fx-slide-in-top {
    animation-name: yoi-slide-in-top;
}

.@{utilityPrefix}fx-slide-out-top {
    animation-name: yoi-slide-out-top;
}

.@{utilityPrefix}fx-slide-in-bottom {
    animation-name: yoi-slide-in-bottom;
}

.@{utilityPrefix}fx-slide-out-bottom {
    animation-name: yoi-slide-out-bottom;
}

.@{utilityPrefix}fx-slide-in-left {
    animation-name: yoi-slide-in-left;
}

.@{utilityPrefix}fx-slide-out-left {
    animation-name: yoi-slide-out-left;
}

.@{utilityPrefix}fx-slide-in-right {
    animation-name: yoi-slide-in-right;
}

.@{utilityPrefix}fx-slide-out-right {
    animation-name: yoi-slide-out-right;
}

// flip

[class*='@{utilityPrefix}fx-flip'] {
    backface-visibility: visible !important;
}

.@{utilityPrefix}fx-flip-in-x {
    animation-name: yoi-flip-in-x;
}

.@{utilityPrefix}fx-flip-out-x {
    animation-name: yoi-flip-out-x;
}

.@{utilityPrefix}fx-flip-in-y {
    animation-name: yoi-flip-in-y;
}

.@{utilityPrefix}fx-flip-out-y {
    animation-name: yoi-flip-out-y;
}

// shake

.@{utilityPrefix}fx-shake {
    animation-name: yoi-shake;
}

// pulse

.@{utilityPrefix}fx-pulse {
    animation-name: yoi-pulse;
}

// keyframes
// =========

// fade

@keyframes yoi-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes yoi-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// scale

@keyframes yoi-scale-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes yoi-scale-down {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// slide

@keyframes yoi-slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes yoi-slide-out-top {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes yoi-slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes yoi-slide-out-bottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {

        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes yoi-slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes yoi-slide-out-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes yoi-slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes yoi-slide-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

// flip

@keyframes yoi-flip-in-x {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }
    40% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    }
    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}

@keyframes yoi-flip-out-x {
    0% {
        transform: perspective(400px);
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    }
    100% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }
}

@keyframes yoi-flip-in-y {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }
    40% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}

@keyframes yoi-flip-out-y {
    0% {
        transform: perspective(400px);
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }
    100% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }
}

// shake

@keyframes yoi-shake {
    0%, 100% { transform: translateX(0); }
    10% { transform: translateX(-.9rem); }
    20% { transform: translateX(.8rem); }
    30% { transform: translateX(-.7rem); }
    40% { transform: translateX(.6rem); }
    50% { transform: translateX(-.5rem); }
    60% { transform: translateX(.4rem); }
    70% { transform: translateX(-.3rem); }
    80% { transform: translateX(.2rem); }
    90% { transform: translateX(-.1rem); }
}

// pulse

@keyframes yoi-pulse {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}