/** gradient.less */

.@{utilityPrefix}gradient-t::after,
.@{utilityPrefix}gradient-r::after,
.@{utilityPrefix}gradient-b::after,
.@{utilityPrefix}gradient-l::after {
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.@{utilityPrefix}gradient-t::after { background: linear-gradient(fade(@color-main-5, 30%), @color-transparent); }
.@{utilityPrefix}gradient-r::after { background: linear-gradient(270deg, fade(@color-main-5, 30%), @color-transparent); }
.@{utilityPrefix}gradient-b::after { background: linear-gradient(@color-transparent, fade(@color-main-5, 30%)); }
.@{utilityPrefix}gradient-l::after { background: linear-gradient(90deg, fade(@color-main-5, 30%), @color-transparent); }