/** gradient.less */

.gradient-t::after,
.gradient-r::after,
.gradient-b::after,
.gradient-l::after {
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.gradient-t::after { background: linear-gradient(fade(@color-base-5, 30%), @color-transparent); }
.gradient-r::after { background: linear-gradient(270deg, fade(@color-base-5, 30%), @color-transparent); }
.gradient-b::after { background: linear-gradient(@color-transparent, fade(@color-base-5, 30%)); }
.gradient-l::after { background: linear-gradient(90deg, fade(@color-base-5, 30%), @color-transparent); }