/** grid-responsive.less */

// float-grid
// =======================

/*
    Since the .floatGrid is simple setting floats
    to the width-utility-classes (see sizing.less & responsive-sizing.less),
    it's already responsive.
*/

// flexbox-grid
// ============

.responsive-flexGrid(@bpPrefix) {
    
    // flex layout

    .@{utilityPrefix}@{bpPrefix}--flex-wrap                   { flex-wrap: wrap !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-noWrap                 { flex-wrap: nowrap !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-wrapReverse            { flex-wrap: wrap-reverse !important; }
                              
    .@{utilityPrefix}@{bpPrefix}--flex-directionRow           { flex-direction: row !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-directionRowReverse    { flex-direction: row-reverse !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-directionColumn        { flex-direction: column !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-directionColumnReverse { flex-direction: column-reverse !important; }

    .@{utilityPrefix}@{bpPrefix}--flex-alignStart { align-items: flex-start !important; }

    .@{utilityPrefix}@{bpPrefix}--flex-alignEnd { align-items: flex-end !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignEnd {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            vertical-align: bottom !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-alignCenter { align-items: center !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignCenter {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            vertical-align: middle !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-alignBaseline { align-items: baseline !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignBaseline {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            vertical-align: baseline !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-aligncontentStart { align-content: flex-start !important; }

    .@{utilityPrefix}@{bpPrefix}--flex-alignContentEnd { align-content: flex-end !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignContentEnd {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            vertical-align: bottom !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-alignContentCenter        { align-content: center !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignContentSpaceBetween  { align-content: space-between !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignContentSpaceAround   { align-content: space-around !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignSelfStretch          { align-self: stretch !important; }
    .@{utilityPrefix}@{bpPrefix}--flex-alignSelfStart            { align-self: flex-start !important; }

    .@{utilityPrefix}@{bpPrefix}--flex-alignSelfEnd {
      align-self: flex-end !important;
      vertical-align: bottom !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-alignSelfCenter {
      align-self: center !important;
      vertical-align: middle !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-alignSelfBaseline {
      align-self: baseline !important;
      vertical-align: baseline !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifyStart {
      text-align: left !important;
      justify-content: flex-start !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifyEnd {
      text-align: right !important;
      text-align-last: right !important;
      justify-content: flex-end !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifyEnd {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            text-align: left !important;
            text-align: start !important;
            text-align: initial !important;
            text-align-last: left !important;
            text-align-last: start !important;
            text-align-last: initial !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifyCenter {
      text-align: center !important;
      text-align-last: center !important;
      justify-content: center !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifyCenter {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            text-align: left !important;
            text-align: start !important;
            text-align: initial !important;
            text-align-last: left !important;
            text-align-last: start !important;
            text-align-last: initial !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifySpaceBetween {
      text-align: justify !important;
      text-align-last: justify !important;
      justify-content: space-between !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifySpaceBetween {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            text-align: left !important;
            text-align: start !important;
            text-align: initial !important;
            text-align-last: left !important;
            text-align-last: start !important;
            text-align-last: initial !important;
        }
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifySpaceAround {
      text-align: justify !important;
      text-align-last: justify !important;
      justify-content: space-around !important;
    }

    .@{utilityPrefix}@{bpPrefix}--flex-justifySpaceAround {
        [class*="w-1-"],
        [class*="w-2-"],
        [class*="w-3-"],
        [class*="w-4-"],
        [class*="w-5-"] {
            text-align: left !important;
            text-align: start !important;
            text-align: initial !important;
            text-align-last: left !important;
            text-align-last: start !important;
            text-align-last: initial !important;
        }
    }

    // flex order

    .@{utilityPrefix}@{bpPrefix}--flex-1  { order: 1; }
    .@{utilityPrefix}@{bpPrefix}--flex-2  { order: 2; }
    .@{utilityPrefix}@{bpPrefix}--flex-3  { order: 3; }
    .@{utilityPrefix}@{bpPrefix}--flex-4  { order: 4; }
    .@{utilityPrefix}@{bpPrefix}--flex-5  { order: 5; }
    .@{utilityPrefix}@{bpPrefix}--flex-6  { order: 6; }
    .@{utilityPrefix}@{bpPrefix}--flex-7  { order: 7; }
    .@{utilityPrefix}@{bpPrefix}--flex-8  { order: 8; }
    .@{utilityPrefix}@{bpPrefix}--flex-9  { order: 9; }
    .@{utilityPrefix}@{bpPrefix}--flex-10 { order: 10; }

}

// small

@media @bp-only-s { .responsive-flexGrid(only-s); }

// medium

@media @bp-m { .responsive-flexGrid(m); }
@media @bp-only-m { .responsive-flexGrid(only-m); }

// large

@media @bp-l { .responsive-flexGrid(l); }
@media @bp-only-l { .responsive-flexGrid(only-l); }

// x-large

@media @bp-xl { .responsive-flexGrid(xl); }
