/** grid-base.less */

/*
    Learn more about flexbox:
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/

    Learn about known flexbox bugs:
    https://github.com/philipwalton/flexbugs
*/

.flx {

    display: flex !important;
    flex-wrap: wrap !important;

    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        display: flex !important;
        flex-direction: column !important;
    }
    
}

// flex layout

.flx                        { display: flex !important; }
.flx-wrap                   { flex-wrap: wrap !important; }
.flx-noWrap                 { flex-wrap: nowrap !important; }
.flx-wrapReverse            { flex-wrap: wrap-reverse !important; }
                              
.flx-directionRow           { flex-direction: row !important; }
.flx-directionRowReverse    { flex-direction: row-reverse !important; }
.flx-directionColumn        { flex-direction: column !important; }
.flx-directionColumnReverse { flex-direction: column-reverse !important; }

.flx-alignStart { align-items: flex-start !important; }

.flx-alignEnd {
    
    align-items: flex-end !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: bottom !important;
    }
    
}

.flx-alignCenter {
    
    align-items: center !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: middle !important;
    }
    
}

.flx-alignBaseline {
    
    align-items: baseline !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: baseline !important;
    }
    
}

.flx-alignContentStart { align-content: flex-start !important; }

.flx-alignContentEnd {
    
    align-content: flex-end !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: bottom !important;
    }
    
}

.flx-alignContentCenter        { align-content: center !important; }
.flx-alignContentSpaceBetween  { align-content: space-between !important; }
.flx-alignContentSpaceAround   { align-content: space-around !important; }
.flx-alignSelfStretch          { align-self: stretch !important; }
.flx-alignSelfStart            { align-self: flex-start !important; }

.flx-alignSelfEnd {
    align-self: flex-end !important;
    vertical-align: bottom !important;
}

.flx-alignSelfCenter {
    align-self: center !important;
    vertical-align: middle !important;
}

.flx-alignSelfBaseline {
    align-self: baseline !important;
    vertical-align: baseline !important;
}

.flx-justifyStart {
    text-align: left !important;
    justify-content: flex-start !important;
}

.flx-justifyEnd {
    
    text-align: right !important;
    text-align-last: right !important;
    justify-content: flex-end !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
    
}


.flx-justifyCenter {
    
    text-align: center !important;
    text-align-last: center !important;
    justify-content: center !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
    
}

.flx-justifySpaceBetween {
    
    text-align: justify !important;
    text-align-last: justify !important;
    justify-content: space-between !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

.flx-justifySpaceAround {
    
    text-align: justify !important;
    text-align-last: justify !important;
    justify-content: space-around !important;
    
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

// flex order

.flx-1  { order: 1; }
.flx-2  { order: 2; }
.flx-3  { order: 3; }
.flx-4  { order: 4; }
.flx-5  { order: 5; }
.flx-6  { order: 6; }
.flx-7  { order: 7; }
.flx-8  { order: 8; }
.flx-9  { order: 9; }
.flx-10 { order: 10; }
