/** grid-base.less */

// simple float-based grid
// =======================

.@{utilityPrefix}floatGrid {

    .mixin-clearfix;
    box-sizing: border-box !important;
    
    [class*="w-1-1"] {
        .mixin-clearfix;
    }

    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        float: left !important;
    }

}

// more complex flexbox-based grid system
// ======================================

/*
    Learn more about flexbox:
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/

    Learn about known flexbox bugs:
    https://github.com/philipwalton/flexbugs
*/

.@{utilityPrefix}flexGrid {

    display: flex !important;
    flex-wrap: wrap !important;

    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        display: flex !important;
        flex-direction: column !important;
    }
    
}

// flex layout

.@{utilityPrefix}flex-wrap                   { flex-wrap: wrap !important; }
.@{utilityPrefix}flex-noWrap                 { flex-wrap: nowrap !important; }
.@{utilityPrefix}flex-wrapReverse            { flex-wrap: wrap-reverse !important; }
                              
.@{utilityPrefix}flex-directionRow           { flex-direction: row !important; }
.@{utilityPrefix}flex-directionRowReverse    { flex-direction: row-reverse !important; }
.@{utilityPrefix}flex-directionColumn        { flex-direction: column !important; }
.@{utilityPrefix}flex-directionColumnReverse { flex-direction: column-reverse !important; }

.@{utilityPrefix}flex-alignStart { align-items: flex-start !important; }

.@{utilityPrefix}flex-alignEnd { align-items: flex-end !important; }
.@{utilityPrefix}flex-alignEnd {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: bottom !important;
    }
}

.@{utilityPrefix}flex-alignCenter { align-items: center !important; }
.@{utilityPrefix}flex-alignCenter {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: middle !important;
    }
}

.@{utilityPrefix}flex-alignBaseline { align-items: baseline !important; }
.@{utilityPrefix}flex-alignBaseline {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: baseline !important;
    }
}

.@{utilityPrefix}flex-alignContentStart { align-content: flex-start !important; }

.@{utilityPrefix}flex-alignContentEnd { align-content: flex-end !important; }
.@{utilityPrefix}flex-alignContentEnd {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        vertical-align: bottom !important;
    }
}

.@{utilityPrefix}flex-alignContentCenter        { align-content: center !important; }
.@{utilityPrefix}flex-alignContentSpaceBetween  { align-content: space-between !important; }
.@{utilityPrefix}flex-alignContentSpaceAround   { align-content: space-around !important; }
.@{utilityPrefix}flex-alignSelfStretch          { align-self: stretch !important; }
.@{utilityPrefix}flex-alignSelfStart            { align-self: flex-start !important; }

.@{utilityPrefix}flex-alignSelfEnd {
  align-self: flex-end !important;
  vertical-align: bottom !important;
}

.@{utilityPrefix}flex-alignSelfCenter {
  align-self: center !important;
  vertical-align: middle !important;
}

.@{utilityPrefix}flex-alignSelfBaseline {
  align-self: baseline !important;
  vertical-align: baseline !important;
}

.@{utilityPrefix}flex-justifyStart {
  text-align: left !important;
  justify-content: flex-start !important;
}

.@{utilityPrefix}flex-justifyEnd {
  text-align: right !important;
  text-align-last: right !important;
  justify-content: flex-end !important;
}

.@{utilityPrefix}flex-justifyEnd {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

.@{utilityPrefix}flex-justifyCenter {
  text-align: center !important;
  text-align-last: center !important;
  justify-content: center !important;
}

.@{utilityPrefix}flex-justifyCenter {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

.@{utilityPrefix}flex-justifySpaceBetween {
  text-align: justify !important;
  text-align-last: justify !important;
  justify-content: space-between !important;
}

.@{utilityPrefix}flex-justifySpaceBetween {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

.@{utilityPrefix}flex-justifySpaceAround {
  text-align: justify !important;
  text-align-last: justify !important;
  justify-content: space-around !important;
}

.@{utilityPrefix}flex-justifySpaceAround {
    [class*="w-1-"],
    [class*="w-2-"],
    [class*="w-3-"],
    [class*="w-4-"],
    [class*="w-5-"] {
        text-align: left !important;
        text-align: start !important;
        text-align: initial !important;
        text-align-last: left !important;
        text-align-last: start !important;
        text-align-last: initial !important;
    }
}

// flex order

.@{utilityPrefix}flex-1  { order: 1; }
.@{utilityPrefix}flex-2  { order: 2; }
.@{utilityPrefix}flex-3  { order: 3; }
.@{utilityPrefix}flex-4  { order: 4; }
.@{utilityPrefix}flex-5  { order: 5; }
.@{utilityPrefix}flex-6  { order: 6; }
.@{utilityPrefix}flex-7  { order: 7; }
.@{utilityPrefix}flex-8  { order: 8; }
.@{utilityPrefix}flex-9  { order: 9; }
.@{utilityPrefix}flex-10 { order: 10; }
