/** interface.less */

// text selection

.slt-none { .mixin-userSelectNone !important; }

// pointer events

.ptr-auto { pointer-events: auto !important; }
.ptr-none { pointer-events: none !important; }

// scroll

.scr-x,
.scr-y {
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
}

.scr-x { overflow-x: auto !important; }
.scr-y { overflow-y: auto !important; }

// focus

.focus          { .mixin-defaultFocus !important; }
.tabFocus       { .mixin-tabFocus !important; }
.tabFocus-inset { .mixin-tabFocus-inset !important; }