/** interface.less */

// text selection

.@{utilityPrefix}slct-none { .mixin-userSelectNone !important; }

// pointer events

.@{utilityPrefix}pntr-auto { pointer-events: auto !important; }
.@{utilityPrefix}pntr-none { pointer-events: none !important; }

// scroll

.@{utilityPrefix}scrl-x { overflow: hidden !important; overflow-x: auto !important; }
.@{utilityPrefix}scrl-y { overflow: hidden !important; overflow-y: auto !important; }

// focus

.@{utilityPrefix}focus          { .mixin-defaultFocus !important; }
.@{utilityPrefix}tabFocus       { .mixin-tabFocus !important; }
.@{utilityPrefix}tabFocus-inset { .mixin-tabFocus-inset !important; }