/** interface.less */

// text selection

.slct-none { .mixin-userSelectNone !important; }

// pointer events

.pntr-auto { pointer-events: auto !important; }
.pntr-none { pointer-events: none !important; }

// scroll

.scrl-x { overflow: hidden !important; overflow-x: auto !important; }
.scrl-y { overflow: hidden !important; overflow-y: auto !important; }

// focus

.focus          { .mixin-defaultFocus !important; }
.tabFocus       { .mixin-tabFocus !important; }
.tabFocus-inset { .mixin-tabFocus-inset !important; }