/** layout-responsive.less */

// "contructor"

.responsive-layout(@bpPrefix) {
    
    // display

    .@{bpPrefix}--d-inl    { .d-inl; }
    .@{bpPrefix}--d-blk    { .d-blk; }
    .@{bpPrefix}--d-inlblk { .d-inlblk; }

    // position type

    .@{bpPrefix}--pos-abs  { .pos-abs; }
    .@{bpPrefix}--pos-rel  { .pos-rel; }
    .@{bpPrefix}--pos-fix  { .pos-fix; }
    .@{bpPrefix}--pos-stc  { .pos-stc; }

    // absolute positioning

    .@{bpPrefix}--pos-t    { .pos-t;  }
    .@{bpPrefix}--pos-r    { .pos-r;  }
    .@{bpPrefix}--pos-b    { .pos-b;  }
    .@{bpPrefix}--pos-l    { .pos-l;  }
    .@{bpPrefix}--pos-tl   { .pos-tl; }
    .@{bpPrefix}--pos-tr   { .pos-tr; }
    .@{bpPrefix}--pos-br   { .pos-br; }
    .@{bpPrefix}--pos-bl   { .pos-bl; }
    
    // fixed positioning

    .@{bpPrefix}--pos-fix-t  { .pos-fix-t;  }
    .@{bpPrefix}--pos-fix-r  { .pos-fix-r;  }
    .@{bpPrefix}--pos-fix-b  { .pos-fix-b;  }
    .@{bpPrefix}--pos-fix-l  { .pos-fix-l;  }
    .@{bpPrefix}--pos-fix-tl { .pos-fix-tl; }
    .@{bpPrefix}--pos-fix-tr { .pos-fix-tr; }
    .@{bpPrefix}--pos-fix-br { .pos-fix-br; }
    .@{bpPrefix}--pos-fix-bl { .pos-fix-bl; }

    // position utilities for micro layout fixes

    .generate_pos (@i) when (@i > 0) {
        .generate_pos((@i - 1));

        .@{bpPrefix}--pos-t-@{i} { top: 1px * @i !important; }
        .@{bpPrefix}--pos-r-@{i} { right: 1px * @i !important; }
        .@{bpPrefix}--pos-b-@{i} { bottom: 1px * @i !important; }
        .@{bpPrefix}--pos-l-@{i} { left: 1px * @i !important; }

    }
    .generate_pos(@responsivePositionSteps);
    
    // css columns

    .@{bpPrefix}--cls-2,
    .@{bpPrefix}--cls-3,
    .@{bpPrefix}--cls-4 {
        & > :first-child {
            margin-top: 0 !important;
        }
    }

    .@{bpPrefix}--cls-2 { .cls-2; }
    .@{bpPrefix}--cls-3 { .cls-3; }
    .@{bpPrefix}--cls-4 { .cls-4; }

    // vertical alignment

    .@{bpPrefix}--val-m { .val-m; }
    .@{bpPrefix}--val-t { .val-t; }
    .@{bpPrefix}--val-b { .val-b; }

    // float & clear

    .@{bpPrefix}--fl-r { .fl-r; }
    .@{bpPrefix}--fl-l { .fl-l; }
        
    .@{bpPrefix}--cl-r { .cl-r; }
    .@{bpPrefix}--cl-l { .cl-l; }
    .@{bpPrefix}--cl-b { .cl-b; }

    .@{bpPrefix}--clearfix { .mixin-clearfix !important; }

    // overflow

    .@{bpPrefix}--ovrfl-x-hide  { .ovrfl-x-hidden }
    .@{bpPrefix}--ovrfl-y-hide  { .ovrfl-y-hidden; }
    .@{bpPrefix}--ovrfl-hidden  { .ovrfl-hidden; }
    .@{bpPrefix}--ovrfl-visible { .ovrfl-visible; }

    // z-index

    .@{bpPrefix}--z-1  { .z-1; }
    .@{bpPrefix}--z-2  { .z-2; }
    .@{bpPrefix}--z-3  { .z-3; }
    .@{bpPrefix}--z-4  { .z-4; }
    .@{bpPrefix}--z-5  { .z-5; }
    .@{bpPrefix}--z-6  { .z-6; }
    .@{bpPrefix}--z-7  { .z-7; }
    .@{bpPrefix}--z-8  { .z-8; }
    .@{bpPrefix}--z-9  { .z-9; }
    .@{bpPrefix}--z-10 { .z-10; }
    
}

// small

@media @bp-only-s { .responsive-layout(only-s) }

// medium

@media @bp-m { .responsive-layout(m) }
@media @bp-only-m { .responsive-layout(only-m) }

// large

@media @bp-l { .responsive-layout(l) }
@media @bp-only-l { .responsive-layout(only-l) }

@media @bp-l {
    .center {
        padding: 0 !important;
        width: 96rem !important;
    }
}

// x-large

@media @bp-xl { .responsive-layout(xl) }