/** layout-base.less */

// display

.@{utilityPrefix}d-inl    { display: inline !important; }
.@{utilityPrefix}d-blk    { display: block !important; }
.@{utilityPrefix}d-inlblk { display: inline-block !important; }

// position type

.@{utilityPrefix}pos-abs  { position: absolute !important; }
.@{utilityPrefix}pos-rel  { position: relative !important; }
.@{utilityPrefix}pos-fix  { position: fixed !important; }
.@{utilityPrefix}pos-stc  { position: static !important; }

// absolute positioning

.@{utilityPrefix}pos-t  { position: absolute !important; top: 0 !important; }
.@{utilityPrefix}pos-r  { position: absolute !important; right: 0 !important; }
.@{utilityPrefix}pos-b  { position: absolute !important; bottom: 0 !important; }
.@{utilityPrefix}pos-l  { position: absolute !important; left: 0 !important; }
.@{utilityPrefix}pos-tl { position: absolute !important; top: 0 !important; right: auto !important; bottom: auto !important; left: 0 !important; }
.@{utilityPrefix}pos-tr { position: absolute !important; top: 0 !important; right: 0 !important; bottom: auto !important; left: auto !important; }
.@{utilityPrefix}pos-br { position: absolute !important; top: auto !important; right: 0 !important; bottom: 0 !important; left: auto !important; }
.@{utilityPrefix}pos-bl { position: absolute !important; top: auto !important; right: auto !important; bottom: 0 !important; left: 0 !important; }

// fixed positioning

.@{utilityPrefix}pos-fix-t  { position: fixed !important; top: 0 !important; }
.@{utilityPrefix}pos-fix-r  { position: fixed !important; right: 0 !important; }
.@{utilityPrefix}pos-fix-b  { position: fixed !important; bottom: 0 !important; }
.@{utilityPrefix}pos-fix-l  { position: fixed !important; left: 0 !important; }
.@{utilityPrefix}pos-fix-tl { position: fixed !important; top: 0 !important; right: auto !important; bottom: auto !important; left: 0 !important; }
.@{utilityPrefix}pos-fix-tr { position: fixed !important; top: 0 !important; right: 0 !important; bottom: auto !important; left: auto !important; }
.@{utilityPrefix}pos-fix-br { position: fixed !important; top: auto !important; right: 0 !important; bottom: 0 !important; left: auto !important; }
.@{utilityPrefix}pos-fix-bl { position: fixed !important; top: auto !important; right: auto !important; bottom: 0 !important; left: 0 !important; }

.generate_pos (@i) when (@i > 0) {
    .generate_pos((@i - 1));

    .@{utilityPrefix}pos-t-@{i} { top: 1px * @i !important; }
    .@{utilityPrefix}pos-r-@{i} { right: 1px * @i !important; }
    .@{utilityPrefix}pos-b-@{i} { bottom: 1px * @i !important; }
    .@{utilityPrefix}pos-l-@{i} { left: 1px * @i !important; }

}
.generate_pos(@positionSteps);

// horizontal centering

.@{utilityPrefix}center {
    .mixin-clearfix !important;
    box-sizing: border-box !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
    position: relative !important;
    text-align: left !important;
}

// css columns

.@{utilityPrefix}cls-2,
.@{utilityPrefix}cls-3,
.@{utilityPrefix}cls-4 {
    & > :first-child {
        margin-top: 0 !important;
    }
}

.@{utilityPrefix}cls-2 {
    column-count: 2 !important;
    column-gap: 2rem !important;
    column-rule-color: none !important;
    column-rule-style: none !important;
    column-rule-width: 0 !important;
    column-width: 50% !important;
}

.@{utilityPrefix}cls-3 {
    column-count: 3 !important;
    column-gap: 2rem !important;
    column-rule-color: none !important;
    column-rule-style: none !important;
    column-rule-width: 0 !important;
    column-width: 33.3% !important;
}

.@{utilityPrefix}cls-4 {
    column-count: 4 !important;
    column-gap: 2rem !important;
    column-rule-color: none !important;
    column-rule-style: none !important;
    column-rule-width: 0 !important;
    column-width: 25% !important;
}

// vertical alignment

.@{utilityPrefix}val-m { vertical-align: middle !important; }
.@{utilityPrefix}val-t { vertical-align: top !important; }
.@{utilityPrefix}val-b { vertical-align: bottom !important; }

// float & clear

.@{utilityPrefix}fl-r { float: right !important; }
.@{utilityPrefix}fl-l { float: left !important; }

.@{utilityPrefix}cl-r { clear: right !important; }
.@{utilityPrefix}cl-l { clear: left !important; }
.@{utilityPrefix}cl-b { clear: both !important; }

.@{utilityPrefix}clearfix { .mixin-clearfix !important; }

// overflow

.@{utilityPrefix}ovrfl-x-hidden { overflow-x: hidden !important; }
.@{utilityPrefix}ovrfl-y-hidden { overflow-y: hidden !important; }
.@{utilityPrefix}ovrfl-hidden   { overflow: hidden !important; }
.@{utilityPrefix}ovrfl-visible  { overflow: visible !important; }

// z-index

.@{utilityPrefix}z-1  { z-index: 100 !important; }
.@{utilityPrefix}z-2  { z-index: 200 !important; }
.@{utilityPrefix}z-3  { z-index: 300 !important; }
.@{utilityPrefix}z-4  { z-index: 400 !important; }
.@{utilityPrefix}z-5  { z-index: 500 !important; }
.@{utilityPrefix}z-6  { z-index: 600 !important; }
.@{utilityPrefix}z-7  { z-index: 700 !important; }
.@{utilityPrefix}z-8  { z-index: 800 !important; }
.@{utilityPrefix}z-9  { z-index: 900 !important; }
.@{utilityPrefix}z-10 { z-index: 1000 !important; }
