/** responsive-sizing.less */

// small

@media @bp-from-s {

    // fractional width

    .small-w-1-1,
    .small-w-1-2,
    .small-w-1-3,
    .small-w-1-4,
    .small-w-1-5,
    .small-w-1-6,
    .small-w-2-3,
    .small-w-2-5,
    .small-w-3-4,
    .small-w-3-5,
    .small-w-4-5,
    .small-w-auto {
        .mixin-clearfix;
        box-sizing: border-box;
    }

    .small-w-1-1 { width: 100%; }
    .small-w-1-2 { width: 50%; }
    .small-w-1-3 { width: 33.33%; }
    .small-w-1-4 { width: 25%; }
    .small-w-1-5 { width: 20%; }
    .small-w-1-6 { width: 16.67%; }
    .small-w-2-3 { width: 66.67%; }
    .small-w-2-5 { width: 40%; }
    .small-w-3-4 { width: 75%; }
    .small-w-3-5 { width: 60%; }
    .small-w-4-5 { width: 80%; }

    // auto width

    .small-w-auto { width: auto; }

    // fixed width & height

    .generate_width_height (@i) when (@i > 0) {
        .generate_width_height((@i - 1));
        .small-w-@{i} { width:  1rem * @i !important; }
        .small-h-@{i} { height: 1rem * @i !important; }
    }
    .generate_width_height(60);

}

// medium

@media @bp-from-m {

    // fractional width

    .medium-w-1-1,
    .medium-w-1-2,
    .medium-w-1-3,
    .medium-w-1-4,
    .medium-w-1-5,
    .medium-w-1-6,
    .medium-w-2-3,
    .medium-w-2-5,
    .medium-w-3-4,
    .medium-w-3-5,
    .medium-w-4-5,
    .medium-w-auto {
        .mixin-clearfix;
        box-sizing: border-box;
    }

    .medium-w-1-1 { width: 100%; }
    .medium-w-1-2 { width: 50%; }
    .medium-w-1-3 { width: 33.33%; }
    .medium-w-1-4 { width: 25%; }
    .medium-w-1-5 { width: 20%; }
    .medium-w-1-6 { width: 16.67%; }
    .medium-w-2-3 { width: 66.67%; }
    .medium-w-2-5 { width: 40%; }
    .medium-w-3-4 { width: 75%; }
    .medium-w-3-5 { width: 60%; }
    .medium-w-4-5 { width: 80%; }

    // auto width

    .medium-w-auto { width: auto; }

    // fixed width & height

    .generate_width_height (@i) when (@i > 0) {
        .generate_width_height((@i - 1));
        .medium-w-@{i} { width:  1rem * @i !important; }
        .medium-h-@{i} { height: 1rem * @i !important; }
    }
    .generate_width_height(60);

}

// large

@media @bp-from-l {
    
    // fractional width

    .large-w-1-1,
    .large-w-1-2,
    .large-w-1-3,
    .large-w-1-4,
    .large-w-1-5,
    .large-w-1-6,
    .large-w-2-3,
    .large-w-2-5,
    .large-w-3-4,
    .large-w-3-5,
    .large-w-4-5,
    .large-w-auto {
        .mixin-clearfix;
        box-sizing: border-box;
    }

    .large-w-1-1 { width: 100%; }
    .large-w-1-2 { width: 50%; }
    .large-w-1-3 { width: 33.33%; }
    .large-w-1-4 { width: 25%; }
    .large-w-1-5 { width: 20%; }
    .large-w-1-6 { width: 16.67%; }
    .large-w-2-3 { width: 66.67%; }
    .large-w-2-5 { width: 40%; }
    .large-w-3-4 { width: 75%; }
    .large-w-3-5 { width: 60%; }
    .large-w-4-5 { width: 80%; }

    // auto width

    .large-w-auto { width: auto; }

    // fixed width & height

    .generate_width_height (@i) when (@i > 0) {
        .generate_width_height((@i - 1));
        .large-w-@{i} { width:  1rem * @i !important; }
        .large-h-@{i} { height: 1rem * @i !important; }
    }
    .generate_width_height(60);

}

// x-large

@media @bp-from-xl {

    // fractional width

    .xlarge-w-1-1,
    .xlarge-w-1-2,
    .xlarge-w-1-3,
    .xlarge-w-1-4,
    .xlarge-w-1-5,
    .xlarge-w-1-6,
    .xlarge-w-2-3,
    .xlarge-w-2-5,
    .xlarge-w-3-4,
    .xlarge-w-3-5,
    .xlarge-w-4-5,
    .xlarge-w-auto {
        .mixin-clearfix;
        box-sizing: border-box;
    }

    .xlarge-w-1-1 { width: 100%; }
    .xlarge-w-1-2 { width: 50%; }
    .xlarge-w-1-3 { width: 33.33%; }
    .xlarge-w-1-4 { width: 25%; }
    .xlarge-w-1-5 { width: 20%; }
    .xlarge-w-1-6 { width: 16.67%; }
    .xlarge-w-2-3 { width: 66.67%; }
    .xlarge-w-2-5 { width: 40%; }
    .xlarge-w-3-4 { width: 75%; }
    .xlarge-w-3-5 { width: 60%; }
    .xlarge-w-4-5 { width: 80%; }

    // auto width

    .xlarge-w-auto { width: auto; }

    // fixed width & height

    .generate_width_height (@i) when (@i > 0) {

        .generate_width_height((@i - 1));

        .xlarge-w-@{i} { width:  1rem * @i !important; }
        .xlarge-h-@{i} { height: 1rem * @i !important; }

    }
    .generate_width_height(60);

}
