/** sizing-responsive.less */

// "contructor"

.responsive-sizing(@bpPrefix) {

    // fractional width

    .@{bpPrefix}--w-1-1,
    .@{bpPrefix}--w-1-2,
    .@{bpPrefix}--w-1-3,
    .@{bpPrefix}--w-1-4,
    .@{bpPrefix}--w-1-5,
    .@{bpPrefix}--w-1-6,
    .@{bpPrefix}--w-2-3,
    .@{bpPrefix}--w-2-5,
    .@{bpPrefix}--w-3-4,
    .@{bpPrefix}--w-3-5,
    .@{bpPrefix}--w-4-5,
    .@{bpPrefix}--w-auto {
        box-sizing: border-box !important;
    }

    .@{bpPrefix}--w-1-1 { .w-1-1; }
    .@{bpPrefix}--w-1-2 { .w-1-2; }
    .@{bpPrefix}--w-1-3 { .w-1-3; }
    .@{bpPrefix}--w-1-4 { .w-1-4; }
    .@{bpPrefix}--w-1-5 { .w-1-5; }
    .@{bpPrefix}--w-1-6 { .w-1-6; }
    .@{bpPrefix}--w-2-3 { .w-2-3; }
    .@{bpPrefix}--w-2-5 { .w-2-5; }
    .@{bpPrefix}--w-3-4 { .w-3-4; }
    .@{bpPrefix}--w-3-5 { .w-3-5; }
    .@{bpPrefix}--w-4-5 { .w-4-5; }

    // auto width

    .@{bpPrefix}--w-auto { width: auto !important; }

    // fixed width & height

    .generate_width_height (@i) when (@i > 0) {
        .generate_width_height((@i - 1));
        .@{bpPrefix}--w-@{i} { width:  1rem * @i !important; }
        .@{bpPrefix}--h-@{i} { height: 1rem * @i !important; }
    }
    .generate_width_height(@responsiveSizingSteps);

}

// small

@media @bp-only-s { .responsive-sizing(only-s); }

// medium

@media @bp-m { .responsive-sizing(m); }
@media @bp-only-m { .responsive-sizing(only-m); }

// large

@media @bp-l { .responsive-sizing(l); }
@media @bp-only-l { .responsive-sizing(only-l); }

// x-large

@media @bp-xl { .responsive-sizing(xl); }