/** sizing-base.less */

// fractional width

.w-1-1,
.w-1-2,
.w-1-3,
.w-1-4,
.w-1-5,
.w-1-6,
.w-2-3,
.w-2-5,
.w-3-4,
.w-3-5,
.w-4-5,
.w-auto {
    box-sizing: border-box !important;
}

.w-1-1 { width: 100% !important; }
.w-1-2, .w-2-4, .w-3-6 { width: 50% !important; }
.w-1-3 { width: 33.3% !important; }
.w-1-4 { width: 25% !important; }
.w-1-5 { width: 20% !important; }
.w-1-6 { width: 16.6% !important; }
.w-2-3, .w-4-6 { width: 66.6% !important; }
.w-2-5 { width: 40% !important; }
.w-3-4 { width: 75% !important; }
.w-3-5 { width: 60% !important; }
.w-4-5 { width: 80% !important; }
.w-5-6 { width: 83.3% !important; }

// auto width & height

.w-auto { width: auto !important; }
.h-auto { height: auto !important; }

// full width & height

.w-full { width: 100% !important; }
.h-full { height: 100% !important; }

// fixed width & height

.generate_width_height (@i) when (@i > 0) {
    .generate_width_height((@i - 1));

    .w-@{i} {
        width:  @sizingMultiplicand * @i !important;
        box-sizing: border-box !important;
    }

    .h-@{i} {
        height: @sizingMultiplicand * @i !important;
        box-sizing: border-box !important;
    }

}
.generate_width_height(@sizingSteps);

.w-viewport { width: 1vw !important; }
.h-viewport { height: 1vh !important; }

// maximum & minimum width & height

.w-max-full     { max-width: 100% !important; }
.w-max-viewport { max-width: 1vw !important; }
.h-max-full     { max-height: 100% !important; }
.h-max-viewport { max-height: 1vh !important; }
.w-min-full     { min-width: 100% !important; }
.w-min-viewport { min-width: 1vw !important; }
.h-min-full     { min-height: 100% !important; }
.h-min-viewport { min-height: 1vh !important; }
