/** styling.less */

// standard border

.b-0   { border: 0 !important; }
.b-t-0 { border-top: 0 !important; }
.b-r-0 { border-right: 0 !important; }
.b-b-0 { border-bottom: 0 !important; }
.b-l-0 { border-left: 0 !important; }

.b-all { border: @color-main-23 1px solid !important; }
.b-t   { border-top: @color-main-23 1px solid !important; }
.b-r   { border-right: @color-main-23 1px solid !important; }
.b-b   { border-bottom: @color-main-23 1px solid !important; }
.b-l   { border-left: @color-main-23 1px solid !important; }

// border style

.b-dashed { border-style: dashed !important; }
.b-dotted { border-style: dotted !important; }
.b-solid  { border-style: solid !important; }

// border-width

.bw-1 { border-width: 1px !important; }
.bw-2 { border-width: 2px !important; }
.bw-3 { border-width: 4px !important; }

// border radius

.br-all    { .mixin-defaultBorderRadius !important; }
.br-circle { border-radius: 50% !important; overflow: hidden !important; }

.br-tl     { border-top-left-radius: 1px * @borderRadius !important; }
.br-tr     { border-top-right-radius: 1px * @borderRadius !important; }
.br-br     { border-bottom-right-radius: 1px * @borderRadius !important; }
.br-bl     { border-bottom-left-radius: 1px * @borderRadius !important; }

.br-0      { border-radius: 0 !important; }
.br-tl-0   { border-top-left-radius: 0 !important; }
.br-tr-0   { border-top-right-radius: 0 !important; }
.br-br-0   { border-bottom-right-radius: 0 !important; }
.br-bl-0   { border-bottom-left-radius: 0 !important; }

// box shadows

.sh-0 { box-shadow: 0 !important; }
.sh-1 { .mixin-shadow-1 !important; }
.sh-2 { .mixin-shadow-2 !important; }
.sh-3 { .mixin-shadow-3 !important; }
.sh-4 { .mixin-shadow-4 !important; }

// text shadows

.tsh-0 { text-shadow: none !important; }
.tsh-1 { text-shadow: 0 1px 0 fade(@color-main-5,30%) !important; }
.tsh-2 { text-shadow: 0 1px 0 fade(@color-main-5,50%) !important; }
.tsh-3 { text-shadow: 0 1px 3px fade(@color-main-5,70%) !important; }
.tsh-4 { text-shadow: 0 2px 5px fade(@color-main-5,50%) !important; }

// gradients

.gradient-t::after,
.gradient-r::after,
.gradient-b::after,
.gradient-l::after {
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.gradient-t::after { background: linear-gradient(fade(@color-main-5, 30%), @color-transparent); }
.gradient-r::after { background: linear-gradient(270deg, fade(@color-main-5, 30%), @color-transparent); }
.gradient-b::after { background: linear-gradient(@color-transparent, fade(@color-main-5, 30%)); }
.gradient-l::after { background: linear-gradient(90deg, fade(@color-main-5, 30%), @color-transparent); }

// background, border and text colors

.generate_colors (@i) when (@i > 0) {

    .generate_colors((@i - 1));

    // background colors

    .bg-attention-@{i} { background: ~"@{color-attention-@{i}}" !important; }
    .bg-blue-@{i}      { background: ~"@{blue-@{i}}" !important; }
    .bg-gray-@{i}      { background: ~"@{gray-@{i}}" !important; }
    .bg-green-@{i}     { background: ~"@{green-@{i}}" !important; }
    .bg-main-@{i}      { background: ~"@{color-main-@{i}}" !important; }
    .bg-negative-@{i}  { background: ~"@{color-negative-@{i}}" !important; }
    .bg-positive-@{i}  { background: ~"@{color-positive-@{i}}" !important; }
    .bg-purple-@{i}    { background: ~"@{purple-@{i}}" !important; }
    .bg-red-@{i}       { background: ~"@{red-@{i}}" !important; }
    .bg-yellow-@{i}    { background: ~"@{yellow-@{i}}" !important; }

    // border colors

    .bc-attention-@{i} { border-color: ~"@{color-attention-@{i}}" !important; }
    .bc-blue-@{i}      { border-color: ~"@{blue-@{i}}" !important; }
    .bc-gray-@{i}      { border-color: ~"@{gray-@{i}}" !important; }
    .bc-green-@{i}     { border-color: ~"@{green-@{i}}" !important; }
    .bc-main-@{i}      { border-color: ~"@{color-main-@{i}}" !important; }
    .bc-negative-@{i}  { border-color: ~"@{color-negative-@{i}}" !important; }
    .bc-positive-@{i}  { border-color: ~"@{color-positive-@{i}}" !important; }
    .bc-purple-@{i}    { border-color: ~"@{purple-@{i}}" !important; }
    .bc-red-@{i}       { border-color: ~"@{red-@{i}}" !important; }
    .bc-yellow-@{i}    { border-color: ~"@{yellow-@{i}}" !important; }

    // text colors

    .tc-attention-@{i} { color: ~"@{color-attention-@{i}}" !important; }
    .tc-blue-@{i}      { color: ~"@{blue-@{i}}" !important; }
    .tc-gray-@{i}      { color: ~"@{gray-@{i}}" !important; }
    .tc-green-@{i}     { color: ~"@{green-@{i}}" !important; }
    .tc-main-@{i}      { color: ~"@{color-main-@{i}}" !important; }
    .tc-negative-@{i}  { color: ~"@{color-negative-@{i}}" !important; }
    .tc-positive-@{i}  { color: ~"@{color-positive-@{i}}" !important; }
    .tc-purple-@{i}    { color: ~"@{purple-@{i}}" !important; }
    .tc-red-@{i}       { color: ~"@{red-@{i}}" !important; }
    .tc-yellow-@{i}    { color: ~"@{yellow-@{i}}" !important; }

}
.generate_colors(25);

// background colors

.bg-transparent { background: @color-transparent !important; }
.bg-white       { background: @color-white !important; }

// text colors

.tc-transparent { color: @color-transparent !important; }
.tc-white       { color: @color-white !important; }

// semantic text colors

.tc-attention             { color: @color-attention-8 !important; }
.tc-error, .tc-negative   { color: @color-negative-15 !important; }
.tc-gold                  { color: @color-gold !important; }
.tc-success, .tc-positive { color: @color-positive-15 !important; }
.tc-white                 { color: @color-white !important; }

// semantic border colors

.bc-transparent { border-color: @color-transparent !important; }
.bc-white       { border-color: @color-white !important; }

// opacity

.opacity-full { opacity: 1 !important; }
.opacity-9    { opacity: .9 !important; }
.opacity-8    { opacity: .8 !important; }
.opacity-7    { opacity: .7 !important; }
.opacity-6    { opacity: .6 !important; }
.opacity-5    { opacity: .5 !important; }
.opacity-4    { opacity: .4 !important; }
.opacity-3    { opacity: .3 !important; }
.opacity-2    { opacity: .2 !important; }
.opacity-1    { opacity: .1 !important; }
