/** typography-base.less */

// headings

.h1 { @h1(); }
.h2 { @h2(); }
.h3 { @h3(); }
.h4 { @h4(); }
.h5 { @h5(); }
.h6 { @h6(); }

// font-size

.fs-0 { font-size: 0 !important; }
.fs-1 { font-size: 1rem !important; }
.fs-2 { font-size: 1.5rem !important; }
.fs-3 { font-size: 2rem !important; }
.fs-4 { font-size: 2.5rem !important; }
.fs-5 { font-size: 3rem !important; }
.fs-6 { font-size: 3.5rem !important; }
.fs-7 { font-size: 4rem !important; }
.fs-8 { font-size: 4.5rem !important; }
.fs-9 { font-size: 5rem !important; }

// line-height

.lh-0 { line-height: 0 !important; }
.lh-1 { line-height: 1rem !important; }
.lh-2 { line-height: 1.5rem !important; }
.lh-3 { line-height: 2rem !important; }
.lh-4 { line-height: 2.5rem !important; }
.lh-5 { line-height: 3rem !important; }
.lh-6 { line-height: 3.5rem !important; }
.lh-7 { line-height: 4rem !important; }
.lh-8 { line-height: 4.5rem !important; }
.lh-9 { line-height: 5rem !important; }

// font family

.ff-serif { font-family: @font-serif !important; }
.ff-sans  { font-family: @font-sansserif !important; }
.ff-mono  { font-family: @font-mono !important; }

// font weight

.fw-normal { font-weight: normal !important; }
.fw-bold   { font-weight: bold !important; }

// font style

.fst-none   { font-style: normal !important; }
.fst-italic { font-style: italic !important; }

// text transform

.tt-capitalize { text-transform: capitalize !important; }
.tt-lowercase  { text-transform: lowercase !important; }
.tt-none       { text-transform: none !important; }
.tt-uppercase  { text-transform: uppercase !important; }

// text alignment

.al-r { text-align: right !important; }
.al-l { text-align: left !important; }
.al-c { text-align: center !important; }

// line-break

.lbr-none { white-space: nowrap !important; }

// text decoration

.tdr-none      { text-decoration: none !important; }
.tdr-underline { text-decoration: underline !important; }

// list styles

.lst-none   { list-style: none !important; }
.lst-square { list-style: square !important; }
.lst-circle { list-style: circle !important; }
.lst-disc   { list-style: disc !important; }