/** typography-base.less */

// headings

.h1 { .mixin-h1 !important; }
.h2 { .mixin-h2 !important; }
.h3 { .mixin-h3 !important; }
.h4 { .mixin-h4 !important; }
.h5 { .mixin-h5 !important; }
.h6 { .mixin-h6 !important; }

// font-size

.fs-0 { .mixin-fs-0 !important; }
.fs-1 { .mixin-fs-1 !important; }
.fs-2 { .mixin-fs-2 !important; }
.fs-3 { .mixin-fs-3 !important; }
.fs-4 { .mixin-fs-4 !important; }
.fs-5 { .mixin-fs-5 !important; }
.fs-6 { .mixin-fs-6 !important; }
.fs-7 { .mixin-fs-7 !important; }
.fs-8 { .mixin-fs-8 !important; }
.fs-9 { .mixin-fs-9 !important; }

// line-height

.lh-0 { .mixin-lh-0 !important; }
.lh-1 { .mixin-lh-1 !important; }
.lh-2 { .mixin-lh-2 !important; }
.lh-3 { .mixin-lh-3 !important; }
.lh-4 { .mixin-lh-4 !important; }
.lh-5 { .mixin-lh-5 !important; }
.lh-6 { .mixin-lh-6 !important; }
.lh-7 { .mixin-lh-7 !important; }
.lh-8 { .mixin-lh-8 !important; }
.lh-9 { .mixin-lh-9 !important; }

// font family

.ff-serif { font-family: @font-serif !important; }
.ff-sans  { font-family: @font-sansserif !important; }
.ff-mono  { font-family: @font-mono !important; }

// font weight

.fw-normal { font-weight: normal !important; }
.fw-bold   { font-weight: bold !important; }

// font style

.fst-none   { font-style: normal !important; }
.fst-italic { font-style: italic !important; }

// text transform

.tt-capitalize { text-transform: capitalize !important; }
.tt-lowercase  { text-transform: lowercase !important; }
.tt-none       { text-transform: none !important; }
.tt-uppercase  { text-transform: uppercase !important; }

// text alignment

.al-r { text-align: right !important; }
.al-l { text-align: left !important; }
.al-c { text-align: center !important; }

// line-break

.lbr-none { white-space: nowrap !important; }

// text decoration

.tdr-none      { text-decoration: none !important; }
.tdr-underline { text-decoration: underline !important; }

// list styles

.lst-none   { list-style: none !important; }
.lst-square { list-style: square !important; }
.lst-circle { list-style: circle !important; }
.lst-disc   { list-style: disc !important; }