{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Buttons Kitchensink
### Single Buttons
{% endmarkdown %}

<form class="m-tb-4">
    <span data-modifier="btn--light btn--dark btn--attention btn--negative btn--positive btn--subtle">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--light">light</option>
            <option value="btn--dark">dark</option>
            <option value="btn--attention">attention</option>
            <option value="btn--negative">error, negative</option>
            <option value="btn--positive">success, positive</option>
            <option value="btn--subtle">subtle</option>
        </select>
    </span>
    <b class="p-lr-1">+</b>
    <span data-modifier="btn--rounded btn--flat btn--outline">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--rounded">rounded</option>
            <option value="btn--flat">flat</option>
            <option value="btn--flat btn--rounded">flat rounded</option>
            <option value="btn--outline btn--outline">outline</option>
            <option value="btn--rounded btn--outline">rounded outline</option>
        </select>
    </span>
    <b class="p-lr-1">+</b>
    <span data-modifier="btn--small btn--medium btn--large">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--small">small</option>
            <option value="btn--medium">medium</option>
            <option value="btn--large">large</option>
        </select>
    </span>
</form>
<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example" data-controls>
            <button class="btn" style="margin-bottom: 3px;">
                <span>Button</span>
            </button>
            <hr class="m-tb-4" />
            {% for i in range(0, 86) %}
                <button class="btn" style="margin-bottom: 3px;">
                    <i aria-hidden="true" class="icon--{{ i|pad(2) }}-s"></i>
                    <span>Button</span>
                </button>
            {% endfor %}
            <hr class="m-tb-4" />
            {% for i in range(0, 86) %}
                <button class="btn" style="margin-bottom: 3px;">
                    <span>Button</span>
                    <i aria-hidden="true" class="icon--{{ i|pad(2) }}-s"></i>
                </button>
            {% endfor %}
            <hr class="m-tb-4" />
            {% for i in range(0, 86) %}
                <button class="btn" style="margin-bottom: 3px;">
                    <span class="hidden">Button</span>
                    <i aria-hidden="true" class="icon--{{ i|pad(2) }}-s"></i>
                </button>
            {% endfor %}
        </div>
    </div>
</div>

{% markdown %}
### Large Icons Inside Large Buttons
{% endmarkdown %}

<form class="m-tb-4">
    <span data-modifier="btn--light btn--dark btn--attention btn--negative btn--positive btn--subtle">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--light">light</option>
            <option value="btn--dark">dark</option>
            <option value="btn--attention">attention</option>
            <option value="btn--negative">error, negative</option>
            <option value="btn--positive">success, positive</option>
            <option value="btn--subtle">subtle</option>
        </select>
    </span>
    <b class="p-lr-1">+</b>
    <span data-modifier="btn--rounded btn--flat btn--outline">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--rounded">rounded</option>
            <option value="btn--flat">flat</option>
            <option value="btn--flat btn--rounded">flat rounded</option>
            <option value="btn--outline btn--outline">outline</option>
            <option value="btn--rounded btn--outline">rounded outline</option>
        </select>
    </span>
</form>
<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example">
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <i class="icon--022"></i>
                <span>Large Icon</span>
            </button>
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <span>Large Icon</span>
                <i class="icon--022"></i>
            </button>
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <span class="hidden">Large Icon</span>
                <i class="icon--022"></i>
            </button>
            <hr class="m-tb-4" />
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <i class="icon--026"></i>
                <span>Large Icon</span>
            </button>
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <span>Large Icon</span>
                <i class="icon--026"></i>
            </button>
            <button class="btn btn--large" style="margin-bottom: 3px;">
                <span class="hidden">Large Icon</span>
                <i class="icon--026"></i>
            </button>
        </div>
    </div>
</div>

{% markdown %}
### Light Outline Button on top of an Image
{% endmarkdown %}

<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example">
            <div class="posterTeaser posterTeaser--bottom w-24">
                <img src="assets/img/teasers/durex-240x240.jpg" alt="" />
                <p class="posterTeaser__body al-c m-b-2">
                    <a href="#" class="btn btn--light btn--large btn--outline">
                        <span>Learn more</span>
                        <i aria-hidden="true" class="icon--007-s"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% markdown %}
### Button Groups
{% endmarkdown %}

<form class="m-tb-4">
    <span data-modifier="btn--light btn--dark btn--attention btn--negative btn--positive btn--subtle">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--light">light</option>
            <option value="btn--dark">dark</option>
            <option value="btn--attention">attention</option>
            <option value="btn--negative">error, negative</option>
            <option value="btn--positive">success, positive</option>
            <option value="btn--subtle">subtle</option>
        </select>
    </span>
    <b class="p-lr-1">+</b>
    <span data-modifier="btn--rounded btn--flat btn--outline">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--rounded">rounded</option>
            <option value="btn--flat">flat</option>
            <option value="btn--flat btn--rounded">flat rounded</option>
            <option value="btn--outline btn--outline">outline</option>
            <option value="btn--rounded btn--outline">rounded outline</option>
        </select>
    </span>
    <b class="p-lr-1">+</b>
    <span data-modifier="btn--small btn--medium btn--large">
        <select class="btn--large btn--light">
            <option value="">none</option>
            <option value="btn--small">small</option>
            <option value="btn--medium">medium</option>
            <option value="btn--large">large</option>
        </select>
    </span>
</form>
<div class="documentation__blocks">
    <div class="documentation__block">
        <div class="documentation__example">
            <div class="btns m-b-2">
                <button class="btn">Button</button>
                <button class="btn">Button</button>
                <button class="btn">Button</button>
            </div>
            <div class="btns m-b-2">
                <button class="btn">
                    <i aria-hidden="true" class="icon--000-s"></i>
                    <span>Play</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--063-s"></i>
                    <span>Stop</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--064-s"></i>
                    <span>Pause</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--061-s"></i>
                    <span>Rewind</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--060-s"></i>
                    <span>Forward</span>
                </button>
            </div>
            <div class="btns m-b-2">
                <button class="btn">
                    <span>Play</span>
                    <i aria-hidden="true" class="icon--000-s"></i>
                </button>
                <button class="btn">
                    <span>Stop</span>
                    <i aria-hidden="true" class="icon--063-s"></i>
                </button>
                <button class="btn">
                    <span>Pause</span>
                    <i aria-hidden="true" class="icon--064-s"></i>
                </button>
                <button class="btn">
                    <span>Rewind</span>
                    <i aria-hidden="true" class="icon--061-s"></i>
                </button>
                <button class="btn">
                    <span>Forward</span>
                    <i aria-hidden="true" class="icon--060-s"></i>
                </button>
            </div>
            <div class="btns m-b-2">
                <button class="btn">
                    <span class="hidden">Play</span>
                    <i aria-hidden="true" class="icon--000-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Stop</span>
                    <i aria-hidden="true" class="icon--063-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Pause</span>
                    <i aria-hidden="true" class="icon--064-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Rewind</span>
                    <i aria-hidden="true" class="icon--061-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Forward</span>
                    <i aria-hidden="true" class="icon--060-s"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="documentation__block">
        <div class="documentation__example">
            <div class="btns btns--vertical m-b-2">
                <button class="btn">Button</button>
                <button class="btn">Button</button>
                <button class="btn">Button</button>
            </div>
            <div class="btns btns--vertical m-b-2">
                <button class="btn">
                    <i aria-hidden="true" class="icon--000-s"></i>
                    <span>Play</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--063-s"></i>
                    <span>Stop</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--064-s"></i>
                    <span>Pause</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--061-s"></i>
                    <span>Rewind</span>
                </button>
                <button class="btn">
                    <i aria-hidden="true" class="icon--060-s"></i>
                    <span>Forward</span>
                </button>
            </div>
            <div class="btns btns--vertical m-b-2">
                <button class="btn">
                    <span>Play</span>
                    <i aria-hidden="true" class="icon--000-s"></i>
                </button>
                <button class="btn">
                    <span>Stop</span>
                    <i aria-hidden="true" class="icon--063-s"></i>
                </button>
                <button class="btn">
                    <span>Pause</span>
                    <i aria-hidden="true" class="icon--064-s"></i>
                </button>
                <button class="btn">
                    <span>Rewind</span>
                    <i aria-hidden="true" class="icon--061-s"></i>
                </button>
                <button class="btn">
                    <span>Forward</span>
                    <i aria-hidden="true" class="icon--060-s"></i>
                </button>
            </div>
            <div class="btns btns--vertical m-b-2">
                <button class="btn">
                    <span class="hidden">Play</span>
                    <i aria-hidden="true" class="icon--000-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Stop</span>
                    <i aria-hidden="true" class="icon--063-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Pause</span>
                    <i aria-hidden="true" class="icon--064-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Rewind</span>
                    <i aria-hidden="true" class="icon--061-s"></i>
                </button>
                <button class="btn">
                    <span class="hidden">Forward</span>
                    <i aria-hidden="true" class="icon--060-s"></i>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customScripts %}
    <script>
        (function() {

            function initKitchensink() {

                $('[data-modifier]').on('change', function() {

                    var $this = $(this);

                    var allButtons       = $this.parent().next('.documentation__blocks').find('.btn');
                    var modifierClasses  = $this.data('modifier');
                    var selectedModifier = $this.find('option:selected').val();
                    var dependendSelect  = $this.nextAll('span').first().find('[role="customSelect"]');

                    allButtons.each(function() {

                        var $this = $(this);

                        $this.removeClass(modifierClasses);
                        $this.addClass(selectedModifier);

                        // special case because of flat/subtle depedency

                        if (selectedModifier === 'btn--subtle') {
                            dependendSelect.addClass('btn--disabled');
                            dependendSelect.find('select').prop('disabled', true);
                            dependendSelect.find('option').prop('selected', false);
                            $this.removeClass('btn--rounded btn--flat btn--outline');
                        } else {
                            dependendSelect.removeClass('btn--disabled');
                            dependendSelect.find('select').prop('disabled', false);
                        }

                    });

                });

            }

            $(window).on('load', initKitchensink);

        })();
    </script>
{% endblock %}
