{% extends 'layouts/base.html' %}
{% block main %}

{% markdown %}
## Remove
Create elements (eg. buttons) that remove their parent element or any other target-element from the current document/page.

|         |                                                                     |
| -       | -                                                                   |
| Js-File | [remove.js]({{ pathToSourceFile }}assets/js/modules/remove.js) |
| Hooks   | `yoi-remove`                                                       |

### Examples
Use any element as a trigger by adding the custom yoi-attribute `yoi-remove`. In this most basic example, the trigger’s parent element will get removed from the dom, once the trigger is clicked. This is the default behaviour.
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <div class="box w-30 h-20 p-2">
            <button class="btn pos-tr m-2" yoi-remove>Remove my Parent Element</button>
        </div>
    </div>
</div>

{% markdown %}
If you wish to remove any other element in the dom, refer to it through the trigger element by adding the value `target:` + a CSS-selector for the target element:
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <!-- the trigger element: -->
        <div class="m-b-2">
            <button class="btn" yoi-remove="target:#myTargetElement">Remove my Target Element</button>
        </div>
        <!-- the target element: -->
        <div id="myTargetElement" class="w-30 h-20 p-2 br bg-green-16 tc-white">
            <p>My Target Element</p>
        </div>
    </div>
</div>

{% markdown %}
If you wish to remove a collection of elements from the dom, refer to them throught the trigger element by adding the value `target:` + a CSS-selector for the target elements. You may use any valid CSS-selector – id, class name, tag name, attribute, etc. – plus any combination. Some examples:
{% endmarkdown %}

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <!-- the trigger element: -->
        <div class="m-b-2">
            <button class="btn" yoi-remove="target:.myTargetElement">Remove My Many Target Elements</button>
        </div>
        <!-- the target elements: -->
        <div class="myTargetElement w-30 p-2 m-b-2 br bg-red-16 tc-white">
            <p>One of My Many Target Elements</p>
        </div>
        <div class="myTargetElement w-30 p-2 m-b-2 br bg-red-16 tc-white">
            <p>One of My Many Target Elements</p>
        </div>
        <div class="myTargetElement w-30 p-2 m-b-2 br bg-red-16 tc-white">
            <p>One of My Many Target Elements</p>
        </div>
        <div class="myTargetElement w-30 p-2 br bg-red-16 tc-white">
            <p>One of My Many Target Elements</p>
        </div>
    </div>
</div>

<div class="documentation__block">
    <div class="documentation__example" yoi-printcode="language:markup; print:true;">
        <!-- the trigger element: -->
        <div class="m-b-2">
            <button class="btn" yoi-remove="target:.documentation__example ul,[href*=http]">Remove All Unordered Lists and External Links</button>
        </div>
        <!-- the target elements: -->
        <ul class="p-l-4 m-t-4 m-b-2">
            <li>Manganese</li>
            <li>Gold</li>
            <li>Calcium</li>
        </ul>
        <a href="http://yoshino.digital">Yoshino Digital</a>
    </div>
</div>

{% endblock %}
