/** slider.less */

// block
// =====

.slider {

    .mixin-defaultBorderRadius;
    border: @color-base-23 1px solid;
    padding: 0;
    position: relative;
    text-align: center;
    
    &:focus {
        box-shadow: none;
    }

    &, * {
        .mixin-userSelectNone;
    }

}

// elements
// ========

.slider__slides {
    overflow: hidden;
    position: relative;
}

.slider__slide {

    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;

    a& {
        text-decoration: none;
    }

    img {
        display: block;
    }

    [yoi-slider*="clickable"] & {
        cursor: pointer;
    }

    [yoi-slider*="animate"] & {
        background: inherit;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

}

.slider__caption {

    border-top: @color-base-23 1px solid;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    p {
        font-family: @font-sansserif;
        margin: 0;
    }

}

// modifiers
// =========

.slider--dark {

    background: @color-base-10;
    border-color: @color-base-8;
    color: @color-base-25;

    .slider__caption {
        border-color: @color-base-8;
        color: @color-base-24;
    }

}

.slider--super {

    .slider__caption {

        box-sizing: border-box;
        background: fade(@color-base-8,70%);
        border: 0;
        bottom: 0;
        color: @color-white;
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 280px;

        h1, h2, h3, h4, h5, h6 {
            font-family: @font-sansserif;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 2.5rem;
            text-transform: uppercase;
        }

        p {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-top: 1rem;
        }

    }

    .pageBtns {
        background: transparent;
        border-radius: 0;
        bottom: 1rem;
        left: auto;
        position: absolute;
        right: 1rem;
        top: auto;
        width: 26rem;
        z-index: 2;
    }

}
