/** verticalmenu.less */

// block
// =====

.verticalMenu {
    .mixin-defaultBorderRadius;
    border: @color-base-23 1px solid;
    list-style: none;
}

// elements
// ========

.verticalMenu__item {

    border-top: @color-base-23 1px solid;
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;

    &:first-child {
        border: 0;
    }

}

.verticalMenu__link {

    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    position: relative;
    text-decoration: none;

    &:active,
    &:link,
    &:visited {
        color: @textColor;
        text-decoration: none;
    }

    &:hover {
        background: @color-base-25;
    }

}

// nested elements
// ===============

// verticalMenu-nesting is limited to four levels.
// while this is quite ugly, there is no better solution.

// nesting-level 2

.verticalMenu .verticalMenu {
    border: 0;
    border-radius: 0;
}

.verticalMenu .verticalMenu .verticalMenu__item {
    border: 0;
    font-weight: normal;
}

// nesting-level 3

.verticalMenu .verticalMenu .verticalMenu {
    padding-left: 2rem;
}

.verticalMenu .verticalMenu .verticalMenu .verticalMenu__link {
    margin-left: -2rem;
    padding-left: 3rem;
}

// nesting-level 4

.verticalMenu .verticalMenu .verticalMenu .verticalMenu .verticalMenu__link {
    margin-left: -4rem;
    padding-left: 6rem;
}

// modifiers
// =========

// active verticalMenu items
// (can be either a .verticalMenu__item or .verticalMenu__link)

.verticalMenu .is--active {

    position: relative;

    &,
    .verticalMenu__link:link,
    .verticalMenu__link:visited,
    .verticalMenu__link:hover {
        background: @color-base-8;
        color: @color-white;
        font-weight: bold;
    }

}

// an active verticalMenu item can display a pointer
// to the left or right

.verticalMenu--pointLeft .is--active::after,
.verticalMenu--pointRight .is--active::after {
    background: @color-base-8;
    content: ' ';
    display: block;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform-origin: center;
    width: 1rem;
}

.verticalMenu--pointLeft .is--active::after {
    left: 0;
    transform: translate(-50% ,-50%) rotate(45deg);
}

.verticalMenu--pointRight .is--active::after {
    right: 0;
    transform: translate(50% ,-50%) rotate(45deg);
}

.verticalMenu--pointLeft .verticalMenu__link,
.verticalMenu--pointRight .verticalMenu__link {

    &,
    &:active,
    &:link,
    &:visited {
        color: @textColor;
    }
    
    &.is--active {
        color: @color-white;
    }

}
