/** verticalmenu.less */

// block
// =====

.verticalMenu {
    .mixin-defaultBorderRadius;
    border: @color-base-23 1px solid;
    list-style: none;
}

// elements
// ========

.verticalMenu__item {

    .mixin-fs-2;
    .mixin-fw-bold;
    border-top: @color-base-23 1px solid;
    margin: 0;

    &:first-child {
        border: 0;
    }

}

.verticalMenu__link {

    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    position: relative;
    text-decoration: none;

    &:active,
    &:link,
    &:visited {
        color: @textColor;
        text-decoration: none;
    }

    &:hover {
        background: @color-base-25;
    }

}

// nested elements
// ===============

// verticalMenu-nesting is limited to four levels.
// while this is quite ugly, there is no better solution.

// nesting-level 2

.verticalMenu .verticalMenu {
    border: 0;
    border-radius: 0;
}

.verticalMenu .verticalMenu .verticalMenu__item {
    .mixin-fw-normal;
    border: 0;
}

// nesting-level 3

.verticalMenu .verticalMenu .verticalMenu {
    padding-left: 2rem;
}

.verticalMenu .verticalMenu .verticalMenu .verticalMenu__link {
    margin-left: -2rem;
    padding-left: 3rem;
}

// nesting-level 4

.verticalMenu .verticalMenu .verticalMenu .verticalMenu .verticalMenu__link {
    margin-left: -4rem;
    padding-left: 6rem;
}

// modifiers
// =========

.is--active .verticalMenu__link::before {
    background: @color-primary-15;
    content: ' ';
    width: 2px;
    left: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
